<% content_for :title, @world_location_news.title %>

<% content_for :meta_tags do %>
  <%= tag("meta", name: "description", content: @world_location_news.description) if @world_location_news.description %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: @world_location_news.title,
      margin_top: 0,
    } %>
  </div>

  <div class="govuk-grid-column-one-third">
    <% if @world_location_news.translations.count > 1 %>
      <%= render "govuk_publishing_components/components/translation_nav", {
        translations: @world_location_news.translations,
        no_margin_top: true,
      } %>
    <% end %>

    <%= render "components/topic-list", {
        items: @world_location_news.ordered_featured_links,
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @world_location_news.ordered_featured_documents&.any? %>
      <section id="featured">
        <%= render "govuk_publishing_components/components/heading", {
          text: I18n.t("world_location_news.headings.featured"),
          padding: true,
          font_size: "l",
          border_top: 2,
          margin_bottom: 4,
        } %>

        <% @world_location_news.ordered_featured_documents.in_groups_of(3, false) do |row| %>
          <div class="govuk-grid-row">
            <% row.each do |document| %>
              <div class="govuk-grid-column-one-third">
                <%= render "govuk_publishing_components/components/image_card", document %>
              </div>
            <% end %>
          </div>
        <% end %>
      </section>
    <% end %>
  </div>
</div>

<% if I18n.locale == :en %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-7">
      <section id="latest">
        <%= render "govuk_publishing_components/components/heading", {
          text: I18n.t("world_location_news.headings.latest"),
          padding: true,
          font_size: 27,
          border_top: 2,
          margin_bottom: 3,
        } %>

        <% if @world_location_news.latest.any? %>
          <%= render(partial: 'shared/document_list_from_search_api', locals: { documents: @world_location_news.latest, link_to: search_url(:world_location_news, :latest, @world_location_news.slug) })  %>
        <% else %>
          <p class="govuk-body"><%= I18n.t("world_location_news.no_updates") %></p>
        <% end %>

        <%= render "govuk_publishing_components/components/subscription_links", {
          email_signup_link: "/email/subscriptions/new?topic_id=#{@world_location_news.slug}",
          feed_link_box_value: Plek.new.website_root + world_location_news_path(@world_location_news.slug, format: "atom")
        } %>
      </section>
    </div>
  </div>
<% end %>

<% if @world_location_news.mission_statement.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("world_location_news.headings.mission"),
        padding: true,
        font_size: "l",
        border_top: 2,
        margin_bottom: 2,
      } %>

      <p class="govuk-body">
        <%= @world_location_news.mission_statement %>
      </p>
    </div>
  </div>
<% end %>

<% if I18n.locale == :en && (@world_location_news.announcements.any? || @world_location_news.publications.any? || @world_location_news.statistics.any?) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-7">
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("world_location_news.headings.documents"),
        padding: true,
        font_size: "l",
        border_top: 2,
        margin_bottom: 3,
      } %>

      <%= render(partial: 'shared/document_list_from_search_api', locals: { documents: @world_location_news.announcements, heading: I18n.t("world_location_news.headings.announcements"), link_to: search_url(:world_location_news, :announcement, @world_location_news.slug) }) if @world_location_news.announcements.any? %>
      <%= render(partial: 'shared/document_list_from_search_api', locals: { documents: @world_location_news.publications, heading: I18n.t("world_location_news.headings.publications"), link_to: search_url(:world_location_news, :publication, @world_location_news.slug) }) if @world_location_news.publications.any? %>
      <%= render(partial: 'shared/document_list_from_search_api', locals: { documents: @world_location_news.statistics, heading: I18n.t("world_location_news.headings.statistics"), link_to: search_url(:world_location_news, :statistic, @world_location_news.slug) }) if @world_location_news.statistics.any? %>
    </div>
  </div>
<% end %>
