<% content_for :title, @world_location_news.title %>

<% content_for :meta_tags do %>
  <%= tag("meta", name: "description", content: @world_location_news.description) if @world_location_news.description %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: @world_location_news.title,
      margin_top: 0,
    } %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "components/topic-list", {
        items: @world_location_news.ordered_featured_links,
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @world_location_news.ordered_featured_documents&.any? %>
      <section id="featured">
        <%= render "govuk_publishing_components/components/heading", {
          text: I18n.t("world_location_news.headings.featured"),
          padding: true,
          font_size: "l",
          border_top: 2,
          margin_bottom: 4,
        } %>

        <% @world_location_news.ordered_featured_documents.in_groups_of(3, false) do |row| %>
          <div class="govuk-grid-row">
            <% row.each do |document| %>
              <div class="govuk-grid-column-one-third">
                <%= render "govuk_publishing_components/components/image_card", document %>
              </div>
            <% end %>
          </div>
        <% end %>
      </section>
    <% end %>
  </div>
</div>

<% if @world_location_news.mission_statement.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("world_location_news.headings.mission"),
        padding: true,
        font_size: "l",
        border_top: 2,
        margin_bottom: 2,
      } %>

      <p class="govuk-body">
        <%= @world_location_news.mission_statement %>
      </p>
    </div>
  </div>
<% end %>
