<div class="grid-row child-topic-contents">
  <div class="column-two-thirds">
    <div class="topic-content">

      <div data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">
          <div class="subsection">
            <div class="subsection__header">
              <h2 class="subsection__title"><%= taxon.title %></h2>
              <p class="subsection__description"><%= taxon.description %></p>
            </div>

            <div class="subsection__content">
              <%= render partial: 'tagged_content_list', locals: {
                tagged_content: tagged_content
              } %>
            </div>
          </div>
          <% child_taxons.each_with_index do |child_taxon, index| %>
            <div class="subsection">
              <div class="subsection__header">
                <h2 class="subsection__title"><%= child_taxon.title %></h2>
                <p class="subsection__description"><%= child_taxon.description %></p>
              </div>

              <div class="subsection__content" id="subsection_content_<%= index+1 %>">
                <%= render partial: 'tagged_content_list', locals: {
                  tagged_content: child_taxon.tagged_content
                } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
