<% content_for :title, presented_taxon.title %>
<% content_for :page_class, "taxon-page" %>
<% content_for :meta_tags do %>
  <meta name="description" content="<%= presented_taxon.description %>">
  <%= education_ab_test.analytics_meta_tag.html_safe %>
  <%= blue_box_ab_test.analytics_meta_tag.html_safe %>

  <meta name="govuk:navigation-page-type" content="<%= presented_taxon.rendering_type %>" />
<% end %>

<%= render partial: 'page_header', locals: { presented_taxon: presented_taxon } %>

<% content_for :breadcrumbs do %>
  <%=
    render(
      partial: 'govuk_component/beta_label',
      locals: {
        message: <<-MESSAGE
        This is a test version of the layout of this page.
        <a id=taxonomy-survey
           href='https://www.smartsurvey.co.uk/s/betasurvey2017'
           target='_blank'
           rel='noopener noreferrer'>
          Take the survey to help us improve it
        </a>
        MESSAGE
      }
    )
  %>
  <%= render partial: 'govuk_component/breadcrumbs',
    locals: {
      breadcrumbs: @navigation_helpers.taxon_breadcrumbs[:breadcrumbs],
      collapse_on_mobile: true
    } %>
<% end %>
