<% content_for :page_class, "taxon-page taxon-page--accordion" %>
<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: presented_taxon,
      education_ab_test: education_ab_test,
    }
  )
%>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render partial: 'high-volume', locals: { presented_taxon: presented_taxon } %>
  </div>
</div>

<% if presented_taxon.accordion_content.present? %>
  <div class="grid-row child-topic-contents">
    <div class="column-two-thirds">
      <div class="topic-content">
        <%
          accordion_contents = []
        %>
        <% presented_taxon.accordion_content.each_with_index do |taxon, index| %>
          <% contents = capture do %>
            <% if taxon.can_subscribe? %>
              <%= render partial: 'email_alerts', locals: { presented_taxon: taxon } %>
            <% end %>
            <%= render partial: 'content_list_for_child_taxon', locals: {
              section_index: index,
              tagged_content: taxon.tagged_content,
            } %>
          <% end %>

          <%
            accordion_contents << {
              title: taxon.title,
              description: taxon.description,
              id: taxon.base_path,
              panel: contents
            }
          %>
        <% end %>

        <%= render 'components/accordion', sections: accordion_contents %>
      </div>
    </div>
  </div>
<% end %>
