<% add_view_stylesheet("taxons") %>

<% content_for :page_class, "taxon-page taxon-page--grid" %>
<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: presented_taxon
    }
  )
%>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third content-list__sticky">
      <%= render "govuk_publishing_components/components/contents_list", {
        contents: @presentable_section_items
      } %>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%
        index_section_count = presented_taxon.page_section_total
        index = 0
      %>
      <% presented_taxon.sections.each do |section| %>
        <% if section[:show_section] %>
          <%
            index += 1 # increment index if section should be shown (otherwise could use each_with_index)
            index_total = section[:documents].length

            # deals with the news and comms section
            if section[:documents_with_promoted]
              index_total = section[:documents_with_promoted].length
              index_total = 1 if section[:documents].empty?
            end
            index_total += 1 if section[:see_more_link]
            title = t(section[:id], scope: :content_purpose_supergroup, default: section[:title], locale: :en)
          %>
          <div id="<%= section[:id] %>" class="taxon-page__section-group">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <%= render "govuk_publishing_components/components/heading", {
                  text: title,
                  heading_level: 2,
                  margin_bottom: 3
                } %>
              </div>
            </div>
            <%
              ga4_data = {
                module: "ga4-link-tracker",
                ga4_track_links_only: "",
                ga4_set_indexes: "",
                ga4_link: {
                  event_name: "navigation",
                  type: "document list",
                  index_section: index,
                  index_section_count: index_section_count,
                  index_total: index_total,
                  section: title
                }
              }
            %>
            <%= content_tag(:div, data: ga4_data) do %>
              <%= render(partial: section[:partial_template], locals: { section: section }) %>
            <% end %>
            <% if section[:see_more_link] %>
              <%
                ga4_data.except!(:ga4_set_indexes)
                ga4_data[:ga4_link][:type] = 'see all'
                docs = section[:documents_with_promoted] || section[:documents]
                ga4_data[:ga4_link][:index_link] = docs.length + 1
              %>
              <%= content_tag(:div, data: ga4_data) do %>
                <%= link_to(
                  section[:see_more_link][:text],
                  section[:see_more_link][:url],
                  data: section[:see_more_link][:data],
                  class: "govuk-link"
                )%>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%= render partial: 'organisations', locals: { presented_organisations: presented_taxon.organisations_section, index_section: presented_taxon.count_sections + 1, index_section_count: index_section_count } %>

      <% if presented_taxon.show_subtopic_grid? %>
        <div id="sub-topics" class="taxon-page__section-group" data-module="ga4-link-tracker">
          <%= render "govuk_publishing_components/components/heading", {
            text: t('taxons.explore_sub_topics'),
            heading_level: 2,
            margin_bottom: 3
          } %>

          <%= render 'govuk_publishing_components/components/document_list',
            items: presented_taxon.child_taxons.each_with_index.map { |child_taxon, index| { link: { text: child_taxon.title, path: child_taxon.preferred_url, data_attributes: presented_taxon.options_for_child_taxon(index: index) }} }
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>
