<% content_for :page_class, "taxon-page taxon-page--grid" %>
<% content_for :is_taxon_with_subtopics, presented_taxon.show_subtopic_grid? %>
<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: presented_taxon
    }
  )
%>

<div class="full-page-width-wrapper">
  <% presented_taxon.sections.each do |section| %>
    <% if section[:show_section] %>
    <div class="taxon-page__section-group">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="taxon-page__section-heading"><%= section[:title] %></h2>
          <%= render 'govuk_publishing_components/components/document_list',
            items: section[:documents],
            margin_top: true,
            margin_bottom: true
         %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<% if content_for(:is_taxon_with_subtopics) %>
  <nav role="navigation" class="taxon-page__grid">
    <div class="full-page-width-wrapper">
      <h2 class="taxon-page__section-heading taxon-page__grid-heading">Explore these sub-topics</h2>
      <ol>
        <% presented_taxon.child_taxons.each_with_index do |child_taxon, index| %>
          <li class="<%= 'leftmost-row-cell-clear-float' if index % 3 == 0 %>">
            <h2>
              <%= link_to(
                child_taxon.title,
                child_taxon.base_path,
                data: presented_taxon.options_for_child_taxon(index: index)
              )%>
            </h2>
            <p><%= child_taxon.description %></p>
          </li>
        <% end %>
      </ol>
    </div>
  </nav>
<% end %>
