<% content_for :page_class, "taxon-page taxon-page--grid" %>
<% content_for :is_taxon_with_subtopics, presented_taxon.show_subtopic_grid? %>
<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: presented_taxon
    }
  )
%>

<div class="full-page-width-wrapper">
  <% presented_taxon.sections.each do |section| %>
    <% if section[:show_section] %>
    <div class="taxon-page__section-group">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="taxon-page__section-heading"><%= section[:title] %></h2>
        </div>
      </div>
      <%= render(
        partial: section[:partial_template],
        locals: { section: section }
      )
     %>
     <%= link_to(
       section[:see_more_link][:text],
       section[:see_more_link][:url]
     )%>
    </div>
    <% end %>
  <% end %>

  <%= render(partial: 'organisation_logos', locals: { presented_taxon: presented_taxon }) %>
  <%= render(partial: 'organisations', locals: { presented_taxon: presented_taxon }) %>
</div>

<% if content_for(:is_taxon_with_subtopics) %>
  <nav role="navigation" class="taxon-page__grid">
    <div class="full-page-width-wrapper">
      <h2 class="taxon-page__section-heading taxon-page__grid-heading">Explore these sub-topics</h2>
      <ol class="taxon-page__grid-wrapper">
        <% presented_taxon.child_taxons.each_with_index do |child_taxon, index| %>
          <li class="taxon-page__grid-item">
            <h2 class="taxon-page__grid-heading">
              <%= link_to(
                child_taxon.title,
                child_taxon.base_path,
                data: presented_taxon.options_for_child_taxon(index: index)
              )%>
            </h2>
            <p class="taxon-page__grid-item-description"><%= child_taxon.description %></p>
          </li>
        <% end %>
      </ol>
    </div>
  </nav>
<% end %>
