<% content_for :title, taxon.title %>
<% content_for :page_class, "taxon-page" %>
<% content_for :meta_tags do %>
  <%= ab_variant.analytics_meta_tag.html_safe %>
  <meta name="govuk:navigation-page-type" content="<%=taxon_page_rendering_type(taxon)%>" />
<% end %>

<%= render partial: 'page_header', locals: { taxon: taxon } %>

<% content_for :breadcrumbs do %>
  <%=
    render(
      partial: 'govuk_component/beta_label',
      locals: {
        message: <<-MESSAGE
        This is a test version of the layout of this page.
        <a href='https://www.smartsurvey.co.uk/s/betasurvey2017'>
          Take the survey to help us improve it
        </a>
        <span id=banner-notification style='display:none;'><span>
        MESSAGE
      }
    )
  %>
  <%= render partial: 'govuk_component/breadcrumbs',
    locals: @navigation_helpers.taxon_breadcrumbs %>
<% end %>

<% if taxon.grandchildren? %>
  <%= render partial: 'child_taxons_grid',
    locals: { child_taxons: taxon.child_taxons } %>

  <%= render partial: 'content_list_for_current_taxon', locals: {
  taxon: taxon,
  tagged_content: taxon.tagged_content,
  is_grid: true,
  } %>
<% else %>
  <% if taxon.children? %>
    <%= render partial: 'child_taxons_list', locals: {
      accordion_content: taxon_overview_and_child_taxons(taxon),
    } %>
  <% else %>
    <%= render partial: 'content_list_for_current_taxon', locals: {
      taxon: taxon,
      tagged_content: taxon.tagged_content,
    } %>
  <% end %>
<% end %>
