<%
  sections ||= false
  controls_on_left ||= false
%>
<% if sections %>
  <div data-module="accordion" class="app-c-accordion js-hidden <%= "app-c-accordion--controls-on-left" if controls_on_left %>">
    <% sections.each_with_index do |section, index| %>
      <%
        id = section[:id] || section[:title].downcase.tr(" ","-")
      %>
      <div class="app-c-accordion__section js-section" id="<%= id %>" data-track-count="accordionSection">
        <div class="app-c-accordion__header js-toggle-panel">
          <h2 class="app-c-accordion__title js-section-title">
            <%= section[:title] %>
          </h2>
          <% if section[:description].present? %>
            <p class="app-c-accordion__description">
              <%= section[:description] %>
            </p>
          <% end %>
        </div>

        <div class="app-c-accordion__panel js-panel" id="section-panel-<%= id %>-<%= index + 1 %>">
          <%= section[:panel] %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
