<%
  title ||= false
  title_logo ||= false
  heading ||= false
  list ||= []
  call_to_action ||= false
  nhs_branding ||= false
  branding_classes = 'app-c-header-notice__branding--nhs' if nhs_branding
%>
<% if title.present? || title_logo.present? %>
<section class="app-c-header-notice <%= branding_classes %>" aria-label="notice" role="region">
  <div class="app-c-header-notice__header">
    <% if title_logo.present? %>
      <span class="app-c-header-notice__title-logo"><%= title_logo %></span>
    <% end %>
    <% if title.present? %>
      <h2 class="app-c-header-notice__title govuk-heading-m"><%= title %></h2>
    <% end %>
  </div>

  <div class="app-c-header-notice__content">
    <% if heading.present? %>
      <h2 class="app-c-header-notice__heading govuk-heading-m"><%= heading %></h2>
    <% end %>
    <% if list.any? %>
      <ul class="app-c-header-notice__list govuk-list govuk-list--bullet">
        <% list.each do |item| %>
          <li>
            <% if item.is_a?(Hash) %>
              <%= link_to(item["label"], item["href"], class: "app-c-header-notice__call-to-action-link govuk-link") %>
            <% else %>
              <%= item %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if call_to_action.present? %>
      <p class="app-c-header-notice__call-to-action">
        <%= link_to(call_to_action[:title], call_to_action[:href], class: "app-c-header-notice__call-to-action-link govuk-link") %>
      </p>
      <% if call_to_action[:description].present? %>
        <p class="app-c-header-notice__call-to-action-description"><%= call_to_action[:description] %></p>
      <% end %>
    <% end %>
  </div>
</section>
<% end %>
