<%
  items ||= []
  inverse ||= false
  inverse_class = "app-c-highlight-boxes--inverse" if inverse
%>
<% if items.any? %>
  <ol class="app-c-highlight-boxes">
    <% items.each do |content_item| %>
      <li class="app-c-highlight-boxes__item-wrapper">
        <div class="app-c-highlight-boxes__item <%= inverse_class %>">
          <a
            class="app-c-highlight-boxes__title <%= "app-c-highlight-boxes__title--featured" if content_item[:link][:featured] %>"
            href="<%= content_item[:link].fetch(:path) %>"
          >
            <%= content_item[:link].fetch(:text)  %>
          </a>

          <% if content_item[:link][:description] %>
            <p class="app-c-highlight-boxes__description"><%= content_item[:link][:description] %></p>
          <% end %>

          <% if content_item[:metadata] %>
            <% content_item[:metadata].each do |metadata_key, metadata_value| %>
              <% if metadata_key.to_s.eql?("public_updated_at") %>
                <time class="app-c-highlight-boxes__metadata" datetime="<%= metadata_value.iso8601 %>">
                  <%= l(metadata_value, format: '%e %B %Y') %>
                </time>
              <% else %>
                <p class="app-c-highlight-boxes__metadata"><%= metadata_value %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ol>
<% end %>
