<% if section[:child_topics] %>
  <a href="#all-topics"><%= t('see_all_topics') %></a>
<% end %>

<% section[:taxons].each do |taxon_name, taxon_group| %>
  <% taxon_group.each do |taxon| %>
  <div class="grid-row taxon-page__popular">
    <h3 class="column-one-third taxon-page__popular-title">
      <% if taxon_group.size > 1 %>
        <span class="taxon-page__popular-title-context"><%= taxon[:parent] %></span>
      <% end %>
      <%= request.path.eql?(taxon[:base_path]) ? t('on_this_page') : taxon_name %>
    </h3>
    <div class="column-two-thirds">
      <ul class="taxon-page__popular-list">
        <% taxon[:popular_content].each do |document| %>
          <li class="taxon-page__popular-link"><%= link_to(document[:title], document[:base_path]) %></li>
        <% end %>
      </ul>
      <% unless request.path.eql?(taxon[:base_path]) %>
        <a href="<%= taxon[:base_path] %>"><%= t('see_all_in', taxon: taxon_name) %></a>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
