<%
  featured_item = section[:promoted_content].first
  featured_item_layout_class = "taxon-page__featured-item--single" if section[:documents].empty?
%>

<div class="grid-row">
  <div class="taxon-page__featured-item column-one-third <%= featured_item_layout_class %>" <%= "data-module=track-click" if track_click?(section[:promoted_content]) %>>
    <%= render "govuk_publishing_components/components/image_card", {
        href: featured_item[:link].fetch(:path),
        image_src: featured_item[:image][:url],
        heading_text: featured_item[:link].fetch(:text),
        metadata: featured_item[:metadata][:organisations],
        context: {
          date: featured_item[:metadata][:public_updated_at],
          text: featured_item[:metadata][:document_type]
        }
    } %>
  </div>
  <% if section[:documents].any? %>
    <div class="column-two-thirds" <%= "data-module=track-click" if track_click?(section[:documents]) %>>
      <%= render 'govuk_publishing_components/components/document_list',
        items: section[:documents],
        margin_top: true,
        margin_bottom: true
      %>
  <% else %>
    <div class="taxon-page__featured-see-more">
  <% end %>
    <%= render partial: "taxons/sections/see_more_link", locals: { section: section } %>

  </div>
</div>
