<% content_for :is_full_width_header, true %>
<% content_for :title, @content_item["title"] %>
<% content_for :meta_tags do %>
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= request.base_url + request.path %>">
  <meta property="og:title" content="<%= @content_item["title"] %>">
  <meta property="og:description" content="<%= @content_item["description"] %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= image_url("corona-twitter-image.png") %>">
  <meta name="description" content="<%= @content_item["description"] %>">
  <meta name="govuk:navigation-page-type" content="Taxon Page" />
<% end %>

<header class="covid__page-header" data-module="coronavirus-landing-page">
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="covid__page-title">
          <%= @content_item["title"] %>
        </h1>
      </div>
    </div>
  </div>

  <div class="covid__page-header-light">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: rules["pretext"],
            padding: true,
            font_size: 19,
            inverse: true
          } %>
          <ul class="govuk-list govuk-list--bullet covid__page-header-list">
            <% rules["list"].each do | item | %>
              <li><%= item %></li>
            <% end %>
          </ul>

          <p class="govuk-body covid__page-header-body-pretext">
            <%= guidance["pretext-1"] %>
          </p>
          <p class="govuk-body covid__page-header-body-pretext">
            <%= guidance["pretext-2"] %>
          </p>
        </div>
      </div>

      <div class="govuk-grid-row covid__logo-wrapper">
        <div class="govuk-grid-column-two-thirds">
          <span class="covid__highlight-link">
            <a class="govuk-link covid__page-header-link" href="<%= guidance["link"]["href"] %>">
              <%= guidance["link"]["text"] %>
            </a>
          </span>
        </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'covid_logos' %>
      </div>
    </div>

    <%= render "govuk_publishing_components/components/heading", {
      text: details.announcements_label,
      padding: true,
      font_size: 19,
      border_top: 2,
      brand: 'public-health-england',
      inverse: true
    } %>
    <div class="govuk-grid-row">
      <% details.announcements.each do |announcement| %>
        <div class="govuk-grid-column-one-third">
          <% announcement_text = capture do %>
            <% if announcement["href"].present? %>
              <a href="<%= announcement["href"] %>" class="govuk-link covid__page-header-link">
                <%= announcement["text"] %>
              </a>
            <% else %>
              <%= announcement["text"] %>
            <% end %>
            <%= render "govuk_publishing_components/components/heading", {
              text: announcement_text,
              heading_level: 3,
              font_size: 19,
              inverse: true,
              margin_bottom: 4
            } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
