<% content_for :is_full_width_header, true %>
<% content_for :title, t("coronavirus_landing_page.meta_title") %>
<% content_for :meta_tags do %>
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= request.base_url + request.path %>">
  <meta property="og:title" content="<%= t("coronavirus_landing_page.meta_title") %>">
  <meta property="og:description" content="<%= t("coronavirus_landing_page.meta_description") %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= image_url("corona-twitter-image.png") %>">
  <meta name="description" content="<%= t("coronavirus_landing_page.meta_description") %>">
  <meta name="govuk:navigation-page-type" content="Taxon Page" />
<% end %>

<header class="covid__page-header" data-module="coronavirus-landing-page">
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="covid__page-title">
          <%= t("coronavirus_landing_page.page_header") %>
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/heading", {
          text: t("coronavirus_landing_page.stay_at_home.pretext"),
          padding: true,
          font_size: 19,
          inverse: true
        } %>
        <ul class="govuk-list govuk-list--bullet covid__page-header-list">
          <% t("coronavirus_landing_page.stay_at_home.list").each do | item | %>
            <li><%= item %></li>
          <% end %>
        </ul>

        <div class="covid__page-header-guidance-section">
          <p class="govuk-body covid__page-header-body-pretext">
            <%= t("coronavirus_landing_page.guidance.pretext") %>
          </p>
          <p class="govuk-body">
            <a class="govuk-link covid__page-header-link" href="<%= t("coronavirus_landing_page.guidance.link.href") %>">
              <%= t("coronavirus_landing_page.guidance.link.text") %>
            </a>
          </p>
        </div>
      </div>
    </div>

    <%= image_tag("corona-landing-page-logos.png", class: "covid__logos", alt: "Stay at home. Protect the NHS. Save lives.") %>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("coronavirus_landing_page.announcements_label"),
      padding: true,
      font_size: 19,
      inverse: true
    } %>
    <div class="govuk-grid-row">
      <% t("coronavirus_landing_page.announcements").each do |announcement| %>
        <div class="govuk-grid-column-one-third">
          <% announcement_text = capture do %>
            <% if announcement[:href].present? %>
              <a href="<%= announcement[:href] %>" class="govuk-link covid__page-header-link">
                <%= announcement[:text] %>
              </a>
            <% else %>
              <%= announcement[:text] %>
            <% end %>
          <% end %>
          <%= render "govuk_publishing_components/components/heading", {
            text: announcement_text,
            heading_level: 3,
            font_size: 19,
            border_top: 2,
            padding: true,
            inverse: true,
            brand: 'public-health-england'
          } %>
        </div>
      <% end %>
    </div>
  </div>
</header>
