<%= render partial: "coronavirus_landing_page/components/shared/meta_tags", locals: {
  corona_opengraph_images: true
} %>

<%= render partial: 'coronavirus_landing_page/components/shared/schema', locals: {
  presenter: details,
  special_announcement: special_announcement,
} %>

<%= render partial: 'coronavirus_landing_page/components/landing_page/page_header', locals: {
  details: details,
  breadcrumbs: breadcrumbs,
  title: title,
  header: details.header_section
} %>

<div class="govuk-width-container covid__page" data-module="coronavirus-landing-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render 'components/header-notice', {
        nhs_branding: true,
        title_logo: render("coronavirus_landing_page/components/shared/nhs_logo"),
        heading: details.nhs_banner["heading"],
        list: details.nhs_banner["list"],
        call_to_action: {
          href: details.nhs_banner["call_to_action"]["href"],
          title: details.nhs_banner["call_to_action"]["title"],
          subtext: details.nhs_banner["call_to_action"]["subtext"],
          description: details.nhs_banner["call_to_action"]["description"]
        }
      } %>

      <%= render 'coronavirus_landing_page/components/landing_page/find_help',  {
        heading: details.find_help["heading"],
        copy: details.find_help["paragraph"],
        call_to_action: {
          href: details.find_help["link"]["href"],
          text: details.find_help["link"]["text"]
        }
      } %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <%= render partial: 'coronavirus_landing_page/components/shared/timeline', locals: { timeline: details.timeline } %>
      <%= render partial: 'coronavirus_landing_page/components/shared/accordion_sections', locals: {
        accordions: details.sections,
        heading: details.sections_heading,
        heading_padding: true,
        border_top: 2,
      } %>
      <%= render partial: 'coronavirus_landing_page/components/shared/country_section', locals: { guidance: details.additional_country_guidance } %>
      <%# Video player no longer represents current guidance %>
      <%#= render partial: 'coronavirus_landing_page/components/shared/video_player_section' %>
      <%= render partial: 'coronavirus_landing_page/components/shared/announcements_section', locals: { details: details } %>
      <%= render partial: 'coronavirus_landing_page/components/landing_page/live_stream_section', locals: { live_stream: details.live_stream } %>
      <%= render partial: 'coronavirus_landing_page/components/shared/topic_section', locals: {
        topic_section: details.statistics_section,
        tracking_category: "pageElementInteraction",
        tracking_action: "Statistics",
      } %>
      <%= render partial: 'coronavirus_landing_page/components/shared/topic_section', locals: { topic_section: details.topic_section } %>
      <%= content_tag :section, class: "covid__topic-wrapper" do
        render partial: 'components/signup-link', locals: {
          link_text: details.notifications["email_link"],
          link_href: details.notifications["email_url"],
          heading: details.notifications["intro"],
          data: {
            "module": "track-click",
            "track-category": "emailAlertLinkClicked",
            "track-action": "/coronavirus",
          },
          background: true
        }
      end if details.notifications %>
    </div>
  </div>
</div>
