<%= render partial: "coronavirus_landing_page/components/shared/meta_tags", locals: {
  corona_opengraph_images: true
} %>

<%= render partial: 'coronavirus_landing_page/components/shared/schema', locals: {
  presenter: details,
  special_announcement: special_announcement,
} %>

<%= render partial: 'coronavirus_landing_page/components/landing_page/page_header', locals: {
  details: details,
  breadcrumbs: breadcrumbs,
  title: title,
  header: details.header_section
} %>

<div class="govuk-width-container covid__page" data-module="coronavirus-landing-page">
  <section class="covid__section covid__section--first">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Guidance and support",
          margin_bottom: 3,
          font_size: "m"
        } %>
        <%= render partial: 'coronavirus_landing_page/components/shared/country_guidance', locals: { guidance: details.additional_country_guidance } %>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <%= render partial: 'coronavirus_landing_page/components/shared/accordion_sections', locals: {
          accordions: details.sections
        } %>
        <%= render partial: 'coronavirus_landing_page/components/shared/country_section' %>
      </div>
    </div>
  </section>

  <section class="covid__section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render "govuk_publishing_components/components/heading", {
          text: "More COVID-19 information",
          margin_bottom: 6,
          font_size: "m"
        } %>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <%= render partial: 'coronavirus_landing_page/components/shared/topic_section', locals: {
          topic_section: details.topic_section,
          tracking_category: "pageElementInteraction",
          tracking_action: "CoronavirusInformation",
        } %>
      </div>
    </div>
  </section>

  <%= content_tag :section, class: "covid__topic-wrapper" do
    render 'govuk_publishing_components/components/signup_link', {
      link_text:  "Sign up to get emails when we change any coronavirus information on the GOV.UK website",
      link_href: "/email-signup?topic=/coronavirus-taxon",
      heading: "Stay up to date with GOV.UK",
      data: {
        "module": "gem-track-click",
        "track-category": "emailAlertLinkClicked",
        "track-action": "/coronavirus",
      },
      background: true
    }
  end %>
</div>
