<div class="landing-page__section" id="<%= bucket["section_id"].downcase() %>"
  data-analytics-ecommerce
  data-ecommerce-start-index="1"
  data-list-title="Brexit landing page: <%= t('brexit_landing_page.' + bucket["section_id"]) %>"
  data-search-query>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('brexit_landing_page.' + bucket["section_id"]),
        padding: true,
      } %>

      <% if bucket["section_description"] %>
        <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
          <%= bucket["section_description"] %>
        <% end %>
      <% end %>

    </div>
  </div>

  <% if bucket["section_list"] %>
    <% bucket["section_list"].each.with_index do |items, index| %>
      <div class="landing-page__section-list-wrapper <%= "landing-page__section-list-wrapper--first" if index.eql?(0) %>" >
        <div class="grid-row">
          <div class="govuk-grid-column-one-third">
            <% if items["row_title"] %><h3 class="govuk-heading-s"><%= items["row_title"] %></h3><% end %>

            <% if items["row_title_description"] %>
              <%= render "govuk_publishing_components/components/govspeak", {
                } do %>
                <%= items["row_title_description"] %>
              <% end %>
            <% end %>
          </div>

          <%= render partial: 'document_list', locals: { items: items["list_links"], block: items["list_block"], see_all_link: items["see_all_link"], see_all_text: items["see_all_text"]} %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
