<% guidance_header = t("brexit_landing_page.guidance_header") %>

<div class="landing-page__section"
  data-analytics-ecommerce
  data-ecommerce-start-index="1"
  data-list-title="<%= t("brexit_landing_page.data_list_title", header: guidance_header) %>"
  data-search-query>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/heading", {
        text: guidance_header,
        heading_level: 2,
        font_size: "l",
        margin_bottom: 6,
      } %>
    </div>
  </div>

  <% campaign_links = I18n.t("brexit_landing_page.campaign_links") %>
  <%
    links = campaign_links[:links].map do |link|
      link_to(link[:text], link[:path], class: "govuk-link", data: {
        track_action: link[:path],
        track_category: "transition-landing-page",
        track_label: "What you can do now"
      })
    end
  %>
  <div class="govuk-grid-row landing-page__section-list-wrapper">
    <div class="govuk-grid-column-two-thirds">
      <p class='govuk-body'><%= campaign_links[:lead_in] %></p>

      <%= tag.ul class: %w[govuk-list govuk-list--bullet govuk-list--spaced], data: { module: "gem-track-click" } do %>
        <% links.each do |link| %>
          <%= tag.li do %>
            <%= link %>
          <% end %>
        <% end %>
      <% end %>

      <p class="govuk-body govuk-!-padding-top-2"><%= sanitize(campaign_links[:lead_out], attributes: %w(href class data-module data-track-action data-track-category data-track-label)) %></p>
    </div>
  </div>
</div>
