<% content_for :is_full_width_header, true %>
<% content_for :title, I18n.t("brexit_landing_page.title") %>
<% content_for :meta_tags do %>
  <meta name="description" content="<%= I18n.t("brexit_landing_page.description") %>">
  <meta name="govuk:navigation-page-type" content="Taxon Page" />
<% end %>

<%= render partial: 'page_header', locals: { presented_taxon: presented_taxon } %>
<% if show_dynamic_list %>
  <div class="landing-page__ready">
    <div class="full-page-width-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m"><%= I18n.t("brexit_landing_page.check_ready") %></h2>
          <%= render 'govuk_publishing_components/components/lead_paragraph', {
            text: I18n.t("brexit_landing_page.checklist")
          } %>

          <%= render "govuk_publishing_components/components/button", {
            text: "Start now",
            href: "https://brexit-dynamic-lists.cloudapps.digital/start",
            data_attributes: {
              module: "track-click",
              "track-category": "startButtonClicked",
              "track-action": "#",
              "track-label": "Start now"
            }
          } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% hidden_text = capture do %>
  <span class="govuk-visually-hidden">Share on</span>
<% end %>

<div class="landing-page__share">
  <div class="full-page-width-wrapper">
    <%= render "govuk_publishing_components/components/share_links", {
      title: "Share this page",
      links: [
        {
          href: "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.gov.uk%2Fbrexit",
          text: hidden_text + "Facebook",
          icon: "facebook"
        },
        {
          href: "https://twitter.com/share?url=https%3A%2F%2Fwww.gov.uk%2Fbrexit",
          text: hidden_text + "Twitter",
          icon: "twitter"
        },
        {
          href: "mailto:?body=https://www.gov.uk/brexit/&subject=Get ready for Brexit - GOV.UK",
          text: hidden_text + "Email",
          icon: "email"
        },
        {
          href: "https://api.whatsapp.com/send?text=https://www.gov.uk/brexit",
          text: hidden_text + "WhatsApp",
          icon: "whatsapp"
        },
        {
          href: "http://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.gov.uk%2Fbrexit&title=Get%20ready%20for%20Brexit%20-%20GOV.UK",
          text: hidden_text + "LinkedIn",
          icon: "linkedin"
        },
      ]
    } %>
  </div>
</div>
