<%
  comms_links = comms[:links]
  comms_video = comms[:video]

  grid_class = "govuk-grid-row" if comms_links
  links_grid_class = comms_video ? "govuk-grid-column-one-half" : "govuk-grid-column-two-thirds"
  video_grid_class = "govuk-grid-column-one-half" if comms_links
%>

<div class="landing-page__section">
  <h2 class="govuk-heading-l">News</h2>
  <div class="<%= grid_class %>">
    <% if comms_links %>
      <div class="<%= links_grid_class %> landing-page__comms-links">
        <%= render "govuk_publishing_components/components/document_list", {
          items: comms_links
        } %>
      </div>
    <% end %>
    <% if comms_video %>
      <div class="<%= video_grid_class %>">
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <p><a href="<%= comms_video[:href] %>"><%= comms_video[:title] %></a></p>
          <% if comms_video[:transcript] %>
            <% if comms_video[:transcript] %>
              <%= render "govuk_publishing_components/components/details", {
                title: I18n.t('transition_landing_page.video_transcript_title')
              } do %>
                <%= comms_video[:transcript] %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
