<% content_for :is_full_width_header, true %>
<% content_for :title, t("brexit_landing_page.meta_title") %>
<% content_for :meta_tags do %>
  <% page_url = File.join(request.base_url, request.path) %>
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= page_url %>">
  <meta property="og:title" content="<%= t("brexit_landing_page.meta_title") %>">
  <meta property="og:description" content="<%= t("brexit_landing_page.meta_description") %>">
  <meta property="og:image" content="<%= image_url("transition-period.png") %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="<%= image_url("transition-period.png") %>">
  <meta name="description" content="<%= t("brexit_landing_page.meta_description") %>">

  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "Taxon Page",
    }
  } %>

  <link rel="canonical" href="<%= page_url %>">
<% end %>

<div class="govuk-width-container">
  <header class="landing-page__header">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
        <%= render "govuk_publishing_components/components/heading", {
          text: sanitize(t("brexit_landing_page.page_header")),
          heading_level: 1,
          font_size: "xl",
          margin_bottom: 8,
        } %>

        <%= render "govuk_publishing_components/components/translation_nav", {
          translations: presented_taxon.translation_links,
          no_margin_top: true,
        } %>

        <%= render "govuk_publishing_components/components/lead_paragraph", {
          text: t("brexit_landing_page.page_header_explainer")
        } %>

        <%= render "govuk_publishing_components/components/action_link", {
          text: t("brexit_landing_page.page_header_links.guidance_for_businesses.text"),
          href: t("brexit_landing_page.page_header_links.guidance_for_businesses.path"),
          dark_icon: true,
          margin_bottom: 4,
          font_size: "m",
        } %>

        <%= render "govuk_publishing_components/components/action_link", {
          text: t("brexit_landing_page.page_header_links.guidance_for_individuals_and_families.text"),
          href: t("brexit_landing_page.page_header_links.guidance_for_individuals_and_families.path"),
          dark_icon: true,
          margin_bottom: 4,
          font_size: "m",
        } %>
      </div>
    </div>
  </header>
</div>
