<% content_for :is_full_width_header, true %>
<% content_for :title, t("brexit_landing_page.meta_title") %>
<% content_for :meta_tags do %>
  <meta name="description" content="<%= t("brexit_landing_page.meta_description") %>">

  <%= render 'govuk_publishing_components/components/machine_readable_metadata', content_item: @content_item, schema: :article %>
<% end %>

<header class="landing-page__header">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
      <%= render "govuk_publishing_components/components/heading", {
        text: sanitize(t("brexit_landing_page.page_header")),
        heading_level: 1,
        font_size: "xl",
        margin_bottom: 8,
      } %>

      <%= render "govuk_publishing_components/components/translation_nav", {
        translations: presented_taxon.translation_links,
        no_margin_top: true,
      } %>

      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: t("brexit_landing_page.page_header_explainer")
      } %>

      <%= render "govuk_publishing_components/components/action_link", {
        text: t("brexit_landing_page.page_header_links.guidance_for_businesses.text"),
        href: t("brexit_landing_page.page_header_links.guidance_for_businesses.path"),
        margin_bottom: 2,
        brexit_icon: true,
        font_size: "m",
        data: {
          "module": "gem-track-click",
          "track-category": "brexit-landing-page",
          "track-action": t("brexit_landing_page.page_header_links.guidance_for_businesses.path"),
          "track-label": t("brexit_landing_page.page_header_links.guidance_for_businesses.text")
        }
      } %>

      <%= render "govuk_publishing_components/components/action_link", {
        text: t("brexit_landing_page.page_header_links.guidance_for_individuals_and_families.text"),
        href: t("brexit_landing_page.page_header_links.guidance_for_individuals_and_families.path"),
        brexit_icon: true,
        margin_bottom: 2,
        font_size: "m",
        data: {
          "module": "gem-track-click",
          "track-category": "brexit-landing-page",
          "track-action": t("brexit_landing_page.page_header_links.guidance_for_individuals_and_families.path"),
          "track-label": t("brexit_landing_page.page_header_links.guidance_for_individuals_and_families.text")
        }
      } %>
    </div>
  </div>
</header>
