<% content_for :is_full_width_header, true %>
<% content_for :title, I18n.t("brexit_landing_page.title") %>
<% content_for :meta_tags do %>
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= request.base_url + request.path %>">
  <meta property="og:title" content="<%= I18n.t("brexit_landing_page.title") %>">
  <meta property="og:description" content="<%= I18n.t("brexit_landing_page.description") %>">
  <meta property="og:image" content="<%= image_url("brexit-31-october.png") %>" />
  <meta name="twitter:card" content="summary">
  <meta name="description" content="<%= I18n.t("brexit_landing_page.description") %>">
  <meta name="govuk:navigation-page-type" content="Taxon Page" />
<% end %>

<header class="landing-page__header">
  <div class="full-page-width-wrapper">
    <%= render 'govuk_publishing_components/components/breadcrumbs',
      breadcrumbs: GovukPublishingComponents::AppHelpers::TaxonBreadcrumbs.new(@content_item).breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          title: I18n.t("brexit_landing_page.get_ready"),
          inverse: true,
          margin_bottom: 5
        } %>

        <%= render 'govuk_publishing_components/components/lead_paragraph', {
          text: I18n.t("brexit_landing_page.intro_text"),
          inverse: true,
          margin_bottom: 6
        } %>

        <% if show_dynamic_list %>
          <p class="landing-page__ready-intro"><%= I18n.t("brexit_landing_page.call_to_action_intro") %></p>

          <%= render "govuk_publishing_components/components/chevron_banner", {
            href: "/get-ready-brexit-check",
            text: "Check what you need to do",
            hover_border: true,
            data_attributes: {
              track_category: "startButtonClicked",
              track_action: "/get-ready-brexit-check",
              track_label: "Check what you need to do"
            }
          } %>
        <% end %>
      </div>
    </div>
  </div>
</header>
