<% content_for :is_full_width_header, true %>
<% content_for :title, I18n.t("brexit_landing_page.meta_title") %>
<% content_for :meta_tags do %>
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= request.base_url + request.path %>">
  <meta property="og:title" content="<%= I18n.t("brexit_landing_page.meta_title") %>">
  <meta property="og:description" content="<%= I18n.t("brexit_landing_page.meta_description") %>">
  <meta property="og:image" content="<%= image_url("brexit-unknown.png") %>" />
  <meta name="twitter:card" content="summary">
  <meta name="description" content="<%= I18n.t("brexit_landing_page.meta_description") %>">
  <meta name="govuk:navigation-page-type" content="Taxon Page" />
<% end %>

<header class="landing-page__header">
  <div class="full-page-width-wrapper">
    <%= render 'govuk_publishing_components/components/breadcrumbs',
      breadcrumbs: GovukPublishingComponents::AppHelpers::TaxonBreadcrumbs.new(@content_item).breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          title: I18n.t("brexit_landing_page.page_title").html_safe(),
          inverse: true,
          margin_bottom: 5
        } %>

        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <p class="landing-page__header-text"><%= I18n.t("brexit_landing_page.page_lead") %></p>
          <p class="landing-page__header-text"><%= I18n.t("brexit_landing_page.page_paragraph") %></p>
          <hr class="landing-page__divider" aria-hidden="true">
          <p class="landing-page__header-text"><%= I18n.t("brexit_landing_page.page_warning") %></p>
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <% if show_dynamic_list %>
          <%= render "govuk_publishing_components/components/chevron_banner", {
            href: "/get-ready-brexit-check",
            text: I18n.t("brexit_landing_page.chevron_banner"),
            hover_border: true,
            data_attributes: {
              track_category: "startButtonClicked",
              track_action: "/get-ready-brexit-check",
              track_label: I18n.t("brexit_landing_page.chevron_banner")
            }
          } %>
        <% end %>
      </div>
    </div>
  </div>
</header>
