<%
  trade_markup = I18n.t("brexit_landing_page.trade_deal_links").reduce("") do |memo, trade_link|
    memo += "<p><a href='#{trade_link[:path]}'>#{trade_link[:text]}</a></p><p>#{trade_link[:explainer]}</p>"
  end
%>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "name": "<%= presenter.title %>",
  "description": "<p><%= t("brexit_landing_page.page_header_explainer") %></p>\n<ul>\n  <li><a href='<%= t("brexit_landing_page.page_header_links.guidance_for_businesses.path") %>'><%= t("brexit_landing_page.page_header_links.guidance_for_businesses.text") %></a></li>    \n<li><a href='<%= t("brexit_landing_page.page_header_links.guidance_for_individuals_and_families.path") %>'><%= t("brexit_landing_page.page_header_links.guidance_for_individuals_and_families.text") %></a></li>  </ul>\n",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "<%= t("brexit_landing_page.take_action_heading") %>",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<p><%= t("brexit_landing_page.take_action_explainer") %></p><p><a href='<%= t("brexit_landing_page.take_action_start_now_link") %>'><%= t("brexit_landing_page.take_action_start_now") %></a></p>"
      }
    },
    {
      "@type": "Question",
      "name": "<%= t("brexit_landing_page.trade_deal_heading") %>",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<%= trade_markup.html_safe %>"
      }
    }
  ]
}
</script>
