<section class="landing-page__section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%
        button_text = t("brexit_landing_page.take_action_start_now")
        button_href = t("brexit_landing_page.take_action_start_now_link")
      %>

      <%= render "govuk_publishing_components/components/heading", {
        text: t("brexit_landing_page.take_action_heading"),
        heading_level: 2,
        font_size: "l",
        margin_bottom: 6,
      } %>

      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: t("brexit_landing_page.take_action_explainer")
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: button_text,
        href: button_href,
        start: true,
        margin_bottom: true,
        data_attributes: {
          "module": "gem-track-click",
          "track-category": "brexit-landing-page",
          "track-action": button_href,
          "track-label": button_text
        }
      } %>

      <ul class="govuk-list landing-page__take-action-traffic-lights">
        <li>
          <%= image_tag 'take-action-red.svg', class: "landing-page__take-action-traffic-lists-icon", alt: "", data: { "track-action": "imageClick", "track-category": "pageElementInteraction", "track-label": t("brexit_landing_page.take_action_list.red") } %>
          <span class="landing-page__take-action-traffic-lists-text">
            <%= t("brexit_landing_page.take_action_list.red") %>
          </span>
        </li>
        <li>
          <%= image_tag 'take-action-amber.svg', class: "landing-page__take-action-traffic-lists-icon", alt: "", data: { "track-action": "imageClick", "track-category": "pageElementInteraction", "track-label": t("brexit_landing_page.take_action_list.amber") }  %>
          <span class="landing-page__take-action-traffic-lists-text">
            <%= t("brexit_landing_page.take_action_list.amber") %>
          </span>
        </li>
        <li>
          <%= image_tag 'take-action-green.svg', class: "landing-page__take-action-traffic-lists-icon", alt: "", data: { "track-action": "imageClick", "track-category": "pageElementInteraction", "track-label": t("brexit_landing_page.take_action_list.green") }  %>
          <span class="landing-page__take-action-traffic-lists-text">
            <%= t("brexit_landing_page.take_action_list.green") %>
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
