<ul class="govuk-list landing-page__take-action-traffic-lights">
  <li>
    <%= image_tag 'take-action-red.svg', class: "landing-page__take-action-traffic-lists-icon", alt: "", data: { "track-action": "imageClick", "track-category": "pageElementInteraction", "track-label": t("brexit_landing_page.take_action_list.red") } %>
    <span class="landing-page__take-action-traffic-lists-text">
      <%= t("brexit_landing_page.take_action_list.red") %>
    </span>
  </li>
  <li>
    <%= image_tag 'take-action-amber.svg', class: "landing-page__take-action-traffic-lists-icon", alt: "", data: { "track-action": "imageClick", "track-category": "pageElementInteraction", "track-label": t("brexit_landing_page.take_action_list.amber") }  %>
    <span class="landing-page__take-action-traffic-lists-text">
      <%= t("brexit_landing_page.take_action_list.amber") %>
    </span>
  </li>
  <li>
    <%= image_tag 'take-action-green.svg', class: "landing-page__take-action-traffic-lists-icon", alt: "", data: { "track-action": "imageClick", "track-category": "pageElementInteraction", "track-label": t("brexit_landing_page.take_action_list.green") }  %>
    <span class="landing-page__take-action-traffic-lists-text">
      <%= t("brexit_landing_page.take_action_list.green") %>
    </span>
  </li>
</ul>
