<% content_for :page_class, "taxon-page taxon-page--grid" %>
<%=
  render(
      partial: 'page_header',
      locals: {
          presented_taxon: presented_taxon,
          show_dynamic_list: show_dynamic_list
      }
  )
%>

<div class="landing-page__buckets full-page-width-wrapper">
  <% presented_taxon.buckets.each do |bucket| %>
    <%= render partial: 'buckets', locals: { bucket: bucket } %>
  <% end %>
</div>

<div class="full-page-width-wrapper full-page-width-wrapper--landing-page">
  <div class="govuk-grid-row">
    <div class="govuk-body govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('brexit_landing_page.all_brexit_information'),
        padding: true,
      } %>
      <p class="govuk-body"><%= t('brexit_landing_page.finder_intro') %></p>

      <%= render "components/topic-list", {
        items: presented_taxon.supergroup_sections
      } %>

      <div class="landing-page__email-wrapper">
        <h3 class="govuk-heading-s"><%= t('brexit_landing_page.email_intro') %></h3>
        <%= link_to(t('brexit_landing_page.email'), "/email-signup/?topic=#{presented_taxon.base_path}", {
          data: {
            module: "track-click",
            "track-category": "emailAlertLinkClicked",
            "track-action": presented_taxon.base_path
          }
        }) %>
      </div>
    </div>
  </div>
</div>
