<% content_for :page_class, "taxon-page taxon-page--grid" %>
<%=
  render(
      partial: 'page_header',
      locals: {
          presented_taxon: presented_taxon,
          show_dynamic_list: show_dynamic_list
      }
  )
%>

<div class="landing-page__buckets full-page-width-wrapper">
  <% presented_taxon.buckets.each do |bucket| %>
    <%= render partial: 'buckets', locals: { bucket: bucket } %>
  <% end %>

  <div class="landing-page__share">
    <% hidden_text = capture do %>
      <span class="govuk-visually-hidden">Share on</span>
    <% end %>
    <%= render "govuk_publishing_components/components/share_links", {
      title: "Share this page",
      links: [
        {
          href: "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.gov.uk%2Fbrexit",
          text: hidden_text + "Facebook",
          icon: "facebook"
        },
        {
          href: "https://twitter.com/share?url=https%3A%2F%2Fwww.gov.uk%2Fbrexit",
          text: hidden_text + "Twitter",
          icon: "twitter"
        },
        {
          href: "mailto:?body=https://www.gov.uk/brexit/&subject=Get ready for Brexit - GOV.UK",
          text: hidden_text + "Email",
          icon: "email"
        },
        {
          href: "https://api.whatsapp.com/send?text=https://www.gov.uk/brexit",
          text: hidden_text + "WhatsApp",
          icon: "whatsapp"
        },
        {
          href: "http://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.gov.uk%2Fbrexit&title=Get%20ready%20for%20Brexit%20-%20GOV.UK",
          text: hidden_text + "LinkedIn",
          icon: "linkedin"
        },
      ]
    } %>
  </div>
</div>

<div class="full-page-width-wrapper full-page-width-wrapper--landing-page">
  <div class="govuk-grid-row">
    <div class="govuk-body govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('brexit_landing_page.all_brexit_information'),
        padding: true,
      } %>
      <%= render "govuk_publishing_components/components/heading", {
        text: t('brexit_landing_page.finder_heading'),
        heading_level: 3,
        font_size: 19,
        padding: true
      } %>
      <%= render "components/topic-list", {
        items: presented_taxon.supergroup_sections
      } %>

      <div class="landing-page__email-wrapper">
        <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
            <div class="call-to-action">
              <h3 class="govuk-heading-s"><%= t('brexit_landing_page.email_intro') %></h3>
          <%= link_to(t('brexit_landing_page.email'), "/email-signup/?topic=#{presented_taxon.base_path}", {
            data: {
              module: "track-click",
              "track-category": "emailAlertLinkClicked",
              "track-action": presented_taxon.base_path
            }
          }) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
