<% content_for :page_class, "taxon-page taxon-page--grid" %>
<% content_for :brexit_taxon, presented_taxon.brexit? %>
<%=
  render(
      partial: 'common',
      locals: {
          presented_taxon: presented_taxon
      }
  )
%>

<% global_bucket_index = 0 %>
<div class="landing-page__buckets full-page-width-wrapper">
  <% presented_taxon.buckets.each_slice(2) do |bucket_group| %>
    <div class="govuk-grid-row">
      <% bucket_group.each do |bucket| %>
        <%= render partial: 'buckets', locals: { bucket: bucket, index: global_bucket_index } %>
        <% global_bucket_index = global_bucket_index + 1 %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="full-page-width-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('brexit_landing_page.all_brexit_information'),
        padding: true,
        border_top: 2,
        brand: "cabinet-office",
      } %>

      <div class="govuk-body">
        <%= link_to(t('brexit_landing_page.email'), "/email-signup/?topic=#{presented_taxon.base_path}", {
          class: "landing-page__email",
          data: {
            module: "track-click",
            "track-category": "emailAlertLinkClicked",
            "track-action": presented_taxon.base_path
          }
        }) %>
      </div>

      <%= render "components/topic-list", {
        items: presented_taxon.supergroup_sections
      } %>
    </div>
  </div>
</div>
