<header class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      context: person.current_roles_title,
      title: person.title
    } %>
  </div>

  <div class="govuk-grid-column-one-third <%= t_direction_class %>" <%= t_direction %> lang="<%= person.locale %>">
    <%= render "govuk_publishing_components/components/translation-nav", {
      translations: person.translations
    } %>
  </div>
</header>
