<header class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      context: person.current_roles_title,
      title: person.title
    } %>
  </div>

  <div class="govuk-grid-column-one-third <%= direction_rtl_class %>" <%= dir_attribute %> <%= lang_attribute %>>
    <%= render "govuk_publishing_components/components/translation_nav", {
      translations: person.translations
    } %>
  </div>
</header>
