<% content_for :title, person.title %>

<%= render "govuk_publishing_components/components/title", {
  context: person.current_roles_title,
  title: person.title
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/image_card", {
      href: "#",
      image_src: person.image_url,
      image_alt: person.image_alt_text,
      description: "Contents",
      extra_links: [
        {
          text: "Biography",
          href: "#biography"
        }
      ]
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Biography",
      id: "biography",
    } %>

    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <%= person.biography.html_safe %>
    <% end %>
  </div>
</div>
