<% content_for :title, person.title %>

<%= render partial: "header", locals: { person: person } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third <%= t_direction_class %>" <%= t_direction %> lang="<%= person.locale %>">
    <%= render partial: "image", locals: { person: person } %>
    <%= render partial: "contents", locals: { person: person } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "biography", locals: { person: person } %>
    <%= render partial: "current_roles", locals: { person: person } %>
    <%= render partial: "previous_roles", locals: { person: person } %>
    <%= render partial: "shared/announcements", locals: { announcements: person.announcements, locale: person.locale } %>
  </div>
</div>
