<% content_for :title, person.title %>

<p class="type"><%= person.roles %></p>
<h1><%= person.title %></h1>

<p><img src="<%= person.image_url %>" alt="<%= person.image_alt_text %>"></p>

<p><%= person.biography %></p>
