<% content_for :title, person.title %>

<%= render partial: "header", locals: { person: person } %>

<div class="govuk-grid-row" dir="<%=page_text_direction%>">
  <div class="govuk-grid-column-one-third">
    <%= render partial: "image", locals: { person: person } %>
    <%= render partial: "contents", locals: { person: person } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "biography", locals: { person: person } %>
    <%= render partial: "current_roles", locals: { person: person } %>
    <%= render partial: "previous_roles", locals: { person: person } %>
    <%= render partial: "announcements", locals: { person: person } %>
  </div>
</div>
