<% content_for :page_class, "specialist-sector-browse" %>

<header class="page-header group">
  <div class="full-width">
    <h1><%= yield :page_title %></h1>

    <% if organisations.any? %>
      <aside class="metadata">
        <dl>
          <dt>From:</dt>
          <dd><%= organisations.array_of_links.to_sentence.html_safe %></dd>
        </dl>
      </aside>
    <% end %>

    <% if Collections.email_signup_link_enabled? %>
      <%= render partial: 'latest_subscribe' %>
    <% end %>
  </div>
</header>

<div class="browse-container full-width">
  <% if subcategory.description.present? %>
    <div class="category-description">
      <p><%= subcategory.description %></p>
    </div>
  <% end %>

  <%= yield %>
</div>
