<% content_for :page_class, "specialist-sector-browse" %>

<header class="page-header group">
  <div class="full-width">
    <div class="heading">
      <h1><%= yield :page_title %></h1>

      <% if organisations.any? %>
        <aside class="metadata">
          <dl>
            <dt>From:</dt>
            <dd><%= organisations.array_of_links.to_sentence.html_safe %></dd>
          </dl>
        </aside>
      <% end %>
    </div>
    <div class="latest-subscribe">
      <% if Collections.email_signup_link_enabled? %>
        <ul>
          <li class="email primary">
            <%= link_to email_signup_path(subtopic: subcategory.slug) do %>
            Subscribe to email alerts
            <% end %>
          </li>
          <li><%= link_to 'See latest changes to this content', latest_changes_path(sector: params[:sector], subcategory: params[:subcategory]) %></li>
        </ul>
      <% end %>
    </div>
  </div>
</header>

<div class="browse-container full-width">
  <% if subcategory.description.present? %>
    <div class="category-description">
      <p><%= subcategory.description %></p>
    </div>
  <% end %>

  <%= yield %>
</div>
