<% content_for :title, "#{@subcategory.combined_title} - GOV.UK" %>
<% content_for :page_class, "specialist-sector-browse" %>

<header class="page-header group">
  <div class="full-width">
    <h1><span><%= @subcategory.parent_sector_title %></span> <%= @subcategory.title %></h1>

    <% if @organisations.any? %>
      <aside class="metadata">
        <dl>
          <dt>From:</dt>
          <dd><%= @organisations.array_of_links.to_sentence.html_safe %></dd>
        </dl>
      </aside>
    <% end %>
  </div>
</header>

<div class="browse-container full-width">
  <% if @subcategory.description.present? %>
    <div class="category-description">
      <p><%= @subcategory.description %></p>
    </div>
  <% end %>

  <% @groups.each do |group| -%>
    <nav class="index-list" aria-labelledby="<%= group.artefact.name.parameterize %>">
      <h1 id="<%= group.artefact.name.parameterize %>"><%= group.artefact.name %></h1>
      <ul>
      <% group.artefact.contents.each do |group_item| -%>
        <li>
          <a href="<%= group_item.web_url %>"><%= group_item.title %></a>
        </li>
      <% end -%>
      </ul>
    </nav>
  <% end -%>
</div>
