<%
  location = location_lookup.data.first
  title = t("coronavirus_local_restrictions.results.devolved_nations.heading")
%>

<% content_for :title, title %>

<%= tag.div :data => {
  :module => "coronavirus-track-local-restriction-results",
  "tracking-label" => "Devolved nation: #{location.country}"
} do %>
  <%= render "govuk_publishing_components/components/title", {
    title: title
  } %>
  <p class="govuk-body">
    <%= t("coronavirus_local_restrictions.results.match") %> <strong><%= postcode %></strong> to <strong><%= location_lookup.lower_tier_area_name %></strong>.
  </p>
  <p class="govuk-body">
    <%= t("coronavirus_local_restrictions.results.devolved_nations.country_rules", country: location.country) %>
  </p>

  <% if location.scotland? %>
    <%= render "govuk_publishing_components/components/button", {
      text: t("coronavirus_local_restrictions.results.devolved_nations.scotland.guidance.label"),
      href: t("coronavirus_local_restrictions.results.devolved_nations.scotland.guidance.link", postcode: postcode.gsub(/\s+/, '')),
      margin_bottom: 9
    } %>
  <% elsif location.northern_ireland? %>
    <%= render "govuk_publishing_components/components/button", {
      text: t("coronavirus_local_restrictions.results.devolved_nations.northern_ireland.guidance.label"),
      href: t("coronavirus_local_restrictions.results.devolved_nations.northern_ireland.guidance.link"),
      margin_bottom: 9
    } %>
  <% elsif location.wales? %>
    <%= render "govuk_publishing_components/components/button", {
      text: t("coronavirus_local_restrictions.results.devolved_nations.wales.guidance.label"),
      href: t("coronavirus_local_restrictions.results.devolved_nations.wales.guidance.link"),
      margin_bottom: 9
    } %>
  <% end %>

  <%= render partial: "coronavirus_local_restrictions/travel_guidance" %>
<% end %>
