<% if @restriction.present? && @restriction.future.present? %>
  <% date = @restriction.future["start_date"].strftime("%-d %B") %>

  <%= render "govuk_publishing_components/components/heading", {
    text: t("coronavirus_local_restrictions.results.future.heading", date: date),
    font_size: "m",
    margin_bottom: 4,
    mobile_top_margin: true,
  } %>

  <% if @restriction.future_alert_level == 1 %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.future.level_one.alert_level", area: @restriction.area_name) %>
    </p>

    <%= render "govuk_publishing_components/components/button", {
      text: t("coronavirus_local_restrictions.results.guidance_label", level: @restriction.future_alert_level),
      href: t("coronavirus_local_restrictions.results.level_one.guidance_link"),
      secondary_solid: true,
      margin_bottom: 9
    } %>
  <% elsif @restriction.future_alert_level == 2 %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.future.level_two.alert_level", area: @restriction.area_name) %>
    </p>

    <%= render "govuk_publishing_components/components/button", {
      text: t("coronavirus_local_restrictions.results.guidance_label", level: @restriction.future_alert_level),
      href: t("coronavirus_local_restrictions.results.level_two.guidance_link"),
      secondary_solid: true,
      margin_bottom: 9
    } %>
  <% elsif @restriction.future_alert_level == 3 %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.future.level_three.alert_level", area: @restriction.area_name) %>
    </p>

    <%= render "govuk_publishing_components/components/button", {
      text: t("coronavirus_local_restrictions.results.guidance_label", level: @restriction.future_alert_level),
      href: t("coronavirus_local_restrictions.results.level_three.guidance_link"),
      secondary_solid: true,
      margin_bottom: 9
    } %>
  <% end %>
<% end %>
