<% tier_heading = capture do %>
  <%= t("coronavirus_local_restrictions.results.level_one.heading_pretext") %>
  <span class="coronavirus-local-restriction__heading-tier-label">
    <%= t("coronavirus_local_restrictions.results.level_one.heading_tier_label") %>
  </span>
<% end %>

<%
  title = if result.future_restriction?
    t("coronavirus_local_restrictions.results.changing_levels_title")
  else
    tier_heading
  end
%>

<% content_for :title, strip_tags(title) %>

<%= tag.div :data => {
  :module => "coronavirus-track-local-restriction-results",
  "tracking-label" => "Tier one: #{result.area_name}"
} do %>

  <%= render partial: "coronavirus_local_restrictions/out_of_date_warning" %>

  <%= render "govuk_publishing_components/components/title", {
    title: sanitize(title)
  } %>

  <p class="govuk-body">
    <%= t("coronavirus_local_restrictions.results.match") %> <strong><%= result.postcode %></strong> to <strong><%= result.area_name %></strong>.
  </p>

  <% if result.future_restriction? %>
    <%= render "govuk_publishing_components/components/heading", {
      text: sanitize(tier_heading),
      font_size: "m",
      margin_bottom: 4
    } %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.level_one.changing_alert_level", area: result.area_name) %>
    </p>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("coronavirus_local_restrictions.results.guidance_label", level: 1),
    href: t("coronavirus_local_restrictions.results.level_one.guidance_link"),
    margin_bottom: 9
  } %>

  <%= render partial: "coronavirus_local_restrictions/future_restrictions", locals: { result: result } %>
  <%= render partial: "coronavirus_local_restrictions/travel_guidance" %>
<% end %>
