<%
  title = if @restriction.present? && @restriction.future.present?
    t("coronavirus_local_restrictions.results.changing_levels_title")
  else
    t("coronavirus_local_restrictions.results.level_two.heading")
  end
%>

<% content_for :title, title %>

<%= tag.div :data => {
  :module => "coronavirus-track-local-restriction-results",
  "tracking-label" => "Tier two: #{@restriction.area_name}"
} do %>
  <%= render "govuk_publishing_components/components/title", {
    title: title
  } %>

  <p class="govuk-body">
    <%= t("coronavirus_local_restrictions.results.level_two.match") %> <strong><%= @postcode %></strong> to <strong><%= @location_lookup.lower_tier_area_name %></strong>.
  </p>

  <%= render "govuk_publishing_components/components/heading", {
    text: t("coronavirus_local_restrictions.results.current_level_heading"),
    font_size: "m",
    margin_bottom: 4
  } %>

  <% if @restriction.present? && @restriction.future.present? %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.level_two.changing_alert_level") %>
    </p>
  <% else %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.level_two.alert_level") %>
    </p>
  <% end %>

  <%= render "govuk_publishing_components/components/action_link", {
    text: t("coronavirus_local_restrictions.results.guidance_label"),
    href: t("coronavirus_local_restrictions.results.level_two.guidance_link"),
    simple: true,
    margin_bottom: 9
  } %>

  <%= render partial: "coronavirus_local_restrictions/future_restrictions" %>

  <%= render partial: "coronavirus_local_restrictions/travel_guidance", locals: { travel_heading: t("coronavirus_local_restrictions.results.travel_heading") } %>
<% end %>
