<%= tag.div :data => {
  :module => "coronavirus-track-local-restriction-results",
  "tracking-label" => "Tier one: #{@location_lookup.lower_tier_area_name}"
} do %>
  <% if @restriction.present? && @restriction.future.present? %>
    <%= render "govuk_publishing_components/components/title", {
      title: t("coronavirus_local_restrictions.results.changing_levels_title")
    } %>
  <% else %>
  <%= render "govuk_publishing_components/components/title", {
    title: t("coronavirus_local_restrictions.results.level_one.heading")
  } %>
  <% end %>

  <p class="govuk-body">
    <%= t("coronavirus_local_restrictions.results.level_one.match") %> <strong><%= @postcode %></strong> to <strong><%= @location_lookup.lower_tier_area_name %></strong>.
  </p>

  <%= render "govuk_publishing_components/components/heading", {
    text: t("coronavirus_local_restrictions.results.current_level_heading"),
    font_size: "m",
    margin_bottom: 4
  } %>

  <% if @restriction.present? && @restriction.future.present? %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.level_one.changing_alert_level") %>
    </p>
  <% else %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.level_one.alert_level") %>
    </p>
  <% end %>

  <p class="govuk-body">
    <%= sanitize(t("coronavirus_local_restrictions.results.level_one.guidance")) %>
  </p>

  <%= render partial: "coronavirus_local_restrictions/future_restrictions" %>

  <%= render partial: "coronavirus_local_restrictions/travel_guidance", locals: { travel_heading: t("coronavirus_local_restrictions.results.travel_heading") } %>
<% end %>
