<%
  title = if @restriction.present? && @restriction.future.present?
    t("coronavirus_local_restrictions.results.changing_levels_title")
  else
    t("coronavirus_local_restrictions.results.level_two.heading")
  end
%>

<% content_for :title, title %>

<%= tag.div :data => {
  :module => "coronavirus-track-local-restriction-results",
  "tracking-label" => "Tier two: #{@restriction.area_name}"
} do %>
  <%= render "govuk_publishing_components/components/title", {
    title: title
  } %>

  <p class="govuk-body">
    <%= t("coronavirus_local_restrictions.results.match") %> <strong><%= @postcode %></strong> to <strong><%= @restriction.area_name %></strong>.
  </p>

  <% if @restriction.present? && @restriction.future.present? %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.level_two.alert_level", area: @restriction.area_name) %>
    </p>
  <% else %>
    <p class="govuk-body">
      <%= t("coronavirus_local_restrictions.results.level_two.alert_level", area: @restriction.area_name) %>
    </p>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("coronavirus_local_restrictions.results.guidance_label", level: 2),
    href: t("coronavirus_local_restrictions.results.level_two.guidance_link"),
    margin_bottom: 9
  } %>

  <%= render partial: "coronavirus_local_restrictions/travel_guidance" %>
<% end %>
