<%= render partial: "meta_tags" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: find_coronavirus_local_restrictions_path
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%
      locals = {
        restriction: @search.local_restriction,
        postcode: @search.sanitised_postcode,
        location_lookup: @search.location_lookup,
      }
    %>
    <% if !@search.location_lookup.data.first.england? %>
      <%= render partial: "coronavirus_local_restrictions/devolved_nation", locals: locals %>
    <% elsif @search.local_restriction&.tier_two? %>
      <%= render partial: "coronavirus_local_restrictions/tier_two_restrictions", locals: locals %>
    <% elsif @search.local_restriction&.tier_three? %>
      <%= render partial: "coronavirus_local_restrictions/tier_three_restrictions", locals: locals %>
    <% elsif @search.local_restriction&.tier_four? %>
      <%= render partial: "coronavirus_local_restrictions/tier_four_restrictions", locals: locals %>
    <% else %>
      <%= render partial: "coronavirus_local_restrictions/tier_one_restrictions", locals: locals %>
    <% end %>
  </div>
</div>
