<%
  error_key = if @search&.blank_postcode?
                "no_postcode"
              elsif @search&.invalid_postcode?
                "invalid_postcode"
              end

  title = t("coronavirus_local_restrictions.lookup.title")
  title = "Error: #{title}" if error_key
%>

<% content_for :title, title %>
<%= render partial: "meta_tags" %>

<% content_for :breadcrumbs do %>
  <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item %>
<% end %>

<div class="govuk-grid-row" data-module="coronavirus-track-local-restrictions">
  <div class="govuk-grid-column-two-thirds">
    <% if error_key %>
      <%= render "govuk_publishing_components/components/error_summary", {
        title: t("coronavirus_local_restrictions.errors.#{error_key}.error_message"),
        items: [
          {
            text: t("coronavirus_local_restrictions.errors.#{error_key}.error_description"),
            href: "#postcode",
            data_attributes: {
              tracking: "local-restrictions-postcode-error",
              "error-code": @search.error_code,
            }
          }
        ]
      } %>
    <% end %>

    <%= render "govuk_publishing_components/components/title", title: t("coronavirus_local_restrictions.lookup.title") %>

    <%= render "govuk_publishing_components/components/inset_text", text: sanitize(t('coronavirus_local_restrictions.lookup.inset_text')) %>

    <%= sanitize(t("coronavirus_local_restrictions.lookup.body_content")) %>

    <%= form_tag find_coronavirus_local_restrictions_path,
      method: :get,
      class: "coronavirus-local-restrictions__postcode-form",
      data: { module: "coronavirus-local-restrictions-postcode-form" } do |f| %>
      <div class="postcode-lookup">
        <%= render "govuk_publishing_components/components/input", {
          id: "postcode",
          label: { text: t("coronavirus_local_restrictions.lookup.input_label") },
          heading_level: 2,
          heading_size: "s",
          error_message: error_key ? t("coronavirus_local_restrictions.errors.#{error_key}.input_error") : nil,
          name: "postcode",
          hint: render_govspeak(t("coronavirus_local_restrictions.lookup.hint_text")),
          invalid: error_key.present?,
          autocomplete: "postal-code",
          width: 10,
          value: params[:postcode],
        } %>

        <%= render "govuk_publishing_components/components/button",
                   text: t("coronavirus_local_restrictions.lookup.button_text"),
                   margin_bottom: true %>

        <p class="govuk-body">
          <%= link_to t("coronavirus_local_restrictions.royal_mail_lookup.link_text"),
                      t("coronavirus_local_restrictions.royal_mail_lookup.href"),
                      class: "govuk-link covid__postcode-lookup--link" %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="coronavirus-local-restriction__related-navigation">
      <%= render 'govuk_publishing_components/components/contextual_sidebar', { "content_item": @content_item } %>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'govuk_publishing_components/components/contextual_footer', { content_item: @content_item } %>
  </div>
</div>
