<%
  title = t("coronavirus_local_restrictions.lookup.title")
  title = "Error: #{title}" if error_message
%>

<% content_for :breadcrumbs do %>
  <%= render 'govuk_publishing_components/components/breadcrumbs', {
    breadcrumbs: breadcrumbs,
    collapse_on_mobile: true
  } %>
<% end %>

<% content_for :title, title %>

<% content_for :meta_tags do %>
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= request.base_url + request.path %>">
  <meta property="og:title" content="<%= t("coronavirus_local_restrictions.lookup.meta_title") %>">
  <meta property="og:description" content="<%= t("coronavirus_local_restrictions.lookup.meta_description") %>">
  <meta name="description" content="<%= t("coronavirus_local_restrictions.lookup.meta_description") %>">
<% end %>

<div class="govuk-grid-row" data-module="coronavirus-track-local-restrictions">
  <div class="govuk-grid-column-two-thirds">
    <% if error_message %>
      <%= render "govuk_publishing_components/components/error_summary", {
        title: error_message,
        items: [
          {
            text: error_description,
            href: "#postcodeLookup",
            data_attributes: {
              tracking: "local-restrictions-postcode-error"
            }
          }
        ]
      } %>
    <% end %>

    <%= render "govuk_publishing_components/components/title", title: title %>

    <%= render "govuk_publishing_components/components/inset_text", text: sanitize(t('coronavirus_local_restrictions.lookup.inset_text')) %>

    <%= sanitize(t("coronavirus_local_restrictions.lookup.body_content")) %>

    <%= form_for :postcode_lookup, :url => find_coronavirus_local_restrictions_path, :html => {:class => "coronavirus-local-restrictions__postcode-form"} do |f| %>
      <%= render "shared/postcode-lookup", {
        input_error: input_error
      } %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render 'govuk_publishing_components/components/related_navigation', {
      "content_item": {
        "links" => {
          "ordered_related_items" => t("coronavirus_local_restrictions.related_navigation").map(&:with_indifferent_access)
        }
      },
      context: :sidebar
    } %>
  </div>
</div>
