<% track_action ||= "contentLink" %>

<ul class="govuk-list browse__list" data-module="gem-track-click">
  <% list.each_with_index do |content_item, index| %>
    <% if content_item[:links] %>
      <li class="govuk-list browse__list-item govuk-!-padding-bottom-1">
         <% if content_item[:subheading] %>
           <%= render "govuk_publishing_components/components/heading", {
            text: content_item[:subheading],
            heading_level: 3,
            font_size: "s",
            padding: index > 0 ? true : false,
            margin_bottom: index === 0 ? 3 : 0,
          } %>
         <% end %>
         <% if content_item[:links] %>
          <ul class="govuk-list browse__list">
             <% content_item[:links].each_with_index do |link_item, index| %>
              <li class="govuk-list browse__list-item">
               <%= link_to(
                 link_item[:link_text],
                 link_item[:href],
                 class: "govuk-link",
                 data: {
                   # track_category: "browseClicked",
                   track_count: "contentLink",
                   track_action: track_action,
                   # track_label: list_item.base_path,
                   # track_options: {
                   #   dimension28: list.count.to_s,
                   #   dimension29: list_item.title,
                   #   dimension114: "#{list_index + 1}.#{index + 1}",
                   # },
                 },
               ) %>
             </li>
              <% end %>
            <% end %>
          </ul>
      </li>
    <%# The below can all go when we get the actual data %>
    <% elsif content_item[:inset_text] %>
      <li class="browse__list-item govuk-!-padding-bottom-1">
        <%= render "govuk_publishing_components/components/inset_text" do %>
          <p><%= content_item[:inset_text] %></p>
          <%= link_to(
            content_item[:link_text],
            content_item[:href],
            class: "govuk-link",
          ) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
