<%= render partial: "cost_of_living_landing_page/components/shared/meta_tags", locals: {
  metadata: content.metadata
} %>

<% content_for :title, content.page_title %>

<%
  accordion_contents = content.body[:accordion_content].map.with_index do |list, list_index|
    {
      heading: {
        text: list[:heading],
      },
      content: {
        html: render(partial: "links", locals: {
          presenter: content,
          accordion_heading: list[:heading],
          list: list[:content],
          list_index: list_index,
        }),
      },
      data_attributes: {
        "track-count": "accordionSection",
        "track-options": {
          "dimension114": list_index + 1
        }
      },
    }
  end
%>

<% content_for :breadcrumbs do %>
  <%= render "shared/browse_breadcrumbs", {
    column_two_thirds: true
  } %>
<% end %>

<%= render "shared/browse_header", {
    two_thirds: true
  } do %>

  <h1 class="browse__heading govuk-heading-xl">
    <%= content.header[:heading] %>
  </h1>
  <p class="gem-c-lead-paragraph gem-c-lead-paragraph--inverse govuk-!-margin-bottom-6">
    <%= content.header[:lede] %>
  </p>

<% end %>

<div class="colhub__announcement" data-module="gem-track-click">
  <div class="govuk-width-container">
    <% if content.recruitment_survey_url %>
        <%= render "govuk_publishing_components/components/intervention", {
                    suggestion_text: "Help improve GOV.UK",
                    suggestion_link_text: "Take part in user research",
                    suggestion_link_url: content.recruitment_survey_url,
                    new_tab: true,
                  } %>
    <% end %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: content.announcements[:heading],
            padding: true
          } %>

          <% content.announcements[:body].each do |item| %>
            <p class="govuk-body">
              <%= item[:content] %>
              <%= link_to(
                item[:link_text],
                item[:href],
                class: "govuk-footer__link",
                data: content.link_clicked_track_data(
                 track_action: item[:link_text],
                 href: item[:href]
                )
              ) %>
            </p>
          <% end %>
      </div>
    </div>
  </div>
</div>



<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="browse__section">
        <div data-module="toggle-attribute">
          <%= render "govuk_publishing_components/components/accordion", {
            track_show_all_clicks: true,
            track_sections: true,
            ga4_tracking: true,
            items: accordion_contents,
          } %>
        </div>
      </div>
    </div>
  </div>
</div>
