<%= render partial: "cost_of_living_landing_page/components/shared/meta_tags", locals: {
  metadata: content.metadata
} %>

<% content_for :title, content.page_title %>
<% content_for :is_full_width_header, true %>

<%
  accordion_contents = content.body[:accordion_content].map.with_index do |list, list_index|
    {
      heading: {
        text: list[:heading],
      },
      content: {
        html: render(partial: "links", locals: {
          presenter: content,
          accordion_heading: list[:heading],
          list: list[:content],
          list_index: list_index,
        }),
      },
      data_attributes: {
        "track-count": "accordionSection",
        "track-options": {
          "dimension114": list_index + 1
        },
      },
    }
  end
%>

<header class="cost-of-living-hub__header">
  <%= render "shared/browse_header", { margin_bottom: 7, padding_top: 0 } do %>
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          title: content.header[:heading],
          inverse: true,
          margin_top: 4,
          margin_bottom: 6,
        } %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/lead_paragraph", {
          text: content.header[:lede],
          inverse: true,
          margin_bottom: 2,
        } %>
      </div>
    </div>

    <div class="govuk-grid-row covid__action-link-wrapper">
      <div class="govuk-grid-column-two-thirds">
        <%= render 'govuk_publishing_components/components/action_link', {
          white_arrow: true,
          href: content.header[:href],
          text: content.header[:link_text],
          mobile_subtext: true,
          light_text: true,
          data: {
            module: "gem-track-click",
            track_category: "pageElementInteraction",
            track_action: "Header",
            track_label: content.header[:href],
          }
        } %>
      </div>
    </div>
  <% end %>
</header>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="browse__section">

        <div data-module="toggle-attribute">
          <%= render "govuk_publishing_components/components/accordion", {
            track_show_all_clicks: true,
            track_sections: true,
            items: accordion_contents,
          } %>
        </div>
      </div>
    </div>
  </div>
</div>
