<%= render partial: "cost_of_living_landing_page/components/shared/meta_tags", locals: {
  metadata: content.metadata
} %>

<% content_for :title, content.page_title %>

<%
  accordion_contents = content.body[:accordion_content].map.with_index do |list, list_index|
    {
      heading: {
        text: list[:heading],
      },
      content: {
        html: render(partial: "links", locals: {
          presenter: content,
          accordion_heading: list[:heading],
          list: list[:content],
          list_index: list_index,
        }),
      },
      data_attributes: {
        "track-count": "accordionSection",
        "track-options": {
          "dimension114": list_index + 1
        },
      },
    }
  end
%>

<% content_for :breadcrumbs do %>
  <%= render "shared/browse_breadcrumbs", {
    column_two_thirds: true
  } %>
<% end %>

<%= render "shared/browse_header", {
    two_thirds: true,
    margin_bottom: 7
  } do %>

  <h1 class="browse__heading govuk-heading-xl">
    <%= content.header[:heading] %>
  </h1>
  <p class="gem-c-lead-paragraph gem-c-lead-paragraph--inverse govuk-!-margin-bottom-6">
    <%= content.header[:lede] %>
  </p>

  <%= render 'govuk_publishing_components/components/action_link', {
    white_arrow: true,
    href: content.header[:href],
    text: content.header[:link_text],
    mobile_subtext: true,
    light_text: true,
    data: {
      module: "gem-track-click",
      track_category: "pageElementInteraction",
      track_action: "Header",
      track_label: content.header[:href],
    }
  } %>

<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="browse__section">

        <div data-module="toggle-attribute">
          <%= render "govuk_publishing_components/components/accordion", {
            track_show_all_clicks: true,
            track_sections: true,
            items: accordion_contents,
          } %>
        </div>
      </div>
    </div>
  </div>
</div>
