<% content_for :title, @presented_index.title %>
<% page_class "world-locations" %>
<% add_view_stylesheet("world_index") %>

<div data-module="list-filter">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: @presented_index.title
      } %>

      <p class="govuk-body"><%= t('world_locations.content.find_out') %></p>

      <form class="filter-list__form" data-filter="form">
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("world_locations.headings.search"),
          },
          name: "search-box",
          id: "filter-list",
          controls: "search_results"
        } %>
      </form>
    </div>
  </div>

  <div class="govuk-grid-row" id="search_results">
    <section id="<%= I18n.t("world_locations.type.world_location", count: 2).parameterize %>" data-filter="block">
      <div class="govuk-grid-column-one-third">
        <header class="type-heading">
          <h2 class="world-locations-heading"><%= I18n.t("world_locations.type.world_location", count: 2) %></h2>
          <p class="govuk-visually-hidden"><%= t('world_locations.count_prefix') %>
            <span class="js-accessible-item-count"><%= @presented_index.world_locations_count %></span> <%= I18n.t("world_locations.type.world_location", count: 2) %>
          </p>
          <%= render "govuk_publishing_components/components/big_number", {
            number: @presented_index.world_locations_count,
            aria: {
              hidden: true,
            },
            data_attributes: {
              item_count: "true",
            },
          } %>
        </header>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <ol
          class="world-locations-groups"
          data-module="ga4-link-tracker"
          data-ga4-track-links-only
          data-ga4-link="<%= { event_name: "navigation", type: "filter" }.to_json %>">
          <% @presented_index.grouped_world_locations.each do |letter, locations| %>
            <div class="world-locations-group" data-filter="inner-block">
              <h3 class="world-locations-group__letter"><%= letter %></h3>
              <ol class="world-locations-group__list">
                <% locations.each do |location| %>
                  <li class="world_locations-group__item" data-filter="item" data-filter-terms="<%= @presented_index.filter_terms(location) %>">
                    <%= @presented_index.world_location_link(location) %>
                  </li>
                <% end %>
              </ol>
            </div>
          <% end %>
        </ol>
      </div>
    </section>

    <section id="<%= I18n.t("world_locations.type.international_delegation", count: 2).parameterize %>" data-filter="block">
      <div class="govuk-grid-column-one-third">
        <header class="type-heading">
          <h2 class="world-locations-heading"><%= I18n.t("world_locations.type.international_delegation", count: 2) %></h2>
          <p class="govuk-visually-hidden"><%= t('world_locations.count_prefix') %>
            <span class="js-accessible-item-count"><%= @presented_index.international_delegations_count %></span> <%= I18n.t("world_locations.type.international_delegation", count: 2) %>
          </p>
          <%= render "govuk_publishing_components/components/big_number", {
            number: @presented_index.international_delegations_count,
            aria: {
              hidden: true,
            },
            data_attributes: {
              item_count: "true",
            },
          } %>
        </header>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <ol class="world-locations-groups">
          <div class="world-locations-group">
            <ol class="world-locations-group__list">
              <% @presented_index.international_delegations.each do |delegation| %>
                <li class="world_locations-group__item" data-filter="item" data-filter-terms="<%= @presented_index.filter_terms(delegation) %>">
                  <%= @presented_index.world_location_link(delegation) %>
                </li>
              <% end %>
            </ol>
          </div>
        </ol>
      </div>
    </section>
  </div>

  <p class="govuk-body govuk-!-static-padding-top-6">
    <%= t('world_locations.content.complete_list',
          href:
            link_to(
              t('world_locations.content.list_link'),
              "/government/publications/list-of-foreign-office-posts",
              class: "govuk-link")
        ).html_safe
    %>
  </p>
</div>
