<% content_for :title, t("browse.title") %>

<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {}
  } %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render "shared/browse_breadcrumbs" %>
<% end %>

<%= render "shared/browse_header", { margin_bottom: 9 } do %>
  <h1 class="browse__heading govuk-heading-xl">
    <%= t("cost_of_living.heading") %>
  </h1>
  <p class="browse__description gem-c-lead-paragraph gem-c-lead-paragraph--inverse">
    <%= t("cost_of_living.lede") %>
  </p>

  <%= render "govuk_publishing_components/components/action_link", {
    text: "Support is available to help with the cost of living.",
    subtext_href: "https://costoflivingsupport.campaign.gov.uk/",
    subtext: "See what help you could be eligible for",
    mobile_subtext: true,
    light_text: true,
    white_arrow: true,
  } %>
<% end %>

