<%= render "govuk_publishing_components/components/govspeak", {
} do %>
  <h3 class="govuk-heading-m">
    <%= t("dit_landing_page.services_title") %>
  </h3>
  <%= t("dit_landing_page.services_text").html_safe %>
  <ul class="govuk-list govuk-list">
    <% t("dit_landing_page.services_list").each do |item| %>
      <li><%= item %></li>
    <% end %>
  </ul>
  <%= t("dit_landing_page.services_list_end").html_safe %>
<% end %>
