<% content_for :title, topic.title %>
<%= render 'shared/tag_meta', tag: topic %>
<% content_for :meta_tags do %>
  <meta name='govuk:navigation-page-type' content='<%= navigation_page_type %>'>
<% end %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <%= render "govuk_publishing_components/components/title", title: topic.title %>
</header>

<div class="browse-container full-width topics-page" data-module="track-click">
  <nav class="topics" data-analytics-ecommerce data-ecommerce-start-index="1" data-list-title="Topic browse" data-search-query="<%= eCommerce_topic_category(topic) %>">
    <%= render 'components/topic-list', topic_list_params(topic.children, category: tracking_category(topic)) %>
  </nav>
</div>
