<% content_for :title do %><%= topic.title %> - GOV.UK<% end %>
<%= render 'shared/tag_meta', tag: topic %>
<%= render 'shared/tag_meta_nav_ab_tracking' %>
<% if is_page_under_ab_test %>
  <%= ab_variant.analytics_meta_tag.html_safe %>
<% end %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <div class="full-width">
    <h1><%= topic.title %></h1>
  </div>
</header>

<div class="browse-container full-width topics-page">
  <nav class="topics">
    <ul>
      <% topic.children.each do |subtopic|%>
        <li>
          <a href="<%= subtopic.base_path %>"><%= subtopic.title %></a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
