<% content_for :title, topic.title %>
<%= render 'shared/tag_meta', tag: topic %>
<% content_for :meta_tags do %>
  <% if is_page_under_ab_test %>
    <%= ab_variant.analytics_meta_tag.html_safe %>
    <%= legacy_navigation_meta_tag(legacy_navigation_analytics_identifier).html_safe %>
  <% end %>
  <meta name='govuk:navigation-page-type' content='<%= navigation_page_type %>'>
<% end %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <div class="full-width">
    <h1><%= topic.title %></h1>
  </div>
</header>

<%
  topic_list_items = topic.children.each_with_index.map do |list_item, list_item_index|
                      {
                        text: list_item.title,
                        path: list_item.base_path,
                        data_attributes: {
                          track_category: topic.base_path == '/topic' ? 'navTopicLinkClicked' : 'navSubtopicLinkClicked',
                          track_action: "#{list_item_index + 1}",
                          track_label: list_item.base_path,
                          track_options: {
                            dimension28: topic.children.count.to_s,
                            dimension29: list_item.title,
                          },
                        }
                      }
                    end
%>

<div class="browse-container full-width topics-page" data-module="track-click">
  <nav class="topics">
    <%= render 'components/topic-list', items: topic_list_items %>
  </nav>
</div>
