<% content_for :title do %><%= @topic.title %> - GOV.UK<% end %>
<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <div class="full-width">
    <h1><%= @topic.title %></h1>
  </div>
</header>

<div class="browse-container full-width topics-page">
  <% if @topic.description.present? %>
    <div class="category-description">
      <p><%= @topic.description %></p>
    </div>
  <% end %>

  <nav class="topics">
    <h1>Topics</h1>
    <ul>
      <% @topic.child_tags.each do |category|%>
        <li>
          <a href="<%= category.content_with_tag.web_url %>"><%= category.title %></a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
