<% content_for :title do %><%= @topic.title %> - GOV.UK<% end %>
<%= render 'shared/tag_meta', tag: @topic %>
<% content_for :page_class, "topics-page" %>

<% content_for :extra_headers do %>
  <%= render partial: 'govuk_component/analytics_meta_tags', locals: { content_item: @content_item } %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: 'govuk_component/breadcrumbs', locals: @navigation_helpers.breadcrumbs %>
  <div class="header-context"><!-- Deliberately empty. This will prevent Static from adding a placeholder breadcrumb. --></div>
<% end %>

<header class="page-header group">
  <div class="full-width">
    <h1><%= @topic.title %></h1>
  </div>
</header>

<% if @topic.beta? %>
  <%= render 'topic_beta', topic: @topic %>
<% end %>

<div class="browse-container full-width topics-page">
  <nav class="topics">
    <ul>
      <% @topic.children.each do |subtopic|%>
        <li>
          <a href="<%= subtopic.base_path %>"><%= subtopic.title %></a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
