<% content_for :title do %><%= @topic.title %> - GOV.UK<% end %>
<%= render 'shared/tag_meta', tag: @topic %>
<% content_for :page_class, "topics-page" %>

<div class="header-context">
  <%# This empty div makes the breadcrumbs dissapear. %>
</div>

<header class="page-header group">
  <div class="full-width">
    <h1><%= @topic.title %></h1>
  </div>
</header>

<% if @topic.beta? %>
  <%= render 'topic_beta', topic: @topic %>
<% end %>

<div class="browse-container full-width topics-page">
  <% if @topic.description.present? %>
    <div class="category-description">
      <p><%= @topic.description %></p>
    </div>
  <% end %>

  <nav class="topics">
    <ul>
      <% @topic.children.each do |subtopic|%>
        <li>
          <a href="<%= subtopic.base_path %>"><%= subtopic.title %></a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
