<header class="covid__page-header covid__page-header--business">
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <% title_link = capture do %>
          Part of <a
            href="<%= title[:context][:href] %>"
            class="govuk-link covid__page-header-link"
            data-module="track-click"
            data-track-category="breadcrumbClicked"
            data-track-action="superBreadcrumb"
            data-track-label="<%= request.path %>"
          >
            <%= title[:context][:text] %>
          </a>
        <% end %>
        <%= render "govuk_publishing_components/components/title", {
          context: title_link,
          title: title[:text],
          inverse: true,
          margin_top: 4,
          margin_bottom: 0,
        } %>
      </div>
    </div>
  </div>
  <div class="covid__page-header-light covid__page-header-light--hub">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds covid__page-header-list">
          <%= render "govuk_publishing_components/components/heading", {
            text: header["pretext"],
            font_size: 19,
            margin_bottom: 3,
            inverse: true
          } %>
          <% if header["list_heading"].present? %>
            <p class="govuk-body covid__inverse">
              <%= header["list_heading"] %>
            </p>
          <% end %>
          <%= render "govuk_publishing_components/components/list", {
            extra_spacing: true,
            visible_counters: true,
            items: header["list"],
          } %>
          <% if header["education-pretext"].present? %>
            <p class="govuk-body covid__inverse">
              <%= header["education-pretext"]["text"] %>
              <% countries = header["education-pretext"]["countries"].map do |country| %>
                <% link_to country["label"], country["url"], class: "covid__page-header-link govuk-link" %>
              <% end %>
              <%= countries.to_sentence(last_word_connector: ' and ').html_safe %>.
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'coronavirus_landing_page/components/hub/guidance_section', guidance: guidance, email_signup: notifications %>
  </header>
