<% if contacts.present? %>
<% contacts.each do |contact| %>
  <div class="organisation__contact-section <%= "organisation__contact-section--border-top" if local_assigns[:border] %>" <%= "lang=#{contact[:locale]}" if contact[:locale] %>>
    <%= render "govuk_publishing_components/components/heading", {
      text: contact[:title],
      padding: true,
      heading_level: 3,
      font_size: 19,
    } %>

    <div class="govuk-grid-row">
      <% if contact[:post_addresses].any? %>
        <address class="govuk-grid-column-one-half organisation__margin-bottom organisation__address">
          <% contact[:post_addresses].each do |post| %>
            <%= post.html_safe %>
          <% end %>
        </address>
      <% end %>

      <% if contact[:email_addresses].any? || contact[:links].any? || contact[:phone_numbers].any?  %>
        <div class="<%= contact[:post_addresses].any? ? "govuk-grid-column-one-half" : "govuk-grid-column-two-thirds" %>">
          <% if contact[:email_addresses].any? %>
            <div class="organisation__margin-bottom">
              <p <%= "lang=en" if contact[:locale] != "en" %>><%= t('organisations.contact.email', locale: :en) %></p>
              <% contact[:email_addresses].each do |email| %>
                <p><%= email.html_safe %></p>
              <% end %>
            </div>
          <% end %>

          <% if contact[:links].any? %>
            <div class="organisation__margin-bottom">
              <% contact[:links].each do |link| %>
                <p><%= link.html_safe %></p>
              <% end %>
            </div>
          <% end %>

          <% if contact[:phone_numbers] %>
            <div class="organisation__margin-bottom">
              <% contact[:phone_numbers].each do |phone| %>
                <p><%= phone[:title] %></p>
                <p class="organisation__contact-number"><%= phone[:number] %></p>
              <% end %>
            </div>
          <% end %>

        </div>
      <% end %>
    </div>
    <%= auto_link(contact[:description], html: { class: "brand__color govuk-link" }) if contact[:description] %>
  </div>
<% end %>
<% end %>
