<div class="govuk-grid-column-one-third organisation__float-section">
    <% unless @organisation.is_promotional_org? %>
      <%= render "govuk_publishing_components/components/heading", {
        text: t('organisations.corporate_information'),
        padding: true,
        border_top: 5,
        brand: @organisation.brand,
        lang: t_fallback('organisations.corporate_information')
      } %>
    <% end %>
  <% if @show.corporate_information[:corporate_information_links][:items].any? && !@organisation.is_no_10? %>
    <div class="<%= "organisation__section-border-top" if @organisation.is_promotional_org? %>">
      <%= render "components/document_navigation_list", @show.corporate_information[:corporate_information_links].merge({ ga4_data: { section: t('organisations.corporate_information', locale: :en) } })  %>
    </div>
  <% end %>
  <% if @show.corporate_information[:job_links][:items].any? && !@organisation.is_no_10? %>
    <%= render "govuk_publishing_components/components/heading", {
      text: t('organisations.jobs_contracts'),
      margin_bottom: 3,
      heading_level: 3,
      font_size: 24,
      lang: t_fallback('organisations.jobs_contracts')
    } %>
    <%= render "components/document_navigation_list", @show.corporate_information[:job_links].merge({ ga4_data: { section: t('organisations.jobs_contracts', locale: :en) } }) %>
  <% end %>

  <% if @organisation.secondary_corporate_information && !@organisation.is_no_10? %>
    <p class="organisation__secondary-corporate-information brand--<%= @organisation.brand %>">
      <%= @organisation.secondary_corporate_information.html_safe %>
    </p>
  <% end %>

  <% if @organisation.is_no_10? && @what_we_do.has_share_links? %>
      <%= render "govuk_publishing_components/components/heading", {
        text: t('organisations.follow_us'),
        margin_bottom: 3,
        heading_level: 3,
        font_size: 19,
        padding: true,
        border_top: 5,
        brand: @organisation.brand,
        lang: t_fallback('organisations.follow_us')
      } %>
      <div lang="en">
        <%= render "govuk_publishing_components/components/share_links", @what_we_do.share_links.merge({ ga4_extra_data: { section: t('organisations.follow_us', locale: :en) }}) %>
      </div>
  <% end %>
</div>
