<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds organisation__margin-bottom">
    <%= render "govuk_publishing_components/components/title", {
      title: @header.org.title
    } %>

    <div class="organisation__parent-organisations brand--<%= @organisation.brand %>">
      <%= t('organisations.administered_by') %>
      <%= @show.parent_organisations %>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/translation_nav", @header.translation_links %>
    <%= render "components/document_navigation_list", @header.ordered_featured_links.merge({ ga4_data: { section: @header.org.title } }) %>
  </div>
</div>
