<% if @documents.has_featured_news? %>
<%
  render_first_featured_news = @organisation.is_news_organisation? && !@organisation.is_no_10?

  # GA4 attributes
  ga4_index = 1
  ga4_index_total = @documents.remaining_featured_news.count

  # Increment GA4 index total by 1 if 'First featured news' is rendered
  ga4_index_total += 1 if render_first_featured_news

  ga4_image_card_json = {
    "event_name": "navigation",
    "type": "image card",
    "section": t('shared.featured', locale: :en),
    "index_total": ga4_index_total
  }
%>
<section class="brand--<%= @organisation.brand %> brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="featured-documents">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
          text: t('shared.featured'),
          padding: true,
          margin_bottom: 3,
          lang: t_fallback('shared.featured')
      } %>
    </div>
  </div>

  <% if render_first_featured_news %>
      <%= render "govuk_publishing_components/components/image_card", @documents.first_featured_news.merge({ data_attributes: { module: "ga4-link-tracker", ga4_link: ga4_image_card_json.merge({ index: { index_link: ga4_index } }) }}) %>
      <% ga4_index += 1 %>
  <% end %>

  <% @documents.remaining_featured_news.in_groups_of(3, false).each do |news| %>
    <div class="govuk-grid-row" data-module="ga4-link-tracker">
      <% news.each do |news_item| %>
        <% classes = %w[] %>
        <% classes << "govuk-grid-column-one-third" unless news_item[:large] %>
        <% classes << "govuk-grid-column-full" if news_item[:large] %>

        <%= content_tag(:div, class: classes) do %>
          <%= render "govuk_publishing_components/components/image_card", news_item.merge({ data_attributes: { ga4_link: ga4_image_card_json.merge({ index: { index_link: ga4_index }}) }}) %>
          <% ga4_index +=1 %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
<% end %>
