<% if @documents.has_featured_news? %>
<section class="brand--<%= @organisation.brand %> brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="featured-documents">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
          text: t('shared.featured'),
          padding: true,
          margin_bottom: 3,
          lang: t_fallback('shared.featured')
      } %>
    </div>
  </div>

  <% if @organisation.is_news_organisation? && !@organisation.is_no_10? %>
    <%= render "govuk_publishing_components/components/image_card", @documents.first_featured_news %>
  <% end %>

  <% @documents.remaining_featured_news.in_groups_of(3, false) do |news| %>
    <div class="govuk-grid-row">
      <% news.each do |news_item| %>
        <% classes = %w[] %>
        <% classes << "govuk-grid-column-one-third" unless news_item[:large] %>
        <% classes << "govuk-grid-column-full" if news_item[:large] %>

        <%= content_tag(:div, class: classes) do %>
          <%= render "govuk_publishing_components/components/image_card", news_item %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
<% end %>
