<section class="brand--<%= @organisation.brand %> brand__border-color organisation__brand-border-top organisation__margin-bottom" id="freedom-of-information">
  <% if @organisation.foi_exempt? %>
    <%= render "govuk_publishing_components/components/heading", {
      text: t('organisations.foi.freedom_of_information_act'),
      padding: true,
      lang: t_fallback('organisations.foi.freedom_of_information_act')
    } %>
    <p><%= t('organisations.foi.foi_exemption_html', foi_url: 'http://www.legislation.gov.uk/ukpga/2000/36/schedule/1') %></p>

  <% else %>
    <%= render "govuk_publishing_components/components/heading", {
      text: t('organisations.foi.make_an_foi_request'),
      padding: true,
      lang: t_fallback('organisations.foi.make_an_foi_request')
    } %>

    <%= render "govuk_publishing_components/components/govspeak", {
      } do %>
        <ol class="steps">
          <li>
            <%= t('organisations.foi.making_foi_requests.step1_html', how_to_path: 'https://www.gov.uk/make-a-freedom-of-information-request/the-freedom-of-information-act') %>
          </li>
          <li>
            <%= t('organisations.foi.making_foi_requests.step2_html', our_releases_path: @contacts.foi_previous_releases_link) %>
          </li>
          <% if @contacts.has_foi_contacts? %>
            <li><%= t('organisations.foi.making_foi_requests.step3_html') %></li>
          <% end %>
        </ol>
    <% end %>

    <% if @contacts.has_foi_contacts? %>
      <%= render partial: 'contacts', locals: { contacts: @contacts.foi_contacts, ga4_section: t('organisations.foi.make_an_foi_request', locale: :en) } %>
    <% end %>
  <% end %>
</section>
