
<h1 class="govuk-visually-hidden"><%= @header.org.title %></h1>

<div class="govuk-grid-row">
  <div class="<%= @header.logo_wrapper_class %> organisation__margin-bottom">
    <%= render "govuk_publishing_components/components/organisation_logo", {
      organisation: @header.organisation_logo
    } %>

    <% if @organisation.is_sub_organisation? && @show.parent_organisations %>
      <div class="organisation__parent-organisations brand--<%= @organisation.brand %>">
        <%= t('organisations.part_of') %>
        <%= @show.parent_organisations %>
      </div>
    <% end %>
  </div>

  <% if @organisation.is_live? %>
    <div class="<%= @header.link_wrapper_class %> organisation__margin-bottom">
      <%= render "govuk_publishing_components/components/translation_nav", @header.translation_links %>
      <%= render "shared/featured_links", @header.ordered_featured_links.merge({ ga4_data: { section: @header.org.title } }) %>
    </div>
  <% end %>
</div>

