<% if @organisation.is_no_10? %>
  <div class="govuk-width-container">
    
    <div class="organisation__no10-header organisation__margin-bottom">
      <%# To do: add asset here and style and name this container as needed %>
      <span class="govuk-heading-xl govuk-!-text-align-centre">
      10
      </span>
      
      <div class="organisation__no10-header__banner govuk-!-margin-bottom-6">

          <%# To do: add assets here - if their ratio doesn't match the placeholder assets then you need to test them again and possibly tweak things like margins %>
        <%= content_tag(:picture) do %>
          <%= tag(:source, media: "(min-width: 641px)", srcset: "#{image_path('no10header-desktop.png')}") %>
          <%= tag(:img, src: "#{image_path('no10header.png')}", alt: "") %>
        <% end %>

        <div class="organisation__no10-header__banner__content">
          <%= render "govuk_publishing_components/components/heading", {
            text: "The Prime Minister's Office,<br> 10 Downing Street".html_safe,
            heading_level: 1,
            font_size: "l",
            margin_bottom: 0,
            inverse: true
          } %>
        </div>
      </div>
      <div class="organisation__no10-header__cards">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Lorem ipsum dolor sit amet",
          heading_level: 3,
          margin_bottom: 5
        } %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <%= render "govuk_publishing_components/components/image_card", {
              brand: "prime-ministers-office-10-downing-street",
              href: "/not-a-page",
              heading_text: "Lorem ipsum",
              heading_level: 3,
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          } %>
          </div>
          <div class="govuk-grid-column-one-third">
            <%= render "govuk_publishing_components/components/image_card", {
              brand: "prime-ministers-office-10-downing-street",
              href: "/not-a-page",
              heading_text: "Lorem ipsum",
              heading_level: 3,
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          } %>
          </div>
          <div class="govuk-grid-column-one-third">
            <%= render "govuk_publishing_components/components/image_card", {
              brand: "prime-ministers-office-10-downing-street",
              href: "/not-a-page",
              heading_text: "Lorem ipsum",
              heading_level: 3,
              description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h1 class="govuk-visually-hidden"><%= @header.org.title %></h1>

  <div class="govuk-grid-row">
    <div class="<%= @header.logo_wrapper_class %> organisation__margin-bottom">
      <%= render "govuk_publishing_components/components/organisation_logo", {
        organisation: @header.organisation_logo
      } %>

      <% if @organisation.is_sub_organisation? %>
        <div class="organisation__parent-organisations brand--<%= @organisation.brand %>">
          <%= t('organisations.part_of') %>
          <%= @show.parent_organisations %>
        </div>
      <% end %>
    </div>

    <% if @organisation.is_live? %>
      <div class="<%= @header.link_wrapper_class %> organisation__margin-bottom">
        <%= render "govuk_publishing_components/components/translation_nav", @header.translation_links %>
        <%= render "components/topic-list", @header.ordered_featured_links %>
      </div>
    <% end %>
  </div>
<% end %>
