<% if @organisation.is_no_10? %>
  <h1 class="organisation__no10-banner organisation__margin-bottom"><%= @header.org.title %></h1>
<% else %>
  <h1 class="govuk-visually-hidden"><%= @header.org.title %></h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third organisation__margin-bottom">
      <%= render "govuk_publishing_components/components/organisation_logo", {
        organisation: @header.organisation_logo
      } %>

      <% if @organisation.is_sub_organisation? %>
        <div class="organisation__parent-organisations brand--<%= @organisation.brand %>">
          <%= t('organisations.part_of') %>
          <%= @show.parent_organisations %>
        </div>
      <% end %>
    </div>

    <% if @organisation.is_live? %>
      <div class="govuk-grid-column-two-thirds organisation__margin-bottom">
        <%= render "govuk_publishing_components/components/translation_nav", @header.translation_links %>
        <%= render "components/topic-list", @header.ordered_featured_links %>
      </div>
    <% end %>
  </div>
<% end %>
