<% if @organisation.is_no_10? %>
  <%= render "shared/browse_header", {
    } do %>

    <h1 class="browse__heading govuk-heading-xl">
      10
    </h1>
    <div class="test-overlay">
      <img
      src="../../no10header.png"
      alt="">
    </div>
    <%# <div class="new-org-header-image-card">
      <%= render "govuk_publishing_components/components/image_card", @documents.first_featured_news
      </div> %>
    
  <% end %>
<% else %>
  <h1 class="govuk-visually-hidden"><%= @header.org.title %></h1>

  <div class="govuk-grid-row">
    <div class="<%= @header.logo_wrapper_class %> organisation__margin-bottom">
      <%= render "govuk_publishing_components/components/organisation_logo", {
        organisation: @header.organisation_logo
      } %>

      <% if @organisation.is_sub_organisation? %>
        <div class="organisation__parent-organisations brand--<%= @organisation.brand %>">
          <%= t('organisations.part_of') %>
          <%= @show.parent_organisations %>
        </div>
      <% end %>
    </div>

    <% if @organisation.is_live? %>
      <div class="<%= @header.link_wrapper_class %> organisation__margin-bottom">
        <%= render "govuk_publishing_components/components/translation_nav", @header.translation_links %>
        <%= render "components/topic-list", @header.ordered_featured_links %>
      </div>
    <% end %>
  </div>
<% end %>
