<% if @supergroups.has_groups? %>
<section class="<%= "brand--#{@organisation.brand} brand__border-color" if @organisation.is_live? %> organisation__brand-border-top organisation__margin-bottom">
  <div class="visually-hidden">
    <%= render "govuk_publishing_components/components/heading", {
        text: t('organisations.document_types.documents'),
        padding: true
    } %>
  </div>

  <% @supergroups.latest_documents_by_supergroup.in_groups_of(2, false) do |supergroup_pair| %>
    <div class="govuk-grid-row">
      <% supergroup_pair.each do |supergroup| %>
        <div class="govuk-grid-column-one-half organisation__supergroup--margin-bottom">
          <%= render "govuk_publishing_components/components/heading", {
            text: supergroup[:title],
            padding: true,
            font_size: 24,
            heading_level: 3,
            lang: supergroup[:lang]
          } %>
          <%= render "govuk_publishing_components/components/document_list", supergroup[:documents].merge({ ga4_extra_data: { section: t('organisations.document_types.documents', locale: :en)}}) %>
          <a href="<%= supergroup[:finder_link][:path] %>" class="govuk-link brand__color" <%= supergroup[:finder_link][:lang] %>>
            <%= supergroup[:finder_link][:text] %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
<% end %>
