<% if @documents.has_latest_documents? %>
<section class="brand--<%= @organisation.brand %> brand__border-color organisation__brand-border-top organisation__margin-bottom" id="latest-documents">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('organisations.latest_from', title: @show.prefixed_title),
        padding: true,
        margin_bottom: 3
      } %>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render "govuk_publishing_components/components/document_list", @documents.latest_documents %>

      <p class="organisation__margin-bottom brand--<%= @organisation.brand %>">
        <a href="<%= "/search/all?organisations[]=#{@organisation.slug}&order=updated-newest&parent=#{@organisation.slug}" %>" class="brand__color" <%= t_lang('organisations.see_all_latest_documents') %>>
          <%= t('organisations.see_all_latest_documents') %>
        </a>
      </p>

      <%= render "govuk_publishing_components/components/subscription-links", @show.subscription_links %>
    </div>
  </div>
</section>
<% end %>
