<% all_organisations.each do |organisation_type, organisations| %>
  <div class="govuk-grid-row organisations-list__section" data-filter="block">

    <div class="govuk-grid-column-one-third" data-filter="count">
      <% unless @presented_organisations.executive_office?(organisation_type) %>
        <%= render "govuk_publishing_components/components/heading", {
          text: organisation_type.to_s.humanize,
          heading_level: 2,
          id: organisation_type
        } %>
        <div class="organisations__department-count-wrapper">
          <p class="govuk-visually-hidden">There are <span class="js-accessible-department-count"><%= organisations.count %></span> <%= organisation_type.to_s.humanize %></p>
          <span class="js-department-count" aria-hidden="true"><%= organisations.count %></span>
        </div>
      <% end %>
    </div>

    <div class="govuk-grid-column-two-thirds <%= "organisations-list__without-number" if @presented_organisations.executive_office?(organisation_type) %>">
      <ol data-filter="list">
        <% organisations.each do |organisation| %>
          <%= content_tag :li, {
            class: "organisations-list__item",
            id: organisation['slug'],
            data: {
              filter: "item",
              "filter-acronym": organisation["acronym"].presence,
            },
          } do %>
            <% if @presented_organisations.ministerial_organisation?(organisation_type) %>
              <%= render "govuk_publishing_components/components/organisation_logo", {
                organisation: {
                  name: organisation["logo"]["formatted_title"],
                  url: organisation["href"],
                  brand: organisation["brand"],
                  crest: organisation["logo"]["crest"]
                },
                heading_level: 3
              } %>
            <% else %>
              <%= link_to(organisation["title"], organisation["href"], class: "govuk-link organisation-list__item-title") %>

              <% if organisation["separate_website"] %>
                <span class="organisation-list__item-context"><%= t('organisations.separate_website') %></span>
              <% end %>
            <% end %>

            <% if @presented_organisations.works_with_statement(organisation) %>
              <div data-module="gem-toggle">
                <p class="organisation-list__item-works-with"><%= @presented_organisations.works_with_statement(organisation) %></p>
                <%= render partial: 'expanded_works_with_organisations',
                  locals: {
                    works_with_organisations: @presented_organisations.ordered_works_with(organisation),
                    current_organisation: organisation["title"]
                  } %>
              </div>
            <% end %>
          <% end # </li> %>
        <% end %>
      </ol>
    </div>

  </div>
<% end %>
