<div class="organisation-body">
  <%= render "govuk_publishing_components/components/heading", {
      text: "What we do",
      heading_level: 2
  } %>
  <div>
    <%= organisation.body %>
    <% if child_organisation_count(organisation).nonzero? %>
      <p class="child-organisation-count">
        <%= "#{organisation.title} is a #{organisation.organisation_type}, supported by" %>
        <%= link_to "#{child_organisation_count(organisation)} agencies and public bodies" %>.
      </p>
    <% end %>
    <%= link_to "Read more about what we do", "#{organisation.base_path}/about" %>
  </div>
</div>

<div class="organisation-social-media">
  Follow us
  <% organisation.social_media_links.each do |link| %>
    <%= link_to link["title"], link["href"] %>
  <% end %>
</div>

<% if organisation.ordered_featured_policies.present? %>
  <div class="organisation-policies">
    <%= render "govuk_publishing_components/components/heading", {
        text: "Our policies",
        heading_level: 2
    } %>
    <% organisation.ordered_featured_policies.each do |policy| %>
      <%= link_to policy["title"], policy["base_path"] %>
      <hr>
    <% end %>
  </div>
<% end %>
