<% all_organisations.each do |organisation_type, organisations| %>
  <div class="govuk-grid-row organisations-list__section" data-filter="block">

    <div class="govuk-grid-column-one-third" data-filter="count">
      <% unless @presented_organisations.executive_office?(organisation_type) %>
        <%= render "govuk_publishing_components/components/heading", {
          text: organisation_type.to_s.humanize,
          heading_level: 2,
          id: organisation_type
        } %>
        <p class="govuk-visually-hidden">There are <span class="js-accessible-department-count"><%= organisations.count %></span> <%= organisation_type.to_s.humanize %></p>
        <%= render "govuk_publishing_components/components/big_number", {
          number: organisations.count,
          data_attributes: {
            department_count: "true",
          },
          aria: {
            hidden: true,
          },
        } %>
      <% end %>
    </div>

    <div class="govuk-grid-column-two-thirds <%= "organisations-list__without-number" if @presented_organisations.executive_office?(organisation_type) %>">
      <ol data-filter="list">
        <% organisations.each do |organisation| %>
          <%= content_tag :li, {
            class: "organisations-list__item",
            id: organisation['slug'],
            data: {
              filter: "item",
              "filter-acronym": organisation["acronym"].presence,
            },
          } do %>
            <% if @presented_organisations.ministerial_organisation?(organisation_type) %>
              <div class="govuk-!-margin-bottom-3">
                <%= render "govuk_publishing_components/components/organisation_logo", {
                  organisation: {
                    name: organisation["logo"]["formatted_title"],
                    url: organisation["href"],
                    brand: organisation["brand"],
                    crest: organisation["logo"]["crest"]
                  },
                  heading_level: 3,
                } %>
              </div>
            <% else %>
              <div class="govuk-!-margin-bottom-3">
                <%= link_to(organisation["title"], organisation["href"], class: "organisation-list__item-title govuk-heading-s govuk-!-font-weight-regular govuk-!-display-inline govuk-!-margin-right-2 govuk-link") %>

                <% if organisation["separate_website"] %>
                  <span class="organisation-list__item-context"><%= t('organisations.separate_website') %></span>
                <% end %>
              </div>
            <% end %>

            <% if @presented_organisations.works_with_statement(organisation) %>
              <div class="govuk-!-margin-bottom-3">
                <%= render "govuk_publishing_components/components/details", {
                  title: @presented_organisations.works_with_statement(organisation)
                } do %>
                  <%= render partial: 'expanded_works_with_organisations',
                    locals: {
                      works_with_organisations: @presented_organisations.ordered_works_with(organisation),
                      current_organisation: organisation["title"]
                  } %>
                <% end %>
              </div>
            <% end %>
          <% end # </li> %>
        <% end %>
      </ol>
    </div>

  </div>
<% end %>
