<%= render partial: 'title' %>
<%= render partial: 'header' %>

<%= render "govuk_publishing_components/components/notice", {
  title: "#{organisation.title} has a <a href='#{@organisation.separate_website_url}'>separate website</a>".html_safe
} %>

<div class="grid-row organisations__margin-bottom">
  <div class="column-two-thirds">
    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <p><%= organisation.body.html_safe %></p>
    <% end %>
  </div>
</div>

<% if @documents.has_latest_documents_by_type?  %>
  <%= render partial: 'latest_documents_by_type' %>
<% end %>
