<%= render partial: 'breadcrumb' %>
<%= render partial: 'header' %>

<%= render 'govuk_publishing_components/components/machine_readable_metadata',
  schema: :organisation,
  content_item: @organisation.content_item.content_item_data %>

<% if @documents.has_featured_news? %>
  <%= render partial: 'featured_news' %>
<% end %>

<% if @documents.has_latest_documents? %>
  <%= render partial: 'latest_documents' %>
<% end %>

<% if @organisation.body || what_we_do.has_share_links? %>
  <%= render partial: 'what_we_do' %>
<% end %>

<% if @organisation.is_promotional_org? && @documents.has_promotional_features? %>
  <%= render partial: 'promotional_features' %>
<% end %>

<% if @show.has_featured_policies? %>
  <%= render partial: 'featured_policies' %>
<% end %>

<% if @documents.has_latest_documents_by_type? && !@organisation.is_promotional_org?  %>
  <%= render partial: 'latest_documents_by_type' %>
<% end %>

<% unless @organisation.is_promotional_org? %>
  <% if @people.has_people? %>
    <div id="people">
      <% @people.all_people.each do |people_data| %>
        <%= render partial: 'related_people', locals: {
          people: people_data[:people],
          title: people_data[:title],
          brand: @organisation.brand
        } %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <% if @contacts.has_contacts? %>
      <section class="brand--<%= @organisation.brand %> organisation__margin-bottom" id="org-contacts">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('organisations.contact.contact_organisation', organisation: @show.acronym),
          brand: @organisation.brand,
          border_top: 5,
          padding: true
        } %>

        <%= render partial: 'contacts', locals: { contacts: @contacts.contacts, border: true } %>
      </section>
    <% end %>

    <% unless @organisation.is_promotional_org? %>
      <%= render partial: 'freedom_of_information' %>
    <% end %>

    <% if @show.high_profile_groups[:items] && !@organisation.is_promotional_org? %>
      <section class="organisation__margin-bottom" id="high-profile-groups">
        <%= render "govuk_publishing_components/components/heading", {
          text: @show.high_profile_groups[:title],
          brand: @organisation.brand,
          border_top: 5,
          padding: true,
          margin_bottom: 2
        } %>

        <%= render "components/topic-list", @show.high_profile_groups %>
      </section>
    <% end %>
  </div>
  <% if @organisation.ordered_corporate_information && @organisation.ordered_corporate_information.any? %>
    <div class="organisation__corporate-information" id="corporate-info">
      <%= render partial: 'corporate_information' %>
    </div>
  <% end %>
</div>
