<%= render partial: 'title' %>

<% unless @organisation.is_no_10? %>
  <%= render partial: 'header' %>
<% end %>

<% if @documents.has_featured_news? %>
  <%= render partial: 'featured_news' %>
<% end %>

<% if @documents.has_latest_documents? %>
  <%= render partial: 'latest_documents' %>
<% end %>

<% if @organisation.body || what_we_do.has_share_links? %>
  <%= render partial: 'what_we_do' %>
<% end %>

<% if @show.has_featured_policies? %>
  <%= render partial: 'featured_policies' %>
<% end %>

<% if @documents.has_latest_documents_by_type? && !@organisation.is_no_10?  %>
  <%= render partial: 'latest_documents_by_type' %>
<% end %>

<% unless @organisation.is_no_10? %>
  <% @people.all_people.each do |people_data| %>
    <%= render partial: 'related_people', locals: {
      people: people_data[:people],
      title: people_data[:title],
      brand: @organisation.brand
    } %>
  <% end %>
<% end %>

<% unless @organisation.is_promotional_org? %>
  <%= render partial: 'freedom_of_information' %>
<% end %>

<% if @show.high_profile_groups[:items] %>
  <section class="grid-row organisations__margin-bottom">
    <div class="column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: @show.high_profile_groups[:title],
        brand: @organisation.brand,
        border_top: 5,
        padding: true,
        margin_bottom: 2
      } %>

      <%= render "components/topic-list", @show.high_profile_groups %>
    </div>
  </section>
<% end %>

