<% if @organisation.body || @what_we_do.has_share_links? %>
<section class="brand--<%= @organisation.brand %> brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="what-we-do">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('organisations.what_we_do'),
        padding: true,
        margin_bottom: 3,
        lang: t_fallback('organisations.what_we_do', {title: @show.prefixed_title})
      } %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <%= @organisation.body.html_safe %>

          <% unless @organisation.is_court_or_hmcts_tribunal? %>
          <p>
            <a href="<%= t('organisations.about_page_path', organisation: @organisation.slug, language_code: I18n.locale) %>" class="govuk-link brand__color">
              <%= t('organisations.read_more') %>
            </a>
          </p>
          <% end %>
      <% end %>
    </div>

    <% if @what_we_do.has_share_links? && !@organisation.is_no_10? %>
      <div class="govuk-grid-column-one-third">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('organisations.follow_us'),
          margin_bottom: 3,
          heading_level: 3,
          font_size: 19,
          lang: t_fallback('organisations.follow_us')
        } %>
        <div lang="en">
          <%= render "govuk_publishing_components/components/share_links", @what_we_do.share_links %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<% end %>
