<section class="brand--<%= @organisation.brand %> brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: t('organisations.what_we_do', title: @show.prefixed_title),
        padding: true,
        margin_bottom: 2
      } %>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <p><%= @organisation.body.html_safe %></p>
          <p>
            <a href="<%= @organisation.base_path %>/about" class="brand__color">
              <%= t('organisations.read_more') %>
            </a>
          </p>
      <% end %>

      <% if @organisation.is_dfid? %>
        <%= render partial: 'uk_aid' %>
      <% end %>
    </div>

    <% if @what_we_do.has_share_links? %>
      <div class="column-one-third">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('organisations.follow_us'),
          margin_bottom: 2,
          heading_level: 3,
          font_size: 19
        } %>
        <%= render "govuk_publishing_components/components/share_links", @what_we_do.share_links %>
      </div>
    <% end %>
  </div>
</section>
