<% add_view_stylesheet("organisation") %>

<%= render partial: 'meta', locals: { organisation: @organisation } %>
<%= render partial: 'breadcrumb' %>
<%= render partial: 'courts_header' %>

<%= render 'govuk_publishing_components/components/machine_readable_metadata',
           schema: :organisation,
           content_item: @organisation.content_item.content_item_data %>

<% if @organisation.body || what_we_do.has_share_links? %>
  <%= render partial: 'what_we_do' %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'org_contacts', locals: { contacts: @contacts } %>
  </div>
</div>
