<% content_for :title, t("organisations.index_title", title: @presented_organisations.title) %>

<% content_for :meta_tags do %>
  <%= auto_discovery_link_tag(:json, api_organisations_url, title: @presented_organisations.title) %>
<% end %>

<div data-module="filter-organisations">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
          title: @presented_organisations.title
      } %>

      <form class="filter-organisations-list__form" data-filter="form" role="search" aria-label="Departments, agencies and public bodies">
        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("organisations.search_for_department")
          },
          name: "search-box",
          id: "filter-organisations-list",
          controls: "organisations_search_results"
        } %>
      </form>
    </div>
  </div>

  <div class="organisations" id="organisations_search_results" role="region" aria-label="List of departments, agencies and public bodies">
    <%= render partial: 'organisations_list', locals: {
      all_organisations: @presented_organisations.all_organisations
    } %>
  </div>
</div>

<%= t("organisations.errors_or_omissions_html") %>
