<% add_view_stylesheet("organisation") %>

<%= render partial: 'meta', locals: { organisation: @organisation } %>
<%= render partial: 'breadcrumb' %>
<%= render partial: 'header' %>

<%= render 'govuk_publishing_components/components/machine_readable_metadata',
  schema: :organisation,
  content_item: organisation.content_item.content_item_data %>

<%= render "govuk_publishing_components/components/notice", {
  title: @not_live.non_live_organisation_notice
} %>

<div class="govuk-grid-row organisation__margin-bottom">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <p><%= organisation.body.html_safe %></p>
    <% end %>
  </div>
</div>

<% unless @organisation.is_joining? %>
  <%= render partial: 'latest_documents_by_supergroup' %>
<% end %>
