<% content_for :head do %>
  <%= stylesheet_link_tag "views/_organisation", media: "all" %>
<% end %>

<%= render partial: 'meta', locals: { organisation: @organisation } %>
<%= render partial: 'breadcrumb' %>
<%= render "govuk_web_banners/recruitment_banner" %>
<%= render partial: 'header' %>
<% if @organisation.custom_banner %>
  <%= render "govuk_publishing_components/components/notice", {
    title: sanitize(@organisation.custom_banner)
  } %>
<% end %>
<%= render 'govuk_publishing_components/components/machine_readable_metadata',
           schema: :organisation,
           content_item: @organisation.content_item.content_item_data %>

<% if @organisation.is_no_10? %>
  <%= render partial: 'featured_news_no10' %>
  <%= render partial: 'latest_news' %>
  <%= render partial: 'videos' if @documents.has_promotional_video_feature? %>
  <%= render partial: 'promotional_features_side_by_side' %>
<% else %>
  <%= render partial: 'featured_news' %>
  <%= render partial: 'latest_documents' %>
  <%= render partial: 'what_we_do' %>
  <% if @organisation.is_civil_service? %>
    <%= render partial: 'videos' if @documents.has_promotional_video_feature? %>
    <%= render partial: 'promotional_features' %>
  <% else %>
    <%= render partial: 'standard_org_docs_people' %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'org_contacts', locals: { contacts: @contacts } %>
    <% unless @organisation.is_no_10? || @organisation.is_civil_service? %>
      <%= render partial: 'standard_org_foi_profiles' %>
    <% end %>
  </div>
  <% if @organisation.ordered_corporate_information.present? %>
    <div class="organisation__corporate-information" id="corporate-info">
      <%= render partial: 'corporate_information' %>
    </div>
  <% end %>
</div>
