<ul class="organisations-list govuk-clearfix">
  <li class="organisations-list__item non-govuk imperial-war-museums">
    <a href="http://www.iwm.org.uk"><%= t('topical_events.first_world_war_centenary.imperial_war_museum') %></a>
  </li>
  <li class="organisations-list__item non-govuk historic-england">
    <a href="https://historicengland.org.uk"><%= t('topical_events.first_world_war_centenary.historic_england') %></a>
  </li>
  <li class="organisations-list__item non-govuk commonwealth-war-graves-commission">
    <a href="http://www.cwgc.org"><%= t('topical_events.first_world_war_centenary.commonwealth_war_graves_commission') %></a>
  </li>
  <li class="organisations-list__item non-govuk arts-council-england">
    <a href="http://www.artscouncil.org.uk"><%= t('topical_events.first_world_war_centenary.arts_council_england') %></a>
  </li>
  <li class="organisations-list__item non-govuk bbc">
    <a href="http://www.bbc.co.uk"><%= t('topical_events.first_world_war_centenary.bbc') %></a>
  </li>
  <li class="organisations-list__item non-govuk british-library">
    <a href="http://www.bl.uk"><%= t('topical_events.first_world_war_centenary.british_library') %></a>
  </li>
  <li class="organisations-list__item non-govuk heritage-lottery-fund">
    <a href="http://www.hlf.org.uk/ThenAndNow"><%= t('topical_events.first_world_war_centenary.heritage_lottery_fund') %></a>
  </li>
  <li class="organisations-list__item non-govuk war-memorials-trust">
    <a href="http://www.warmemorials.org"><%= t('topical_events.first_world_war_centenary.war_memorials_trust') %></a>
  </li>
</ul>
