<% content_for :title, @topical_event.title %>
<% page_class "topical-events-show" %>

<% content_for :meta_tags do %>
  <%= tag("meta", name: "description", content: @topical_event.description) if @topical_event.description %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: @topical_event.title,
      context: (I18n.t("topical_events.archived") if @topical_event.archived?)
    } %>

    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: @topical_event.description,
      margin_bottom: 8,
    } %>

    <% if @topical_event.image_url %>
      <%= image_tag(@topical_event.image_url, alt: @topical_event.image_alt_text) %>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <% if @topical_event.organisations %>
      <%= render "govuk_publishing_components/components/metadata", {
        other: {
          "Organisations": sanitize(array_of_links_to_organisations(@topical_event.organisations).to_sentence)
        }
      } %>
    <% end %>

    <%= render "govuk_publishing_components/components/govspeak", {
      } do %>
        <%= @topical_event.body&.html_safe %>
    <% end %>

    <% if @topical_event.about_page_link_text %>
      <p class="govuk-body">
        <%= link_to(@topical_event.about_page_link_text, @topical_event.about_page_url, html_options: { class: "govuk-link" }) %>
      </p>
    <% end %>

    <% if @topical_event.social_media_links %>
      <%= render "govuk_publishing_components/components/share_links", {
        links: @topical_event.social_media_links,
      } %>
    <% end %>
  </div>

  <div class="govuk-grid-column-full govuk-!-margin-bottom-7">
    <% if @topical_event.ordered_featured_documents %>
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("topical_events.headings.featured"),
        padding: true,
        font_size: "l",
        border_top: 2,
        margin_bottom: 4,
      } %>

      <% @topical_event.ordered_featured_documents.in_groups_of(3, false) do |row| %>
        <div class="govuk-grid-row">
          <% row.each do |document| %>
            <div class="govuk-grid-column-one-third">
              <%= render "govuk_publishing_components/components/image_card", document %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <section id="latest">
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("topical_events.headings.latest"),
        padding: true,
        font_size: 27,
        border_top: 2,
        margin_bottom: 3,
      } %>

      <% if @topical_event.latest.any? %>
        <%= render(partial: 'document_list_from_search_api', locals: { documents: @topical_event.latest, link_to: search_url(:latest, @topical_event.slug) })  %>
      <% else %>
        <p class="govuk-body"><%= I18n.t("topical_events.no_updates") %></p>
      <% end %>

      <%= render "govuk_publishing_components/components/subscription_links", {
        email_signup_link: "/email-signup?link=#{topical_event_path(@topical_event.slug)}",
        feed_link_box_value: Plek.new.website_root + topical_event_path(@topical_event.slug, format: "atom")
      } %>
    </section>
  </div>

  <div class="govuk-grid-column-full">
    <% if @topical_event.publications.any? || @topical_event.consultations.any? || @topical_event.announcements.any? || @topical_event.detailed_guidance.any? %>
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("topical_events.headings.documents"),
        padding: true,
        font_size: "l",
        border_top: 2,
        margin_bottom: 3,
      } %>
    <% end %>

    <%= render(partial: 'document_list_from_search_api', locals: { documents: @topical_event.publications, heading: I18n.t("topical_events.headings.publications"), link_to: search_url(:publication, @topical_event.slug) }) if @topical_event.publications.any? %>
    <%= render(partial: 'document_list_from_search_api', locals: { documents: @topical_event.consultations, heading: I18n.t("topical_events.headings.consultations"), link_to: search_url(:consultation, @topical_event.slug) }) if @topical_event.consultations.any? %>
    <%= render(partial: 'document_list_from_search_api', locals: { documents: @topical_event.announcements, heading: I18n.t("topical_events.headings.announcements"), link_to: search_url(:announcement, @topical_event.slug) }) if @topical_event.announcements.any? %>
    <%= render(partial: 'document_list_from_search_api', locals: { documents: @topical_event.detailed_guidance, heading: I18n.t("topical_events.headings.detailed_guides"), link_to: search_url(:detailed_guidance, @topical_event.slug) }) if @topical_event.detailed_guidance.any? %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @topical_event.travel_advice.any? %>
      <%= render "govuk_publishing_components/components/heading", {
        text: t("topical_events.headings.travel_advice"),
        font_size: "l",
        margin_bottom: 4,
        padding: true,
        border_top: 2,
      } %>
      <%= render "govuk_publishing_components/components/document_list", {
        items: @topical_event.travel_advice.map do |travel_advice|
          {
            link: {
              text: travel_advice["title"],
              path: travel_advice["base_path"]
            }
          }
        end
      } %>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @topical_event.organisations %>
      <div class="organisations">
        <%= render "govuk_publishing_components/components/heading", {
          text: t("topical_events.organisations"),
          font_size: "l",
          margin_bottom: 4,
          padding: true,
          border_top: 2,
        } %>

        <div class="govuk-grid-row">
          <% @topical_event.organisations.each do |organisation| %>
            <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-7">
              <%= render "govuk_publishing_components/components/organisation_logo", {
                organisation: {
                  name: organisation[:title],
                  url: organisation[:base_path],
                  brand: organisation[:brand],
                  crest: organisation[:crest],
                }
              } %>
            </div>
          <% end %>
        </div>

        <% if @topical_event.slug == 'first-world-war-centenary' %>
          <%= render "first_world_war_centenary"%>
        <% end %>

        <% if @topical_event.slug == '2022-events-platinum-jubilee-commonwealth-games-unboxed' %>
          <%= render "platinum_jubilee_unboxed" %>
        <% end %>
        
      </div>
    <% end %>
  </div>
</div>
