<% content_for :title, @topical_event.title %>
<% page_class "topical-events-show" %>

<% content_for :meta_tags do %>
  <%= tag("meta", name: "description", content: @topical_event.description) if @topical_event.description %>
<% end %>

  <% if @topical_event.slug == "her-majesty-queen-elizabeth-ii" %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <%= render "govuk_publishing_components/components/title", {
        title: "Her Majesty Queen Elizabeth&nbsp;II".html_safe,

      } %>
    </div>
  </div>
  <% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render "govuk_publishing_components/components/title", {
        title: @topical_event.title,
        context: (I18n.t("topical_events.archived") if @topical_event.archived?)
      } %>
    </div>
  </div>
  <% end %>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: @topical_event.description,
    } %>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible topical-events__section-break">

    <% if @topical_event.organisations %>
      <%= render "govuk_publishing_components/components/metadata", {
        other: {
          "Organisations": sanitize(array_of_links_to_organisations(@topical_event.organisations).to_sentence)
        }
      } %>
    <% end %>

    <% if @topical_event.image_url %>
      <div class="topical-events__image">
      <%= image_tag(@topical_event.image_url, alt: @topical_event.image_alt_text) %>
      </div>
    <% end %>

    <div class="topical-event__body-wrapper">
      <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <%= @topical_event.body&.html_safe %>
      <% end %>

      <% if @topical_event.about_page_link_text %>
        <p class="govuk-body">
          <%= link_to(@topical_event.about_page_link_text, @topical_event.about_page_url, class: "govuk-link" ) %>
        </p>
      <% end %>
    </div>

    <% if @topical_event.social_media_links %>
      <section id="social-media-links" class="topical-events__section-break">
      <%= render "govuk_publishing_components/components/share_links", {
        links: @topical_event.social_media_links,
      } %>
      </section>
    <% end %>
  </div>

  <div class="govuk-grid-column-full">
    <% if @topical_event.ordered_featured_documents&.any? %>
      <section id="featured">
        <%= render "govuk_publishing_components/components/heading", {
          text: I18n.t("topical_events.headings.featured"),
          padding: true,
          font_size: "l",
          border_top: 2,
          margin_bottom: 4,
        } %>

        <% @topical_event.ordered_featured_documents.in_groups_of(3, false) do |row| %>
          <div class="govuk-grid-row">
            <% row.each do |document| %>
              <div class="govuk-grid-column-one-third">
                <%= render "govuk_publishing_components/components/image_card", document %>
              </div>
            <% end %>
          </div>
        <% end %>
      </section>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds topical-events__section-break">
    <section id="latest">
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("topical_events.headings.latest"),
        padding: true,
        font_size: 27,
        border_top: 2,
        margin_bottom: 3,
      } %>

      <% if @topical_event.latest.any? %>
        <%= render(partial: 'shared/document_list_from_search_api', locals: { documents: @topical_event.latest, link_to: search_url(:topical_event, :latest, @topical_event.slug) })  %>
      <% else %>
        <p class="govuk-body"><%= I18n.t("topical_events.no_updates") %></p>
      <% end %>

      <%= render "govuk_publishing_components/components/subscription_links", {
        email_signup_link: "/email-signup?link=#{topical_event_path(@topical_event.slug)}",
        feed_link_box_value: Plek.new.website_root + topical_event_path(@topical_event.slug, format: "atom")
      } %>
    </section>
  </div>

  <section id="documents" class="govuk-grid-column-two-thirds">
    <% if @topical_event.publications.any? || @topical_event.consultations.any? || @topical_event.news_and_communications.any? || @topical_event.guidance_and_regulation.any? %>
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("topical_events.headings.documents"),
        padding: true,
        font_size: "l",
        border_top: 2,
        margin_bottom: 3,
      } %>
    <% end %>
    
    <%= render(partial: 'shared/document_list_from_search_api', locals: { documents: @topical_event.consultations, heading: I18n.t("topical_events.headings.consultations"), link_to: search_url(:topical_event, :consultation, @topical_event.slug) }) if @topical_event.consultations.any? %>
    <%= render(partial: 'shared/document_list_from_search_api', locals: { documents: @topical_event.news_and_communications, heading: I18n.t("topical_events.headings.news_and_communications"), link_to: search_url(:topical_event, :announcement, @topical_event.slug) }) if @topical_event.news_and_communications.any? %>
    <%= render(partial: 'shared/document_list_from_search_api', locals: { documents: @topical_event.guidance_and_regulation, heading: I18n.t("topical_events.headings.guidance_and_regulation"), link_to: search_url(:topical_event, :guidance_and_regulation, @topical_event.slug) }) if @topical_event.guidance_and_regulation.any? %>
  </section>

  <div class="govuk-grid-column-two-thirds">
    <% if @topical_event.travel_advice.any? %>
      <section id="travel-advice">
      <%= render "govuk_publishing_components/components/heading", {
        text: t("topical_events.headings.travel_advice"),
        font_size: "l",
        margin_bottom: 4,
        padding: true,
        border_top: 2,
      } %>
      <%= render "govuk_publishing_components/components/document_list", {
        items: @topical_event.travel_advice.map do |travel_advice|
          {
            link: {
              text: travel_advice["title"],
              path: travel_advice["base_path"]
            }
          }
        end
      } %>
      </section>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @topical_event.emphasised_organisations && @topical_event.emphasised_organisations.any? %>
      <div class="organisations">
        <%= render "govuk_publishing_components/components/heading", {
          text: t("topical_events.organisations"),
          font_size: "l",
          margin_bottom: 4,
          padding: true,
          border_top: 2,
        } %>
        <% @topical_event.emphasised_organisations.flatten.in_groups_of(4, false) do |row| %>
          <div class="govuk-grid-row">
            <% row.each do |organisation|%>
              <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-7">
                <%= render "govuk_publishing_components/components/organisation_logo", {
                  organisation: {
                    name: organisation["title"],
                    url: organisation["base_path"],
                    crest: organisation.dig("details", "logo", "crest"),
                    brand: organisation.dig("details", "brand"),
                  }
                } %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @topical_event.slug == 'first-world-war-centenary' %>
          <%= render "first_world_war_centenary"%>
        <% end %>

        <% if @topical_event.slug == '2022-events-platinum-jubilee-commonwealth-games-unboxed' %>
          <%= render "platinum_jubilee_unboxed" %>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
