<% content_for :title, @topical_event.title %>

<% content_for :meta_tags do %>
  <%= tag("meta", name: "description", content: @topical_event.description) if @topical_event.description %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: @topical_event.title,
      context: (I18n.t("topical_events.archived") if @topical_event.archived?)
    } %>

    <%= render "govuk_publishing_components/components/lead_paragraph", {
      text: @topical_event.description,
      margin_bottom: 8,
    } %>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <% if @topical_event.organisations %>
      <%= render "govuk_publishing_components/components/metadata", {
        other: {
          "Organisations": sanitize(array_of_links_to_organisations(@topical_event.organisations).to_sentence)
        }
      } %>
    <% end %>

    <%= render "govuk_publishing_components/components/govspeak", {
      } do %>
        <%= @topical_event.body&.html_safe %>
    <% end %>

    <% if @topical_event.about_page_link_text %>
      <p class="govuk-body">
        <%= link_to(@topical_event.about_page_link_text, @topical_event.about_page_url, html_options: { class: "govuk-link" }) %>
      </p>
    <% end %>

    <% if @topical_event.social_media_links %>
      <%= render "govuk_publishing_components/components/share_links", {
        links: @topical_event.social_media_links,
      } %>
    <% end %>
  </div>

  <div class="govuk-grid-column-full">
    <% if @topical_event.ordered_featured_documents %>
      <%= render "govuk_publishing_components/components/heading", {
        text: I18n.t("topical_events.featured"),
        padding: true,
        font_size: "l",
        border_top: 2,
        margin_bottom: 4,
      } %>

      <% @topical_event.ordered_featured_documents.in_groups_of(3, false) do |row| %>
        <div class="govuk-grid-row">
          <% row.each do |document| %>
            <div class="govuk-grid-column-one-third">
              <%= render "govuk_publishing_components/components/image_card", document %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
