<% if announcements.items.present? %>
  <div id="announcements" <%= direction_rtl_class(prefix: true) %> <%= dir_attribute %>>
    <%= render "govuk_publishing_components/components/heading", {
        text: t("shared.schema_name.announcement.other"),
        lang: t_fallback("shared.schema_name.announcement.other"),
        margin_bottom: 5,
    } %>

    <div 
      data-module="ga4-link-tracker" 
      data-ga4-link='{ "event_name": "navigation", "type": "subscribe", "index": { "index_link": 1 }, "index_total": 1, "section": "Content" }'
      data-ga4-track-links-only
    >
      <%= render "govuk_publishing_components/components/subscription_links", {
          email_signup_link: announcements.links[:email_signup],
          margin_bottom: 5
      } %>
    </div>

    <%= render "govuk_publishing_components/components/document_list", {
        items: announcements.items
    } %>

    <div class="read-more">
      <%= link_to "View all announcements", announcements.links[:link_to_news_and_communications], class: "govuk-link", lang: "en" %>
    </div>
  </div>
<% end %>
