<%
  no_cookies_icon_text ||= "VIDEO"
  no_cookies_change_settings_link ||= "/help/cookies"
  no_cookies_change_settings_text ||= "Change your cookie settings to watch the video"
  no_cookies_or_text ||= "or"
  no_cookies_watch_link_text ||= "Watch on YouTube"
  inverse ||= false
  css_classes = %w(youtube__video-wrapper)
  css_classes << "youtube__video-wrapper--inverse" if inverse
  youtube_video_id =  "sEFAzNc3P3Y"
%>
<%= tag.div class: css_classes do %>
  <%= render "govuk_publishing_components/components/govspeak", {
  } do %>
    <p class="youtube__video-placeholder">
      <span class="youtube__video-logo">
        <%= no_cookies_icon_text %>
      </span>
      <strong>
        <a href="<%= no_cookies_change_settings_link %>" class="govuk-link">
          <%= no_cookies_change_settings_text %>
        </a>
      </strong>
      <br aria-hidden="true">
      <%= no_cookies_or_text %>
      <br aria-hidden="true">
      <a
          href="https://www.youtube.com/watch?v=<%= youtube_video_id %>"
          class="govuk-body govuk-link"
          data-youtube-player-analytics="true"
          data-youtube-player-analytics-category="EmbeddedYoutube">
        <%= no_cookies_watch_link_text %>
      </a>
    </p>
  <% end %>
  <%= render "govuk_publishing_components/components/details", { title: "transcription_summary"} do %>
    "some words"
  <% end %>
<% end %>
