<% guidance_header = t("transition_landing_page.guidance_header") %>

<div class="landing-page__section"
  data-analytics-ecommerce
  data-ecommerce-start-index="1"
  data-list-title="Brexit landing page: <%= guidance_header %>"
  data-search-query>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        <%= guidance_header %>
      </h2>
      <p class="landing-page__guidance_subheader" data-module="track-click">
        <%= raw t("transition_landing_page.guidance_subheader") %>
      </p>
    </div>
  </div>

  <% buckets.each do |bucket| %>
    <div class="govuk-grid-row landing-page__section-list-wrapper">
      <div class="govuk-grid-column-one-third">
        <% if bucket[:row_title] %>
          <h3 class="govuk-heading-m">
            <%= bucket[:row_title] %>
          </h3>
        <% end %>
      </div>

      <div class="govuk-grid-column-two-thirds" data-module="track-click">
        <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
          <%= bucket[:list_block] %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
