<%
  items ||= false
  see_all_text ||= false
  see_all_link ||= false
  block ||= false
%>

<div class="govuk-grid-column-two-thirds">
  <% if block %>
    <%= render "govuk_publishing_components/components/govspeak", {
      } do %>
      <%= block %>
    <% end %>
  <% end %>

  <% if items %>
    <ul>
      <% items.each do |item| %>
        <li class="landing-page__section-list">
          <%= link_to(item["text"], item["path"], class: "govuk-link", data: item["data_attributes"]) %>
          <% if item["description"] %>
            <p><%= item["description"] %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if see_all_link && see_all_text %>
    <%= link_to(see_all_text, see_all_link, class: "landing-page__section-see-all govuk-link") %>
  <% end %>
</div>
