<% content_for :is_full_width_header, true %>
<% content_for :title, t("transition_landing_page.meta_title") %>
<% content_for :meta_tags do %>
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= request.base_url + request.path %>">
  <meta property="og:title" content="<%= t("transition_landing_page.meta_title") %>">
  <meta property="og:description" content="<%= t("transition_landing_page.meta_description") %>">
  <meta property="og:image" content="<%= image_url("transition-period.png") %>" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="<%= image_url("transition-period.png") %>">
  <meta name="description" content="<%= t("transition_landing_page.meta_description") %>">
  <meta name="govuk:navigation-page-type" content="Taxon Page" />
<% end %>

<header class="landing-page__header--with-bg-image">
  <div class="landing-page__header-text-block">
    <div class="govuk-width-container landing-page_header-text-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <%= render "govuk_publishing_components/components/translation-nav", {
            translations: presented_taxon.translation_links,
            inverse: true
          } %>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="landing-page__page_title">
            <%= t("transition_landing_page.page_header") %>
          </h1>
        </div>
        <div class="govuk-grid-column-two-thirds landing-page__intro">
          <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
            <p class="govuk-body-l"><%= t("transition_landing_page.page_header_explainer") %></p>
          <% end %>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="landing-page__header-arrow-container">
            <%= image_tag 'white-arrow.svg', class: "landing-page__header-arrow", alt: "" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
