<div class="landing-page__section landing-page__section--light-grey">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          <%= t("transition_landing_page.take_action_title") %>
        </h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render "govuk_publishing_components/components/govspeak", {} do %>
              <%= render "govuk_publishing_components/components/lead_paragraph", {
                text: t("transition_landing_page.take_action_text")
              } %>
            <% end %>
            <%= render "govuk_publishing_components/components/button", {
              text: t("transition_landing_page.take_action_start_now"),
              href: t("transition_landing_page.take_action_start_now_link"),
              start: true,
              data_attributes: {
                "module": "track-click",
                "track-action": t("transition_landing_page.take_action_start_now_link"),
                "track-category": "transition-landing-page",
                "track-label": t("transition_landing_page.take_action_start_now")
              }
            } %>
          </div>
          <div class="govuk-grid-column-one-third">
            <%= render partial: 'transition_landing_page/take-action-traffic-lights' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
