<div class="landing-page__section landing-page__section--light-grey">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="<%= show_countdown ? "govuk-grid-column-two-thirds" : "govuk-grid-column-full" %>">
        <h2 class="govuk-heading-l">
          <% if show_variant? %>
            <%= t("transition_landing_page.take_action_title_variant_B") %>
          <% else %>
            <%= t("transition_landing_page.take_action_title") %>
          <% end %>
        </h2>
        <div class="govuk-grid-row">
          <div class="<%= show_countdown ? "govuk-grid-column-full" : "govuk-grid-column-two-thirds" %>">
            <%= render "govuk_publishing_components/components/govspeak", {} do %>
              <p class="take_action_test_class">
                <% if show_variant? %>
                <%= t("transition_landing_page.take_action_text_variant_B") %>
              <% else %>
                <%= t("transition_landing_page.take_action_text") %>
              <% end %>
              </p>
            <% end %>
            <div class="landing-page__take-action-button">
              <%= render "govuk_publishing_components/components/button", {
                text: t("transition_landing_page.take_action_start_now"),
                href: t("transition_landing_page.take_action_start_now_link"),
                start: true,
                margin_bottom: true,
                data_attributes: {
                  "module": "track-click",
                  "track-action": t("transition_landing_page.take_action_start_now_link"),
                  "track-category": "transition-landing-page",
                  "track-label": t("transition_landing_page.take_action_start_now")
                }
              } %>
            </div>
          </div>
          <% unless show_countdown %>
            <div class="govuk-grid-column-one-third">
              <%= render partial: 'transition_landing_page/take-action-traffic-lights' %>
            </div>
          <% end %>
        </div>
      </div>
      <% if show_countdown %>
        <div class="govuk-grid-column-one-third">
            <%= render partial: 'transition_landing_page/countdown', locals: { clock: CountdownClock.new } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
