<% content_for :page_class, "taxon-page taxon-page--grid" %>
<% content_for :meta_tags %>

<%=
  render(
      partial: 'page_header',
      locals: {
        presented_taxon: presented_taxon
      }
  )
%>

<%= render partial: 'take_action' %>

<%= render partial: 'video_section' %>

<div class="govuk-width-container">
  <div class="landing-page__buckets">
    <%= render partial: 'buckets', locals: { buckets: presented_taxon.buckets } %>
  </div>

  <% if show_comms %>
    <%= render partial: 'comms', locals: { comms: presented_taxon.comms } %>
  <% end %>

  <div class="landing-page__section landing-page__section--border-top">
    <%= render partial: 'brexit_finders', locals: { supergroups: presented_taxon.supergroup_sections, email_path: presented_taxon.email_path } %>

    <div class="landing-page__share">
      <%= render "govuk_publishing_components/components/share_links", {
        title: t("transition_landing_page.share_links"),
        columns: true,
        links: [
          {
            href: "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.gov.uk#{CGI.escape(request.fullpath)}",
            text: "Facebook",
            icon: "facebook"
          },
          {
            href: "https://twitter.com/share?url=https%3A%2F%2Fwww.gov.uk#{CGI.escape(request.fullpath)}",
            text: "Twitter",
            icon: "twitter"
          },
          {
            href: "mailto:?body=https://www.gov.uk#{CGI.escape(request.fullpath)}/&subject=#{t('transition_landing_page.email_mailto_subject')}",
            text: "Email",
            icon: "email"
          },
          {
            href: "https://api.whatsapp.com/send?text=https://www.gov.uk#{CGI.escape(request.fullpath)}",
            text: "WhatsApp",
            icon: "whatsapp"
          },
          {
            href: "http://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.gov.uk#{CGI.escape(request.fullpath)}&title=#{t('transition_landing_page.email_mailto_subject')}",
            text: "LinkedIn",
            icon: "linkedin"
          },
        ]
      } %>
    </div>
  </div>
</div>
