<% content_for :title, presented_taxon.title %>
<% content_for :meta_tags do %>
  <% if !presented_taxon.live_taxon? %>
    <% # prevent search engines from indexing this page %>
    <meta name="robots" content="noindex, nofollow">
  <% end %>
  <meta name="description" content="<%= presented_taxon.description %>">
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: presented_taxon.rendering_type,
    }
  } %>
<% end %>

<%= render partial: "page_header", locals: { presented_taxon: presented_taxon } %>

<% content_for :breadcrumbs do %>
  <% beta_banner_message = capture do %>
    <%= t("world_wide_taxons.test_banner") %>
    <a
      class="govuk-link"
      href="https://www.smartsurvey.co.uk/s/betasurvey2017?c=<%= current_path_without_query_string %>"
      id=taxonomy-survey
      rel="noopener noreferrer"
      target="_blank"
    >
      <%- t("world_wide_taxons.take_the_survey") %>
    </a>
  <% end %>
  <%= render "govuk_publishing_components/components/phase_banner", {
    message: beta_banner_message,
    phase: "beta"
  } %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: GovukPublishingComponents::AppHelpers::TaxonBreadcrumbs.new(@content_item).breadcrumbs,
    collapse_on_mobile: true,
  } %>
<% end %>
