<% content_for :title, "Email alert subscription for #{subtopic.combined_title}" %>
<%= render 'shared/tag_meta', tag: subtopic, description: "Subscribe to get an email each time content is published or updated in the '#{subtopic.combined_title}' topic." %>
<% content_for :page_class, "email-signup-new" %>

<% content_for :meta_tags do %>
  <meta name="govuk:section" content="<%= meta_section %>">
<% end %>

<% content_for :breadcrumbs do %>
  <%= render 'govuk_publishing_components/components/breadcrumbs', hardcoded_breadcrumbs %>
<% end %>

<header>
  <%= render "govuk_publishing_components/components/title", title: subtopic.title, context: "Email alert subscription" %>
</header>

<section>
  <% if email_signup.valid? %>
    <%= form_for email_signup, url: email_signup_path(topic_slug: params[:topic_slug], subtopic_slug: params[:subtopic_slug]), html: { class: "signup-form" } do |form| %>
      <p>You’ll get an email each time content is published or updated in this topic.</p>

      <%= render "govuk_publishing_components/components/button", {
        text: "Create subscription"
      } %>
    <% end %>

  <% else %>
    <p>Sorry, we could not find a valid sub-topic to subscribe to.</p>
  <% end %>
</section>
