<section class="covid__topic-wrapper">
  <%= render "govuk_publishing_components/components/heading", {
    text: details.announcements_label,
    padding: true,
    border_top: 2,
    margin_bottom: 6,
  } %>

  <%= render partial: 'coronavirus_landing_page/components/shared/announcements', locals: { announcements: details.announcements } %>

  <% if details.see_all_announcements_link.present? %>
    <p class="govuk-body">
      <a
        href="<%= details.see_all_announcements_link["href"] %>"
        class="govuk-link"
        data-module="gem-track-click"
        data-track-category="pageElementInteraction"
        data-track-action="Announcements"
        data-track-label="<%= details.see_all_announcements_link["href"] %>"
      >
        <%= details.see_all_announcements_link["text"] %>
      </a>
    </p>
  <% end %>
  <%= render partial: 'coronavirus_landing_page/components/landing_page/risk_level_section', locals: { data: details.risk_level } if details.risk_level %>
</section>
