<ul class="govuk-list">
  <% announcements.each do | announcement | %>
    <li class="covid__topic-list-item">
      <% if announcement["href"].present? %>
        <a
          href="<%= announcement["href"] %>"
          class="govuk-link govuk-link--no-underline covid__topic-list-link"
          data-module="gem-track-click"
          data-track-category="pageElementInteraction"
          data-track-action="Announcements"
          data-track-label="<%= announcement["href"] %>"
        >
          <%= announcement["text"] %>
        </a>
      <% else %>
        <%= announcement["text"] %>
      <% end %>
      <% if announcement["published_text"].present? %>
        <p class="govuk-body covid__announcement-published-text">
          <%= announcement["published_text"] %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>
