<div class="covid-timeline" data-module="track-links" data-track-category="pageElementInteraction" data-track-action="Timeline">
  <%= render "govuk_publishing_components/components/heading", {
    text: details.timeline["heading"],
    padding: true,
    margin_bottom: 2
  } %>

  <% if details.show_timeline_nations? %>
    <%= form_tag coronavirus_landing_page_path,
      method: :get,
      class: "js-change-location" do |f| %>

      <p class="govuk-body">Showing updates for
        <span class="js-current-nation covid-timeline__nation"><%= details.selected_nation.titleize %></span>.
      </p>

      <%= render "govuk_publishing_components/components/details", {
        title: "Change to another nation",
        data_attributes: {
          track_category: "pageElementInteraction",
          track_action: "TimelineNation",
          module: "govuk-details",
        }
      } do %>
        <%= render "govuk_publishing_components/components/radio", {
          name: "nation",
          heading: "Choose location",
          margin_bottom: 0,
          items: details.timeline_nations_items
        } %>
        <div class="covid-timeline__button-wrapper">
          <%= render "govuk_publishing_components/components/button", {
            text: "View"
          } %>
        </div>
      <% end %>
    <% end %>

    <div aria-live="polite">
      <% details.timelines_for_nation.each do |nation, timeline| %>
        <div id="nation-<%= nation %>" class="js-covid-timeline <%= 'covid-timeline__wrapper--hidden' unless details.selected_nation == nation %>">
          <h3 class="govuk-heading-m govuk-visually-hidden">Changes in <%= nation.titleize %></h3>
          <% timeline.each do | item | %>
            <% text = capture do %>
              <%= item["heading"] %>
              <%= item["tags"] %>
            <% end %>
            <div class="covid-timeline__item">
              <%= render "govuk_publishing_components/components/heading", {
                text: text,
                heading_level: 3,
                font_size: "s",
                margin_bottom: 1,
              } %>
              <%= render_govspeak(item["paragraph"]) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if details.timeline["summary"] %>
      <%= render_govspeak(details.timeline["summary"]) %>
    <% end %>

    <% details.timeline["list"].each do | item | %>
      <div class="covid-timeline__item">
        <%= render "govuk_publishing_components/components/heading", {
          text: item["heading"],
          heading_level: 3,
          font_size: "s",
          margin_bottom: 1,
        } %>
        <%= render_govspeak(item["paragraph"]) %>
      </div>
    <% end %>
  <% end %>
</div>
