<div class="covid-timeline" data-module="track-links" data-track-category="pageElementInteraction" data-track-action="Timeline">
  <%= render "govuk_publishing_components/components/heading", {
    text: timeline["heading"],
    padding: true,
    margin_bottom: 2
  } %>

  <% if show_timeline_nations?(timeline["list"]) %>
    <%= form_tag coronavirus_landing_page_path,
        method: :get,
        class: "js-change-location",
        data: {
          module: "gem-track-click",
        } do |f| %>
      <%= render "govuk_publishing_components/components/radio", {
        name: "timeline_nation",
        heading: "Choose location",
        items: timeline_nations_items(@selected_country)
      } %>
      <div class="covid-timeline__button-wrapper">
        <%= render "govuk_publishing_components/components/button", {
          text: "View",
          margin_bottom: 6
        } %>
      </div>
    <% end %>

    <div aria-live="polite">
      <% CoronavirusTimelineNationsHelper::UK_COUNTRY_LIST.each do |nation| %>
        <div id="nation-<%= nation %>" class="js-covid-timeline <%= 'covid-timeline__item--hidden' unless display_country(@selected_country) == nation %>">
          <h3 class="govuk-heading-m">Changes in <%= nation.titleize %></h3>
          <% if timeline_for_nation(timeline["list"], nation).empty? %>
            <p class="govuk-body">There haven't been any recent updates for <%= nation.titleize %>.</p>
          <% end %>
          <% timeline_for_nation(timeline["list"], nation).each do | item | %>
            <% text = capture do %>
              <%= item["heading"] %>
              <%= timeline_nation_tags(item["national_applicability"]).html_safe %>
            <% end %>
            <div class="covid-timeline__item">
              <%= render "govuk_publishing_components/components/heading", {
                text: text,
                heading_level: 3,
                font_size: "s",
                margin_bottom: 1,
              } %>
              <%= render_govspeak(item["paragraph"]) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  <% else %>
    <% if timeline["summary"] %>
      <%= render_govspeak(timeline["summary"]) %>
    <% end %>

    <% timeline["list"].each do | item | %>
      <div class="covid-timeline__item">
        <%= render "govuk_publishing_components/components/heading", {
          text: item["heading"],
          heading_level: 3,
          font_size: "s",
          margin_bottom: 1,
        } %>
        <%= render_govspeak(item["paragraph"]) %>
      </div>
    <% end %>
  <% end %>
</div>
