<% content_for :title, step_by_step.title %>
<% content_for :meta_tags do %>
  <meta name="description" content="<%= step_by_step.description %>">
<% end %>

<% page_class "govuk-main-wrapper govuk-main-wrapper--auto-spacing" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: step_by_step.title,
      heading_level: 1,
      margin_bottom: 6,
      font_size: "l",
    } %>

    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <%= step_by_step.introduction %>
    <% end %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/step_by_step_nav", step_by_step.payload_for_component %>
  </div>
</div>
