<% content_for :title, content_item.title %>

<% content_for :meta_tags do %>
  <meta name="govuk:content-id" content="<%= content_item.content_id %>">
  <meta name="description" content="<%= content_item.description %>">
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        title: content_item.title,
        average_title_length: 'long',
        margin_bottom: 0 %>

    <div class="govuk-govspeak"><%= raw(content_item.introduction) %></div>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render "govuk_publishing_components/components/step_by_step_nav", step_nav %>
  </div>
</div>
