<% content_for :page_class, "topics-page" %>

<header class="page-header group">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= yield :page_title %>
      <% if organisations.any? %>
        <%= render "govuk_publishing_components/components/metadata", from: organisations.array_of_links %>
      <% end %>
    </div>

    <div class="govuk-grid-column-one-third add-title-margin govuk-!-margin-bottom-3">
      <%= render "govuk_publishing_components/components/subscription-links", {
        email_signup_link: "/email-signup?topic=/topic/#{params[:topic_slug]}/#{params[:subtopic_slug]}",
        email_signup_link_text: "Get emails for this topic",
      } %>

      <% if local_assigns[:link_to_latest_feed] %>
        <div class="topics-page__latest">
          <%= link_to 'See latest changes to this content', latest_changes_path(topic_slug: params[:topic_slug], subtopic_slug: params[:subtopic_slug]), class: "govuk-link topics-page__latest-link" %>
        </div>
      <% end %>
    </div>
  </div>
</header>

<div class="browse-container full-width" data-module="track-click">
  <%= yield %>
</div>
