<% content_for :title, "#{subtopic.title}: Latest documents - GOV.UK" %>
<% content_for :page_title do %>
  <span><%= subtopic.title %></span> Latest documents
<% end %>

<%= render layout: "subtopic", locals: {subtopic: subtopic, organisations: organisations, link_to_latest_feed: false, beta_label: true} do %>
  <ul class="changed-documents">
    <% subtopic.changed_documents.each do |document| -%>
      <li>
        <h3><a href="<%= document.link %>"><%= document.title %></a></h3>

        <% if document.public_updated_at %>
          <time class="updated-at" datetime="<%= document.public_updated_at %>">
            <%= Time.parse(document.public_updated_at).strftime("%-d %B %Y") %>
          </time>
        <% end %>

        <% if document.latest_change_note %>
          <p>
            <%= document.latest_change_note %>
          </p>
        <% end %>
      </li>
    <% end -%>
  </ul>

  <ul class="previous-next-navigation">
    <% if changed_documents_pagination.previous_page? %>
      <li class="previous">
        <%= link_to changed_documents_pagination.previous_page_path do %>
          Previous <span class="visuallyhidden">page</span>
          <span class="page-numbers">
            <%= changed_documents_pagination.previous_page_number %> of
            <%= changed_documents_pagination.total_pages %>
          </span>
        <% end %>
      </li>
    <% end %>

    <% if changed_documents_pagination.next_page? %>
      <li class="next">
        <%= link_to changed_documents_pagination.next_page_path do %>
          Next <span class="visuallyhidden">page</span>
          <span class="page-numbers">
            <%= changed_documents_pagination.next_page_number %> of
            <%= changed_documents_pagination.total_pages %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
