<% content_for :title, subtopic.combined_title %>
<%= render 'shared/tag_meta', tag: subtopic %>
<% content_for :meta_tags do %>
  <meta name='govuk:navigation-page-type' content='Second Level Topic'>
  <meta name="govuk:section" content="<%= meta_section %>">
<% end %>
<% content_for :page_title do %>
  <%
    title_params = { title: "#{subtopic.title}: detailed information" }
    if subtopic.parent
      title_params[:context] = {
        text: subtopic.parent.title,
        href: subtopic.parent.base_path
      }
    end
  %>
  <%= render "govuk_publishing_components/components/title", title_params %>
<% end %>

<%= render(
  layout: "subtopic",
  locals: {
    subtopic: subtopic,
    organisations: organisations(subtopic.content_id),
    link_to_latest_feed: true,
  }) do %>
  <% subtopic.lists.each_with_index do |list, list_index| -%>
    <div class="govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m"><%= list.title %></h2>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= render 'components/topic-list', topic_list_params(list.contents, list_index: list_index, category: 'navSubtopicContentItemLinkClicked') %>
      </div>
    </div>
  <% end -%>
<% end %>
