<% content_for :title, subtopic.combined_title %>
<%= render 'shared/tag_meta', tag: subtopic %>
<% content_for :meta_tags do %>
  <% if is_page_under_ab_test %>
    <%= ab_variant.analytics_meta_tag.html_safe %>
    <%= legacy_navigation_meta_tag(legacy_navigation_analytics_identifier).html_safe %>
  <% end %>
  <meta name='govuk:navigation-page-type' content='Second Level Topic'>
<% end %>
<% content_for :page_title do %>
  <%- if subtopic.parent -%>
    <%= link_to subtopic.parent.title, subtopic.parent.base_path %>
  <%- end -%>
  <%= subtopic.title %>
<% end %>

<% content_for :meta_section do %>
  <meta name="govuk:section" content="<%= meta_section %>">
<% end %>

<%= render(
  layout: "subtopic",
  locals: {
    subtopic: subtopic,
    organisations: organisations(subtopic.content_id),
    link_to_latest_feed: true,
  }) do %>
  <% subtopic.lists.each_with_index do |list, list_index| -%>
    <nav class="grid-row" aria-labelledby="<%= list.title.parameterize %>">
      <div class="column-third">
        <h1 id="<%= list.title.parameterize %>"><%= list.title %></h1>
      </div>
      <div class="column-two-thirds">
        <%= render 'components/topic-list', topic_list_params(list.contents, list_index: list_index, category: 'navSubtopicContentItemLinkClicked') %>
      </div>
    </nav>
  <% end -%>
<% end %>
