<% content_for :title, "#{subtopic.combined_title} - GOV.UK" %>
<% content_for :page_title do %>
  <span><%= subtopic.parent_topic_title %></span> <%= subtopic.title %>
<% end %>

<%= render layout: "subtopic", locals: {subtopic: subtopic, organisations: organisations, link_to_latest_feed: true, beta_label: false} do %>
  <% @groups.each do |group| -%>
    <nav class="index-list" aria-labelledby="<%= group.artefact.name.parameterize %>">
      <h1 id="<%= group.artefact.name.parameterize %>"><%= group.artefact.name %></h1>
      <ul>
      <% group.artefact.contents.each do |group_item| -%>
        <li>
          <a href="<%= group_item.web_url %>"><%= group_item.title %></a>
        </li>
      <% end -%>
      </ul>
    </nav>
  <% end -%>
<% end %>
