<% content_for :title, subtopic.combined_title %>
<%= render 'shared/tag_meta', tag: subtopic %>
<% content_for :meta_tags do %>
  <meta name='govuk:navigation-page-type' content='Second Level Topic'>
<% end %>
<% content_for :page_title do %>
  <%
    title_params = { title: subtopic.title }
    if subtopic.parent
      title_params[:context] = {
        text: subtopic.parent.title,
        href: subtopic.parent.base_path
      }
    end
  %>
  <%= render "govuk_component/title", title_params %>
<% end %>

<% content_for :meta_section do %>
  <meta name="govuk:section" content="<%= meta_section %>">
<% end %>

<%= render(
  layout: "subtopic",
  locals: {
    subtopic: subtopic,
    organisations: organisations(subtopic.content_id),
    link_to_latest_feed: true,
  }) do %>
  <% subtopic.lists.each_with_index do |list, list_index| -%>
    <nav class="grid-row" aria-labelledby="<%= list.title.parameterize %>">
      <div class="column-third">
        <h1 id="<%= list.title.parameterize %>"><%= list.title %></h1>
      </div>
      <div class="column-two-thirds">
        <%= render 'components/topic-list', topic_list_params(list.contents, list_index: list_index, category: 'navSubtopicContentItemLinkClicked') %>
      </div>
    </nav>
  <% end -%>
<% end %>
