<% grouped_links.each do |group| -%>
  <nav class="index-list with-title" aria-labelledby="<%= group.title.parameterize %>">
    <h1 id="<%= group.title.parameterize %>"><%= group.title %></h1>
    <ul>
    <% group.examples.each do |group_link| -%>
      <li>
        <a href="<%= group_link.link %>" class="<%= group_link.class %>"><%= group_link.title %></a>
      </li>
    <% end -%>
    </ul>
  </nav>
<% end -%>
