<!DOCTYPE html>

<html>
<head>
  <title><%= t('development.title') %></title>
  <meta name="robots" content="noindex, nofollow">
</head>
<body>
<div id="wrapper">
  <main class="govspeak">
    <%= render "govuk_publishing_components/components/heading", {
      text: "collections",
      heading_level: 1,
      margin_bottom: 4,
      font_size: "xl",
      padding: true,
    } %>
    <% html = capture do %>
      <p><%= t('development.header') %>.</p>
      <table>
        <% @paths.each do |name, path| %>
          <tr>
            <td>
              <%= name %>
            </td>
            <td>
              <%= link_to path, path %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <%= render 'govuk_publishing_components/components/govspeak', content: html %>
  </main>
</div>
</body>
</html>
