<div class="pane-inner <%= page.lists.curated? ? 'curated-list' : 'a-to-z' %>">
  <h2 tabindex="-1" class="js-heading"><%= t("shared.browse.prefix") %> <%= page.title %></h2>

  <% page.lists.each_with_index do |list, section_index| %>
    <% if page.lists.curated? %>
      <h3 class='list-header'><%= list.title %></h3>
    <% else %>
      <h3 class="sort-order"><%= list.title %></h3>
    <% end %>

    <ul>
      <% list.contents.each_with_index do |list_item, index| %>
        <li>
          <%= link_to(
            list_item.title,
            list_item.base_path,
            data: {
              track_category: 'thirdLevelBrowseLinkClicked',
              track_action: "#{section_index + 1}.#{index + 1}",
              track_label: list_item.base_path,
              track_options: {
                dimension28: list.contents.count.to_s,
                dimension29: list_item.title,
              },
            },
            class: "govuk-link",
          ) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if page.related_topics.any? %>
    <div class="detailed-guidance">
      <h2>Detailed guidance</h2>
      <ul>
        <% page.related_topics.each_with_index do |related_topic, index| %>
          <li>
            <%= link_to(
              related_topic.title,
              related_topic.base_path,
              data: {
                track_category: 'thirdLevelBrowseLinkClicked',
                track_action: "#{page.lists.count + 1}.#{index + 1}",
                track_label: related_topic.base_path,
                track_options: {
                  dimension28: page.related_topics.count.to_s,
                  dimension29: related_topic.title,
                },
              },
              class: "govuk-link",
            ) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
