<div class="pane-inner <%= content_item.lists.curated? ? 'curated-list' : 'a-to-z' %>">
  <h1 tabindex="-1"><%= content_item.title %></h1>

  <% content_item.lists.each do |list| %>
    <% if content_item.lists.curated? %>
      <h2 class='list-header'><%= list.title %></h2>
    <% else %>
      <p class="sort-order"><%= hairspace list.title %></p>
    <% end %>

    <ul>
      <% list.contents.each do |list_item| %>
        <li><%= link_to list_item.title, list_item.base_path %></li>
      <% end %>
    </ul>
  <% end %>

  <% if content_item.related_topics.any? %>
    <div class="detailed-guidance">
      <h2>Detailed guidance</h2>
      <ul>
        <% content_item.related_topics.each do |related_topic| %>
          <li><%= link_to related_topic.title, related_topic.base_path %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
