<div class="pane-inner <%= page.lists.curated? ? 'curated-list' : 'a-to-z' %>">
  <h1 tabindex="-1"><%= page.title %></h1>

  <% page.lists.each_with_index do |list, section_index| %>
    <% if page.lists.curated? %>
      <h2 class='list-header'><%= list.title %></h2>
    <% else %>
      <p class="sort-order"><%= hairspace list.title %></p>
    <% end %>

    <ul>
      <% if task_list_ab_test.show_tasklist_link?(list.title) %>
        <li>
          <%= tasklist_link_for(
            "Learn to drive a car: step by step",
            learn_to_drive_a_car_path,
            section_index
            ) %>
        </li>
      <% elsif task_list_ab_test.show_divorce_related_tasklists?(list.title) %>
        <li>
          <%= tasklist_link_for(
            "Get a divorce: step by step",
            get_a_divorce_path,
            section_index
            ) %>
        </li>
        <li>
          <%= tasklist_link_for(
            "End a civil partnership: step by step",
            end_a_civil_partnership_path,
            section_index
            ) %>
        </li>
      <% end %>

      <% list.contents.each_with_index do |list_item, index| %>
        <% next if task_list_ab_test.hide_list_item_link?(list_item) %>
        <li>
          <%= link_to(
            list_item.title,
            list_item.base_path,
            data: {
              track_category: 'thirdLevelBrowseLinkClicked',
              track_action: "#{section_index + 1}.#{index + 1}",
              track_label: list_item.base_path,
              track_options: {
                dimension28: list.contents.count.to_s,
                dimension29: list_item.title,
              },
            },
          ) %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if page.related_topics.any? %>
    <div class="detailed-guidance">
      <h2>Detailed guidance</h2>
      <ul>
        <% page.related_topics.each_with_index do |related_topic, index| %>
          <li>
            <%= link_to(
              related_topic.title,
              related_topic.base_path,
              data: {
                track_category: 'thirdLevelBrowseLinkClicked',
                track_action: "#{page.lists.count + 1}.#{index + 1}",
                track_label: related_topic.base_path,
                track_options: {
                  dimension28: page.related_topics.count.to_s,
                  dimension29: related_topic.title,
                },
              },
            ) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
