<%
  contents = []
  accordion_contents = []
  more_on_this_topic_contents = []
%>

<% page.lists.each_with_index do |list, list_index| %>

  <% contents = capture do %>
    <%# Add a heading above the A-Z the list. Add it here so that we can extract the heading text %>
    <% if !curated_order %>
      <%= render "govuk_publishing_components/components/heading", {
       text: list["title"],
       font_size: "m",
       margin_bottom: 7,
      }
     %>
    <% end %>
    <%# Render the contents as a list, regardless of whether they'll be in an accordion or as an A-Z list %>
    <%= render partial: 'new_links', locals: { list: list.contents, list_index: list_index } %>
  <% end %>

  <%# Generate accordion shaped markup %>
  <% if curated_order %>
    <%
      additional_contents = {
        heading: {
          text: list["title"],
        },
        content: {
          html: contents,
        },
      }
      accordion_contents << additional_contents
      %>
  <% end %>
<% end %>

<%# Generate markup for More on this topic %>
<% if page.related_topics.any? %>
  <% more_on_this_topic_contents = capture do %>
    <%# Todo: use browse-section partial here - currently the shape of the data is different for the accordion contents %>
    <ul class="govuk-list" data-module="gem-track-click">
      <% page.related_topics.each_with_index do |related_topic, index| %>
      <li class="govuk-!-margin-bottom-4">
          <%= link_to(
            related_topic.title,
            related_topic.base_path,
            class: "govuk-link",
            data_attributes: {
              track_category: 'browseClicked',
              track_action: "contentLink",
              track_label: related_topic.base_path,
              track_options: {
                dimension114: 'value',
                dimension28: 'value',
                dimension29: related_topic.title,
              },
            }
          ) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if curated_order %>
  <%# For curated pages, render the markup using an accordion %>
  <% if page.related_topics.any? %>
    <%# Insert 'More on this topic markup into the accordion' %>
    <%
      additional_contents = {
        heading: {
          # To do: Add to translations file
          text: 'More on this topic',
        },
        content: {
          html: more_on_this_topic_contents,
        }
      }
      accordion_contents << additional_contents
    %>
  <% end %>
  <div data-module="gem-track-click">
    <div data-module="toggle-attribute">
      <%= render 'govuk_publishing_components/components/accordion', {
        track_show_all_clicks: true,
        track_sections: true,
        heading_level: 2,
        data_attributes: {
          module: "govuk-accordion"
        },
        items: accordion_contents,
        margin_bottom: 4
      } %>
    </div>
  </div>
<% else %>
  <%# For non-curated pages, render an A-Z list %>
  <div class="govuk-!-margin-bottom-2">
    <%= contents %>

    <%# Render 'More on this topic' as its own section %>
    <% if page.related_topics.any? %>
      <div class="topic-page__more-on-this-topic">
        <%= render "govuk_publishing_components/components/heading", {
            text: 'More on this topic',
            heading_level: 2,
            font_size: "m",
            margin_bottom: 1,
        } %>
      </div>
      <%= more_on_this_topic_contents %>
      <% end %>
  </div>
<% end %>
