<div class="pane-inner <%= curated_order ? "curated" : "alphabetical" %>">
  <h2 tabindex="-1" class="js-heading"><%= t("shared.browse.prefix") %> <%= title.sub(t("shared.browse.prefix"), "") %></h2>
  <% unless curated_order %>
    <h3 class="sort-order"><%= t("second_level_browse.a_to_z") %></h3>
  <% end %>
  <ul>
    <% second_level_browse_pages.each_with_index do |browse_page, index| %>
      <li class='<%= browsing_in_second_level_page?(browse_page) ? "active" : nil %>'>
        <%= link_to(
          browse_page.base_path,
          data: {
            track_category: "secondLevelBrowseLinkClicked",
            track_action: "#{index + 1}",
            track_label: browse_page.base_path,
            track_options: {
              dimension28: second_level_browse_pages.count.to_s,
              dimension29: browse_page.title,
            },
          },
          class: "govuk-link",
        ) do %>
          <h3 class="pane-inner__title"><%= browse_page.title %></h3>
          <p class="pane-inner__description"><%= browse_page.description %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
