<div class="pane-inner <%= curated_order ? "curated" : "alphabetical" %>" data-analytics-ecommerce data-ecommerce-start-index="1" data-list-title="Mainstream browse" data-search-query="<%= title %>">
  <h2 tabindex="-1" class="js-heading"><%= title %></h2>
  <% unless curated_order %>
    <p class="sort-order"><%= hairspace 'A to Z' %></p>
  <% end %>
  <ul>
    <% second_level_browse_pages.each_with_index do |browse_page, index| %>
      <li class='<%= browsing_in_second_level_page?(browse_page) ? 'active' : nil %>'>
        <%= link_to(
          browse_page.base_path,
          data: {
            ecommerce_row: "#{index + 1}",
            ecommerce_path: browse_page.base_path,
            track_category: 'secondLevelBrowseLinkClicked',
            track_action: "#{index + 1}",
            track_label: browse_page.base_path,
            track_options: {
              dimension28: second_level_browse_pages.count.to_s,
              dimension29: browse_page.title,
            },
          },
          class: "govuk-link",
        ) do %>
          <h3><%= browse_page.title %></h3>
          <p><%= browse_page.description %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
