<% content_for :title, page.title %>
<% top_level_page = page.active_top_level_browse_page %>
<%= render 'shared/tag_meta', tag: page %>
<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "Browse level 2",
      navigation_list_type: "default",
      section: meta_section,
    }
  } %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render "shared/browse_breadcrumbs" %>
<% end %>

<%= render "shared/browse_header", {
  margin_bottom: 7,
  two_thirds: true,
} do %>
  <%= render "govuk_publishing_components/components/heading", {
    font_size: "xl",
    heading_level: 1,
    inverse: true,
    margin_bottom: 6,
    text: page.title,
  } %>

  <p class="gem-c-lead-paragraph gem-c-lead-paragraph--inverse govuk-!-margin-bottom-2">
    <%= page.description %>
  </p>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-2">
      <% page.lists.each_with_index do |list, list_index| %>
        <%= render "govuk_publishing_components/components/heading", {
          font_size: "m",
          margin_bottom: 7,
          text: list["title"],
        } %>

        <%= render partial: "links", locals: { list: list.contents, list_index: list_index } %>
      <% end %>

      <% if page.related_topics.any? %>
        <div class="browse__more-on-this-topic">
          <%= render "govuk_publishing_components/components/heading", {
              text: t("second_level_browse.more_on_this_topic"),
              heading_level: 2,
              font_size: "m",
              border_top: 2,
              padding: true,
          } %>
        </div>

        <%= render partial: "links", locals: { list: page.related_topics, list_index: page.lists.count, track_action: "moreLink" } %>
      <% end %>
    </div>
  </div>
</div>
