<% add_view_stylesheet("browse") %>

<% content_for :title, page.title %>
<% top_level_page = page.active_top_level_browse_page %>
<%= render 'shared/tag_meta', tag: page %>
<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "Browse level 2",
      navigation_list_type: "default",
      section: meta_section,
    }
  } %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render "shared/browse_breadcrumbs" %>
<% end %>

<% margin_bottom = page.recruitment_survey_url ? 7 : 8 %>

<%= render "shared/browse_header", {
  margin_bottom: margin_bottom,
  two_thirds: true,
} do %>
  <%= render "govuk_publishing_components/components/heading", {
    font_size: "xl",
    heading_level: 1,
    inverse: true,
    margin_bottom: 6,
    text: page.title,
  } %>
  <%= render "govuk_publishing_components/components/lead_paragraph", {
    text: page.description,
    margin_bottom: 2,
    inverse: true
  } %>
<% end %>

<% if page.recruitment_survey_url %>
  <div class="govuk-width-container">
    <%= render "govuk_publishing_components/components/intervention", {
      suggestion_text: "Help improve GOV.UK",
      suggestion_link_text: "Take part in user research",
      suggestion_link_url: page.recruitment_survey_url,
      new_tab: true,
    } %>
  </div>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-2" data-module="ga4-link-tracker">
      <%
        index_section_count = page.lists.count
        index_section_count += 1 if page.related_topics.any?
      %>
      <% page.lists.each_with_index do |list, list_index| %>
        <div class="browse__section">
          <%= render partial: "shared/browse_heading", locals: { title: list.title } %>

          <%= render partial: "links", locals: { list: list.contents, list_index: list_index, index_section_count: index_section_count.to_s, section: list.title } %>
        </div>
      <% end %>
      <%= render partial: "shared/browse_related_topics", locals: { page: page, index_section_count: index_section_count.to_s } %>
    </div>
  </div>
</div>
