<% content_for :title, "#{t("shared.browse.prefix")} #{page.title}" %>
<% top_level_title = "#{t("shared.browse.prefix")} #{page.active_top_level_browse_page.title}" %>
<%= render 'shared/tag_meta', tag: page %>
<% content_for :meta_tags do %>
  <meta name='govuk:navigation-page-type' content='Second Level Browse'>
  <meta name="govuk:section" content="<%= meta_section %>">
<% end %>
<% content_for :page_class, "browse" %>

<h1 class="visuallyhidden"><%= t("shared.browse.title") %></h1>

<div class="browse-panes subsection" data-state="subsection" data-module="track-click">
  <div id="subsection" class="subsection-pane pane with-sort">
    <%= render 'links', page: page %>
  </div>

  <div id="section" class="section-pane pane">
    <%= render 'second_level_browse_pages',
      title: top_level_title,
      second_level_browse_pages: page.second_level_browse_pages,
      curated_order: page.second_level_pages_curated? %>
  </div>

  <%= render 'browse/top_level_browse_pages', top_level_browse_pages: page.top_level_browse_pages %>
</div>
