<section>
  <% @taxons.in_groups_of(3, false).each_with_index do |taxons_group, row_index| %>
    <div class="grid-row">
      <% taxons_group.each do |taxon| %>
        <div class="column-one-third">
          <div class="campaign__taxon <%= "campaign__taxon--variable-border" if row_index.eql?(0) %> ">
            <%= render "govuk_publishing_components/components/heading", {
              text: taxon.title,
              padding: true,
              font_size: 24,
              heading_level: 3
            } %>

            <% if taxon.content.empty? %>
              <p class="campaign__no-content">There's no Brexit guidance on this topic yet - <a href="https://finder-frontend-pr-706.herokuapp.com/prepare-individual-uk-leaving-eu?topic=<%= taxon.base_path %>">sign up for updates about <%= taxon.title.downcase %></a>
            <% else %>
              <%= render "components/topic-list", {
                items: taxon.content
                  } %>

              <a href="https://finder-frontend-pr-706.herokuapp.com/prepare-individual-uk-leaving-eu?topic=<%= taxon.base_path %>"
                class="campaign__see-more"><%= t('campaign.see_more') %></a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
