<section class="grid-row">
  <div class="column-two-thirds">
    <% @taxons.in_groups_of(2, false).each_with_index do |taxons_group, row_index| %>
      <div class="grid-row">
        <% taxons_group.each do |taxon| %>
          <div class="column-half">
            <div class="campaign__taxon <%= "campaign__taxon--variable-border" if row_index.eql?(0) %> ">
              <%= render "govuk_publishing_components/components/heading", {
                text: taxon.title,
                font_size: 24,
                padding: true,
                heading_level: 3
              } %>

              <% if taxon.content.empty? %>
                <p class="campaign__no-content">There's no EU Exit guidance on this topic yet - <a href="https://finder-frontend-pr-706.herokuapp.com/prepare-individual-uk-leaving-eu?topic=<%= taxon.base_path %>">sign up for updates about <%= taxon.title.downcase %></a>
              <% else %>
                <%= render "components/topic-list", {
                  items: taxon.content
                    } %>

                <a href="https://finder-frontend-pr-706.herokuapp.com/prepare-individual-uk-leaving-eu?topic=<%= taxon.base_path %>"
                  class="campaign__see-more"
                  aria-label="<%= t('campaign.see_more_in_taxon', topic: taxon.title.downcase) %>"><%= t('campaign.see_more') %></a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="column-one-third">
    <%= render "govuk_publishing_components/components/heading", {
      text: "All topics",
      padding: true,
      font_size: 24,
      heading_level: 2
    } %>

    <%= render 'components/taxon-list', {
        items: @all_topics_links
    } %>
  </div>
</section>
