<%= content_for :title, 'Prepare for the UK leaving the EU' %>

<% content_for :meta_tags do %>
  <%= tag("meta", name: "description", content: @campaign.description) if @campaign.description %>
<% end %>

<%= render partial: 'header' %>

<div class="full-page-width-wrapper">
  <%= render partial: 'all_taxons' %>
  <%= render partial: 'all_topics' %>
</div>
