<%= content_for :title, 'Prepare for the UK leaving the EU' %>

<%= render partial: 'header' %>

<div class="taxon-page__email-link-wrapper">
  <div class="full-page-width-wrapper">
      <%= render "components/email-link", {
        text: t('campaign.email_signup'),
        href: "https://www.gov.uk/email-signup/?topic=/government/brexit",
        data: {
          module: "track-click",
          track_category: "emailAlertLinkClicked",
          track_action: "signup link goes here",
          track_label: ""
        }
      } %>
  </div>
</div>

<div class="a-to-z-wrapper" style="margin-bottom: 20px">
  <div class="full-page-width-wrapper">
    <%= render "govuk_publishing_components/components/heading", {
        text: "A to Z"
    } %>
  </div>
</div>

<div class="full-page-width-wrapper">
  <%= render partial: 'latest_documents_by_type' %>
</div>


<%= render partial: 'different_guidance' %>
