<header class="covid__page-header covid__page-header--business">
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: title[:context],
          title: title[:text],
          inverse: true,
          margin_top: 4,
          margin_bottom: 0,
        } %>
      </div>
    </div>
  </div>

  <div class="covid__page-header-light">
    <div class="govuk-width-container">
      <div class="govuk-grid-row covid__business-list-wrapper">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: details.header_section["pretext"],
            font_size: 19,
            margin_bottom: 3,
            inverse: true
          } %>
          <ul class="covid__list covid__list--header">
            <% details.header_section["list"].each do | item | %>
              <li class="covid__list-item"><%= item %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <%# <%= render "govuk_publishing_components/components/heading", {
        text: details.announcements_label,
        padding: true,
        font_size: 19,
        border_top: 2,
        brand: 'public-health-england',
        inverse: true
      } %>

      <%# <%= render partial: 'coronavirus_landing_page/components/shared/announcements', locals: { announcements: details.announcements } %>
    </div>
  </div>
  <%= render 'coronavirus_landing_page/components/business/guidance_section', guidance: details.guidance_section, related: details.related_links %>
</header>
