<% content_for :title, "All categories" %>
<% content_for :page_class, "browse" %>
<% content_for :meta_tags do %>
  <meta name='govuk:navigation-page-type' content='Browse Index'>
<% end %>

<div class="article-container group">

  <div class="content-block">
    <div class="inner">

      <%= render "govuk_publishing_components/components/heading", {
          text: "Search for a topic"
      } %>
      <%= form_tag({controller: "taxon_searches", action: "create"}, { remote: true, method: :post, format: :js } ) do %>
        <%= render "govuk_publishing_components/components/search", {} %>
      <% end %>
    </div>
    <div class="inner">
      <div id="answer">

      </div>
    </div>
    <div class="inner" style="margin-top: 50px;">
      <div>
        <h3>Other results from GOV.UK</h3>
      </div>
      <div id="results">

      </div>
    </div>
    <div class="inner">
      <div style="margin-top: 50px">
        <p>Fun searches to do and their rank in top 500 searches:</p>

        <%= render "govuk_publishing_components/components/heading", { text: "Servicey things" } %>
        <p>personal tax account (12)</p>
        <p>self assessment (16)</p>
        <p>driving test (24)</p>
        <p>contact hmrc (51)</p>
        <p>find a job (48)</p>
        <p>universal credit login (66)</p>

        <%= render "govuk_publishing_components/components/heading", { text: "Forms" } %>
        <p>p800 refund (104)</p>
        <p>ex50 (263)</p>
        <p>ilr (268)</p>
        <p>P60</p>

        <%= render "govuk_publishing_components/components/heading", { text: "Topics/ guidance" } %>
        <p>Uniform tax (99)</p>
        <p>crisis loan (448)</p>
        <p>student finance (33)</p>
        <p>esa (40)</p>
        <p>ssp (83)</p>

        <%= render "govuk_publishing_components/components/heading", { text: "Departments" } %>
        <p>hmrc (21)</p>
        <p>dexeu (293)</p>
        <p>dwp (194)</p>

        <%= render "govuk_publishing_components/components/heading", { text: "Search by any country to get travel advice" } %>
      </div>
    </div>
  </div>
</div>



<style>
  .second-level-taxon-result {
    width: 100% !important;
    display: inline-block;
  }
</style>

<script>

  $(document).on("click", "#score", function(){
     alert(averagePrecision());
  });

  function retrievedDocs(){
      return $('.document').length;
  }

  function relevantDocs(){
      var numberRelevantDocs = 0;
      $('input:checked').each(function(){
          numberRelevantDocs += parseFloat($(this).val());
      });
      return parseFloat(numberRelevantDocs);
  }

  function averagePrecision(){
      documentTotal = 0;
      var docs = retrievedDocs();
      for(var i=0; i < docs; ++i) {
          documentTotal += precisionAtCutOff(i) * scoreAtRank(i);
      }
      if(documentTotal > 0){
          return documentTotal / parseFloat(relevantDocs());
      } else {
          return 0;
      }
  }

  function precisionAtCutOff(rank){
      totalScore = 0;
      for(var i=0; i < rank; ++i) {
        totalScore += scoreAtRank(i);
      }
      return (totalScore / parseFloat(rank + 1));
  }

  function scoreAtRank(rank){
    return parseFloat($('input:checked[data-rank=' + rank + ']').val());
  }


</script>