<% add_view_stylesheet("browse") %>

<% content_for :title, t("browse.title") %>

<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "Browse level 0",
      navigation_list_type: "default",
      section: "topics",
    }
  } %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render "shared/browse_breadcrumbs" %>
<% end %>

<%= render "shared/browse_header", { margin_bottom: 9 } do %>
  <h1 class="browse__heading govuk-heading-xl">
    <%= t("browse.title") %>
  </h1>
  <%= render "govuk_publishing_components/components/lead_paragraph", {
    text: t("browse.description"),
    margin_bottom: 2,
    inverse: true
  } %>
<% end %>

<% total_links = page.top_level_browse_pages.count.to_s %>
<%= render "shared/browse_cards_container" do %>
  <ul class="browse__chevron-cards">
  <% page.top_level_browse_pages.map.each_with_index do | top_level_browse_page, index | %>
    <%= render partial: "browse/chevron_card", locals: {
      title: top_level_browse_page.title,
      link: top_level_browse_page.base_path,
      description: top_level_browse_page.description,
      sub_heading_level: 2,
      data_attributes: {
        track_category: "browseClicked",
        track_action: "topicsLink",
        track_label: top_level_browse_page.base_path,
        track_dimension: top_level_browse_page.title,
        track_options: {
          dimension28: total_links,
          dimension29: top_level_browse_page.title,
          dimension114: index + 1,
        },
        ga4_link: {
          event_name: "navigation",
          type: "browse card",
          index_link: index + 1,
          index_total: total_links,
        },
      }
    } %>
  <% end %>
  </ul>
<% end %>
