<% content_for :title, "#{t("shared.browse.prefix")} #{page.title}" %>

<%= render 'shared/tag_meta', tag: page %>

<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "Browse level 1 - #{page.second_level_pages_curated? ? "curated" : "uncurated"}",
    }
  } %>
<% end %>

<% content_for :breadcrumbs do %>
  <div class="topic-page__breadcrumb-wrapper">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/breadcrumbs", {
            breadcrumbs: [
              {
                title: "Home",
                url: "/"
              },
              {
                title: "Topics",
                url: "/browse"
              },
            ],
            collapse_on_mobile: true,
            inverse: true,
          } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="topic-page__header-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="topic-page__heading govuk-heading-xl">
          <%= page.title %>
        </h1>
        <p class="gem-c-lead-paragraph gem-c-lead-paragraph--inverse">
          <%= page.description %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-top-9"  data-module="gem-track-click">
      <%= render "govuk_publishing_components/components/cards", {
        items: page.second_level_browse_pages.map.with_index do |second_level_browse_page, index|
          {
            link: {
              text: second_level_browse_page.title,
              path: second_level_browse_page.base_path,
              data_attributes: {
                track_category: 'browseClicked',
                track_action: "topicsLink",
                track_label: second_level_browse_page.base_path,
                track_dimension: second_level_browse_page.title,
                track_options: {
                  dimension28: index + 1,
                  dimension29: second_level_browse_page.title,
                },
              }
            },
            description: second_level_browse_page.description,
          }
        end
      } %>
    </div>
  </div>
</div>
