<% content_for :title, "#{t("shared.browse.prefix")} #{page.title}" %>
<%= render 'shared/tag_meta', tag: page %>
<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "First Level Browse",
      section: yield(:title).downcase.sub!('browse: ', ''),
    }
  } %>
<% end %>

<h1 class="govuk-visually-hidden"><%= t("shared.browse.title") %></h1>

<div class="browse <%= 'browse--two-columns' if page.second_level_browse_pages %>" data-state="section" data-module="browse-columns">
  <div id="subsection" class="browse__subsection-pane"></div>
  <div id="section" class="browse__section-pane">
    <%= render 'second_level_browse_page/second_level_browse_pages',
          title: yield(:title),
          second_level_browse_pages: page.second_level_browse_pages,
          curated_order: page.second_level_pages_curated? %>
  </div>

  <%= render 'browse/top_level_browse_pages',
        top_level_browse_pages: page.top_level_browse_pages %>
</div>
