<% content_for :title, "#{@page.title} - GOV.UK" %>
<%= render 'shared/tag_meta', tag: @page %>
<% content_for :page_class, "browse" %>

<% content_for :extra_headers do %>
  <%= render partial: 'govuk_component/analytics_meta_tags', locals: { content_item: @content_item } %>
  <meta name="govuk:section" content="<%= @meta_section %>">
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: 'govuk_component/breadcrumbs', locals: @navigation_helpers.breadcrumbs %>
  <div class="header-context"><!-- Deliberately empty. This will prevent Static from adding a placeholder breadcrumb. --></div>
<% end %>

<div class="browse-panes subsection" data-state="subsection">
  <div id="subsection" class="pane with-sort">
    <%= render 'links' %>
  </div>


  <div id="section" class="pane">
    <%= render 'second_level_browse_pages',
      title: @page.active_top_level_browse_page.title,
      second_level_browse_pages: @page.second_level_browse_pages,
      curated_order: @page.second_level_pages_curated? %>
  </div>

  <%= render 'top_level_browse_pages',
    top_level_browse_pages: @page.top_level_browse_pages %>
</div>
