<% add_view_stylesheet("browse") %>

<% content_for :title, page.title %>

<%= render 'shared/tag_meta', tag: page %>

<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "Browse level 1",
      navigation_list_type: page.second_level_pages_curated? ? "curated" : "default",
      section: page.title.downcase,
    }
  } %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render "shared/browse_breadcrumbs", {
    column_two_thirds: true
  } %>
<% end %>

<%= render "shared/browse_header", { margin_bottom: page.slug == "benefits" ? 7 : 9 } do %>
  <h1 class="browse__heading govuk-heading-xl">
    <%= page.title %>
  </h1>
  <%= render "govuk_publishing_components/components/lead_paragraph", {
    text: page.description,
    margin_bottom: 2,
    inverse: true
  } %>
<% end %>

<% if display_action_links_for_slug?(page.slug) %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="browse__action-links">
          <%= render "govuk_publishing_components/components/heading", {
            text: t("browse.popular_tasks"),
            margin_bottom: 6,
            font_size: "m"
          } %>
          <ul class="govuk-list govuk-!-margin-bottom-7">
            <% action_link_data(page.slug).each do |link| %>
              <li>
                <%= render "shared/browse_action_link", locals: link %>
              </li>
            <% end %>
          </ul>
        </div>

        <%= render "govuk_publishing_components/components/heading", {
          text: t("browse.topics"),
          margin_bottom: 6,
          font_size: "m"
        } %>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/browse_cards_container" do %>
  <% if new_browse_variant_b? %>
    <%= render partial: "browse/browse_list", locals: { page: page } %>
  <% else %>
    <%= render partial: "browse/browse_grid", locals: { page: page } %>
  <% end %>
<% end %>
