<% content_for :title, "#{t("shared.browse.prefix")} #{page.title}" %>
<%= render 'shared/tag_meta', tag: page %>
<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      navigation_page_type: "First Level Browse",
    }
  } %>
<% end %>
<% content_for :page_class, "browse" %>

<h1 class="govuk-visually-hidden"><%= t("shared.browse.title") %></h1>

<% if request.url.include?("/browse/benefits") %>
  <%= render "govuk_publishing_components/components/intervention", {
    suggestion_text: "Help improve GOV.UK",
    suggestion_link_text: "Sign up to take part in user research",
    suggestion_link_url: "https://www.optimalworkshop.com/treejack/",
    new_tab: true,
  } %>
<% end %>

<div class="browse-panes section" data-state="section" data-module="gem-track-click">
  <div id="section" class="section-pane pane with-sort">
    <%= render 'second_level_browse_page/second_level_browse_pages',
          title: yield(:title),
          second_level_browse_pages: page.second_level_browse_pages,
          curated_order: page.second_level_pages_curated? %>
  </div>

  <%= render 'browse/top_level_browse_pages',
        top_level_browse_pages: page.top_level_browse_pages %>
</div>
