<% content_for :title, "#{content_item.title} - GOV.UK" %>
<%= render 'shared/tag_meta', tag: content_item %>
<% content_for :page_class, "browse" %>

<% content_for :extra_headers do %>
  <%= render partial: 'govuk_component/analytics_meta_tags',
    locals: { content_item: content_item.to_hash } %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render 'breadcrumbs', navigation_helpers: @navigation_helpers %>
<% end %>

<div class="browse-panes section" data-state="section">
  <div id="section" class="section-pane pane with-sort">
    <%= render 'second_level_browse_page/second_level_browse_pages',
          title: content_item.title,
          second_level_browse_pages: content_item.second_level_browse_pages,
          curated_order: content_item.second_level_pages_curated? %>
  </div>

  <%= render 'browse/top_level_browse_pages',
        top_level_browse_pages: content_item.top_level_browse_pages %>
</div>
