<% content_for :title, page.title %>
<%= render 'shared/tag_meta', tag: page %>
<% content_for :meta_tags do %>
  <% if is_page_under_ab_test %>
    <%= ab_variant.analytics_meta_tag.html_safe %>
    <%= legacy_navigation_meta_tag(legacy_navigation_analytics_identifier).html_safe %>
  <% end %>
  <meta name='govuk:navigation-page-type' content='First Level Browse'>
<% end %>
<% content_for :page_class, "browse" %>

<div class="browse-panes section" data-state="section" data-module="track-click">
  <div id="section" class="section-pane pane with-sort">
    <%= render 'second_level_browse_page/second_level_browse_pages',
          title: page.title,
          second_level_browse_pages: page.second_level_browse_pages,
          curated_order: page.second_level_pages_curated? %>
  </div>

  <%= render 'browse/top_level_browse_pages',
        top_level_browse_pages: page.top_level_browse_pages,
        ab_variant: ab_variant %>
</div>
