<% content_for :title, "#{sub_section_tag.title} - GOV.UK" %>
<% content_for :page_class, "browse" %>

<div class="browse-panes subsection" data-state="subsection">
  <div id="subsection" class="pane with-sort">
    <%= render 'subsection' %>
  </div>

  <div id="section" class="pane">
    <div class="pane-inner">
      <h1 tabindex="-1"><%= section_tag.title %></h1>
      <ul>
        <% section_tags.each do |section_tag| %>
          <li<%= ' class="active"'.html_safe if sub_section_tag.slug == section_tag.slug %>>
            <%= link_to section_tag.web_url do %>
              <h3><%= section_tag.title %></h3>
              <p><%= section_tag.details.description %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="root" class="pane">
    <h1 class="visuallyhidden" tabindex="-1">All categories</h1>
    <ul>
      <% root_sections.each do |root_section| %>
        <li<%= ' class="active"'.html_safe if section_tag.slug == root_section.slug %>>
          <%= link_to root_section.title, root_section.web_url %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
