<% content_for :title, "#{subtopic.title}: latest documents" %>
<% content_for :page_title do %>
  <%= render "govuk_publishing_components/components/title", {
        title: "Latest documents",
        context: { text: subtopic.title, href: subtopic.base_path }
      } %>
<% end %>

<% content_for :meta_tags do %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      section: meta_section,
    }
  } %>
  <meta name="robots" content="noindex">
<% end %>

<% content_for :breadcrumbs do %>
  <%= render 'govuk_publishing_components/components/breadcrumbs', {
    breadcrumbs: hardcoded_breadcrumbs,
    collapse_on_mobile: true
  } %>
<% end %>

<%= render(
  layout: "subtopics/subtopic",
  locals: {
    subtopic: subtopic,
    organisations: organisations(subtopic.content_id),
    link_to_latest_feed: false,
  }) do %>
  <ul class="changed-documents">
    <% subtopic.changed_documents.each do |document| -%>
      <li>
        <a href="<%= document.base_path %>"><%= document.title %></a>

        <% if document.public_updated_at %>
          <time class="updated-at" datetime="<%= document.public_updated_at.iso8601 %>">
            <%= document.public_updated_at.strftime("%-d %B %Y") %>
          </time>
        <% end %>

        <% if document.change_note %>
          <p>
            <%= document.change_note %>
          </p>
        <% end %>
      </li>
    <% end -%>
  </ul>

  <%= render "govuk_publishing_components/components/previous_and_next_navigation", pagination_presenter.previous_and_next_navigation %>
<% end %>
