<% content_for :title, "#{subtopic.title}: latest documents" %>
<% content_for :page_title do %>
  <%= render "govuk_component/title", {
        title: "Latest documents",
        context: { text: subtopic.title, href: subtopic.base_path }
      } %>
<% end %>

<% content_for :meta_section do %>
  <meta name="govuk:section" content="<%= meta_section %>">
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: 'govuk_component/breadcrumbs',
    locals: hardcoded_breadcrumbs %>
<% end %>

<%= render(
  layout: "subtopics/subtopic",
  locals: {
    subtopic: subtopic,
    organisations: organisations(subtopic.content_id),
    link_to_latest_feed: false,
  }) do %>
  <ul class="changed-documents">
    <% subtopic.changed_documents.each do |document| -%>
      <li>
        <h3><a href="<%= document.base_path %>"><%= document.title %></a></h3>

        <% if document.public_updated_at %>
          <time class="updated-at" datetime="<%= document.public_updated_at.iso8601 %>">
            <%= document.public_updated_at.strftime("%-d %B %Y") %>
          </time>
        <% end %>

        <% if document.change_note %>
          <p>
            <%= document.change_note %>
          </p>
        <% end %>
      </li>
    <% end -%>
  </ul>

  <%= render "govuk_component/previous_and_next_navigation", pagination_presenter.previous_and_next_navigation %>
<% end %>
