<%= render "govuk_publishing_components/components/govspeak", {
} do %>
  <div class="covid__video-placeholder">
    <div class="covid__video-logo"><%= live_stream["no_cookies"]["icon_text"] %></div>
    <p class="govuk-body">
      <a href="<%= live_stream["no_cookies"]["change_settings_link"] %>" class="govuk-link covid__page-header-link covid__bold">
        <%= live_stream["no_cookies"]["change_settings"] %>
      </a>
    </p>
    <p class="govuk-body covid__bold">
      <%= live_stream["no_cookies"]["to_watch"] %>
    </p>
    <p class="govuk-body">
      <%= live_stream["no_cookies"]["or"] %>
    </p>
    <a
      href="<%= live_stream["video_url"] %>"
      class="govuk-body govuk-link covid__page-header-link"
      data-youtube-player-analytics="true"
      data-youtube-player-analytics-category="EmbeddedYoutube"
    >
      <%= live_stream["no_cookies"]["watch_link_text"] %>
    </a>
  </div>
<% end %>
<p class="govuk-body">
  <%= live_stream["date_text"] %> <%= details.todays_date %> <%= ("at " + live_stream["time"]) if live_stream["time"].present? %>
</p>
