<div class="govuk-grid-row covid__video">
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/heading", {
      text: details["title"],
      font_size: 19,
      inverse: true,
      margin_bottom: 1
    } %>
    <p class="govuk-body covid__inverse">
      <%= details["date"] %> <%= ("at " + details["time"]) if details["time"].present? %>
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <div class="covid__video-placeholder">
        <div class="covid__video-logo">Live</div>
        <p class="govuk-body">
          <a href="<%= details["no_cookies"]["change_settings_link"] %>" class="govuk-link covid__page-header-link covid__bold">
            <%= details["no_cookies"]["change_settings"] %>
          </a>
        </p>
        <p class="govuk-body covid__inverse covid__bold">
          <%= details["no_cookies"]["to_watch"] %>
        </p>
        <p class="govuk-body covid__inverse">
          <%= details["no_cookies"]["or"] %>
        </p>
        <a href="<%= details["video_url"] %>" class="govuk-body govuk-link covid__page-header-link">
          <%= details["no_cookies"]["watch_link_text"] %>
        </a>
      </div>
    <% end %>
  </div>
</div>
