<header class="covid__page-header covid__page-header--landing-page">
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row covid__page-header-title-wrapper">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: title[:context],
          title: raw(title[:text]),
          inverse: true,
          margin_top: 4
        } %>
      </div>
      <div class="covid__logo-wrapper">
        <%= render 'coronavirus_landing_page/components/shared/covid_logos' %>
      </div>
    </div>
  </div>

  <div class="covid__page-header-light">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: rules["pretext"],
            font_size: 19,
            margin_bottom: 3,
            inverse: true
          } %>
          <p class="govuk-body covid__inverse">
            <%= guidance["pretext-1"] %>
          </p>
          <ul class="covid__list covid__list--header">
            <% rules["list"].each do | item | %>
              <li class="covid__list-item"><%= item %></li>
            <% end %>
          </ul>

          <p class="govuk-body covid__inverse">
            <%= guidance["pretext-2"] %>
          </p>
        </div>
      </div>

      <div class="govuk-grid-row covid__action-link-wrapper">
        <div class="govuk-grid-column-two-thirds">
          <%= render 'components/action-link', {
            light_text: true,
            href: guidance["link"]["href"],
            text: guidance["link"]["link_text"],
            nowrap_text: guidance["link"]["link_nowrap_text"],
            data: {
              module: "track-click",
              track_category: "pageElementInteraction",
              track_action: "Announcements",
              track_label: guidance["link"]["href"]
            }
          } %>
        </div>
      </div>
    </div>
  </div>
</header>
