<% content_for :breadcrumbs do %>
  <%= render 'coronavirus_landing_page/components/shared/breadcrumbs', {
    breadcrumbs: breadcrumbs
  } %>
<% end %>

<%= render "govuk_publishing_components/components/inverse_header", { 
  full_width: true,
  padding_top: 1,
  margin_bottom: 8,
  padding_bottom: 0
} do %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: raw(title),
            heading_level: 1,
            font_size: "xl",
            margin_bottom: 8
          } %>
      </div>
    </div>
  </div>

  <div class="covid__page-header-content-section covid__page-guidance">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: header["title"],
            font_size: 19,
            margin_bottom: 6
          } %>

          <div class="covid__page-header-content">
            <%= render_govspeak(header["intro"]) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
