<header class="covid__page-header covid__page-header--landing-page">
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: title[:context],
          title: raw(title[:text]),
          inverse: true,
          margin_top: 4
        } %>
      </div>
    </div>
  </div>

  <div class="covid__page-header-content-section covid__page-guidance">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: header["title"],
            font_size: 19,
            margin_bottom: 6
          } %>

          <div class="covid__page-header-content">
            <%= render_govspeak(header["intro"]) %>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row covid__action-link-wrapper">
        <div class="govuk-grid-column-two-thirds">
          <%= render 'govuk_publishing_components/components/action_link', {
            blue_arrow: true,
            href: header["link"]["href"],
            text: header["link"]["link_text"],
            subtext: header["link"]["subtext"],
            mobile_subtext: true,
            nowrap_text: header["link"]["link_nowrap_text"],
            data: {
              module: "gem-track-click",
              track_category: "pageElementInteraction",
              track_action: "Announcements",
              track_label: header["link"]["href"]
            }
          } %>
        </div>
      </div>
    </div>
  </div>
</header>
