<header class="covid__page-header covid__page-header--landing-page">
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row covid__page-header-title-wrapper">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: title[:context],
          title: raw(title[:text]),
          inverse: true,
          margin_top: 4
        } %>
      </div>
      <div class="covid__logo-wrapper">
        <%= render 'coronavirus_landing_page/components/shared/covid_logos' %>
      </div>
    </div>
  </div>

  <div class="covid__page-header-light">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: "Stay alert",
            font_size: 19,
            margin_bottom: 3,
            inverse: true
          } %>
          <p class="govuk-body covid__inverse">
            We can all help control the virus if we all stay alert. This means you must: 
          </p>
          <ul class="covid__list covid__list--header">
            <% [
              "Stay at home as much as possible",
              "Work from home if you can",
              "Limit contact with other people",
              "Keep your distance if you go out (2 metres apart where possible)",
              "Wash your hands regularly"
            ].each do | item | %>
              <li class="covid__list-item"><%= item %></li>
            <% end %>
          </ul>

          <p class="govuk-body covid__inverse">
            Self-isolate if you or anyone in your household has symptoms.
          </p>

          <p class="govuk-body covid__inverse">
            Read the
            <a class="govuk-link covid__page-header-link" href="/government/speeches/pm-address-to-the-nation-on-coronavirus-10-may-2020">Prime Minister's address</a>
            for the latest information.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
