<header class="covid__page-header covid__page-header--landing-page">
  <div class="govuk-width-container covid__page-header-title-wrapper">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      breadcrumbs: breadcrumbs,
      collapse_on_mobile: true,
      inverse: true
    } %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/title", {
          context: title[:context],
          title: raw(title[:text]),
          inverse: true,
          margin_top: 4
        } %>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="covid__logo-wrapper">
          <%= render 'coronavirus_landing_page/components/landing_page/hand-face-space-fresh-air.svg' %>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-column-full covid__page-header-title-section-break">
        <hr class="govuk-section-break govuk-section-break--visible covid__page-header-title-section-break--white">
      </div>
    </div>
  </div>

  <div class="covid__page-header-content-section">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render "govuk_publishing_components/components/heading", {
            text: header["title"],
            font_size: 19,
            margin_bottom: 6,
            inverse: true
          } %>

          <div class="covid__page-header-content">
            <%= render_govspeak(header["intro"], inverse: true) %>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row covid__action-link-wrapper">
        <div class="govuk-grid-column-two-thirds">
          <% if header["link2"] && header["link3"] %>
            <%= render 'govuk_publishing_components/components/action_link', {
              light_text: true,
              small_icon: true,
              href: header["link2"]["href"],
              text: header["link2"]["link_text"],
              nowrap_text: header["link2"]["link_nowrap_text"],
              margin_bottom: 2,
              data: {
                module: "gem-track-click",
                track_category: "pageElementInteraction",
                track_action: "Announcements",
                track_label: header["link2"]["href"]
              }
            } %>
            <%= render 'govuk_publishing_components/components/action_link', {
              light_text: true,
              small_icon: true,
              href: header["link3"]["href"],
              text: header["link3"]["link_text"],
              nowrap_text: header["link3"]["link_nowrap_text"],
              data: {
                module: "gem-track-click",
                track_category: "pageElementInteraction",
                track_action: "Announcements",
                track_label: header["link3"]["href"]
              }
            } %>
          <% else %>
            <%= render 'govuk_publishing_components/components/action_link', {
              light_text: true,
              transparent_icon: true,
              href: header["link"]["href"],
              text: header["link"]["link_text"],
              subtext: header["link"]["subtext"],
              mobile_subtext: true,
              nowrap_text: header["link"]["link_nowrap_text"],
              data: {
                module: "gem-track-click",
                track_category: "pageElementInteraction",
                track_action: "Announcements",
                track_label: header["link"]["href"]
              }
            } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
