<% if data["show_risk_level_section"] %>
  <%= render "govuk_publishing_components/components/govspeak", {
  } do %>
    <div class="info-notice">
      <% if data["heading"].present? %>
        <h3><%= data["heading"] %></h3>
      <% end %>
      <% if data["paragraph"].present? %>
        <p class="govuk-body">
          <%= highlight(data["paragraph"], data["bold_text"], highlighter: '<strong>\1</strong>') %>
        </p>
      <% end %>
      <% if data["link"].present? %>
        <p class="govuk-body">
          <a href="<%= data["link"]["href"] %>"><%= data["link"]["text"] %></a>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
