<section class="covid__topic-wrapper">
  <%= render "govuk_publishing_components/components/heading", {
    text: topic_section["header"],
    padding: true,
    border_top: 2,
    margin_bottom: 6
  } %>

  <% if statistics && statistics.cumulative_vaccinations %>
    <%= render "coronavirus_landing_page/components/landing_page/statistic", {
      title: "Total vaccinations",
      stat: "#{number_with_precision(statistics.cumulative_vaccinations / 1_000_000.0, precision: 1)} million",
      subtext: "people have received their first dose",
      last_updated_date: statistics.cumulative_vaccinations_date,
      guidance_link: {
        label: "Vaccination data from the coronavirus data dashboard",
        href: "https://coronavirus.data.gov.uk/details/vaccinations",
      },
    } %>
  <% end %>

  <% if statistics && statistics.hospital_admissions %>
    <%= render "coronavirus_landing_page/components/landing_page/statistic", {
      title: "Daily hospital admissions",
      stat: number_with_delimiter(statistics.hospital_admissions),
      subtext: "new patients have been admitted to hospital",
      last_updated_date: statistics.hospital_admissions_date,
      guidance_link: {
        label: "Healthcare data from the coronavirus data dashboard",
        href: "https://coronavirus.data.gov.uk/details/healthcare",
      },
    } %>
  <% end %>

  <% if statistics && statistics.new_positive_tests %>
    <%= render "coronavirus_landing_page/components/landing_page/statistic", {
      title: "Daily new cases",
      stat: number_with_delimiter(statistics.new_positive_tests),
      subtext: "people tested positive with COVID-19",
      last_updated_date: statistics.new_positive_tests_date,
      guidance_link: {
        label: "Cases data from the coronavirus data dashboard",
        href: "https://coronavirus.data.gov.uk/details/cases",
      },
    } %>
  <% end %>

  <ul class="govuk-list">
    <% topic_section["links"].each do | link | %>
      <li class="covid__topic-list-item">
        <%= link_to(
          link["label"].html_safe,
          link["url"],
          class: 'covid__topic-list-link govuk-link',
          data: {
            module: "gem-track-click",
            track_category: "pageElementInteraction",
            track_action: "Statistics",
            track_label: link["url"],
          },
        ) %>
      </li>
    <% end %>
  </ul>
</section>
