<%= render "govuk_publishing_components/components/heading", {
  text: topic_section["header"],
  margin_bottom: 6,
  font_size: "m"
} %>

<% link = topic_section["links"].shift %>
<p class="govuk-body govuk-!-margin-bottom-6">
  <%= link_to(
    link["label"].html_safe,
    link["url"],
    class: 'govuk-link',
    data: {
      module: "gem-track-click",
      track_category: "pageElementInteraction",
      track_action: "Statistics",
      track_label: link["url"],
    },
  ) %>
</p>

<% if statistics %>
  <div class="govuk-grid-row">
    <% if statistics.new_positive_tests %>
      <div class="govuk-grid-column-one-third">
        <%= render "govuk_publishing_components/components/heading", {
          text: topic_section.dig("tests", "title"),
          margin_bottom: 4,
          font_size: "s",
          heading_level: 3
        } %>
        <p class="govuk-body">
          <span class="covid-statistics__label"><%= topic_section.dig("tests", "daily_heading") %></span>
          <span class="covid-statistics__data"><%= number_with_delimiter(statistics.new_positive_tests) %></span>
        </p>
        <p class="govuk-body">
          <span class="covid-statistics__label"><%= topic_section.dig("tests", "weekly_heading") %></span>
          <span class="covid-statistics__data"><%= number_with_delimiter(statistics.current_week_positive_tests) %></span>
          <span class="govuk-tag govuk-tag--yellow covid-statistics__tag">
            <%= render partial: 'coronavirus_landing_page/components/landing_page/arrow', locals: { number: statistics.current_week_positive_tests_change_number } %>
            <span class="covid-statistics__data"><%= number_with_delimiter(statistics.current_week_positive_tests_change_number) %></span>
            (<%= number_to_percentage(statistics.current_week_positive_tests_change_percentage, precision: 1) %>)
          </span>
        </p>
        <p class="govuk-body covid-statistics__all-link">
          <%= link_to(
            topic_section.dig("tests", "guidance_link", "label"),
            topic_section.dig("tests", "guidance_link", "url"),
            class: 'govuk-link',
            data: {
              module: "gem-track-click",
              track_category: "pageElementInteraction",
              track_action: "Statistics",
              track_label: topic_section.dig("tests", "guidance_link", "url"),
            },
          ) %>
          <br/>
          <span class="covid-statistics__latest">
            <%= topic_section.dig("updated_date") %> <%= statistics.new_positive_tests_date.strftime("%d %B %Y") %>
          </span>
        </p>
      </div>
    <% end %>

    <% if statistics.hospital_admissions %>
      <div class="govuk-grid-column-one-third">
        <%= render "govuk_publishing_components/components/heading", {
          text: topic_section.dig("admissions", "title"),
          margin_bottom: 4,
          font_size: "s",
          heading_level: 3
        } %>
        <p class="govuk-body">
          <span class="covid-statistics__label"><%= topic_section.dig("admissions", "daily_heading") %></span>
          <span class="covid-statistics__data"><%= number_with_delimiter(statistics.hospital_admissions) %></span>
        </p>

        <p class="govuk-body">
          <span class="covid-statistics__label"><%= topic_section.dig("admissions", "weekly_heading") %></span>
          <span class="covid-statistics__data"><%= number_with_delimiter(statistics.current_week_hospital_admissions) %></span>
          <span class="govuk-tag govuk-tag--yellow covid-statistics__tag">
            <%= render partial: 'coronavirus_landing_page/components/landing_page/arrow', locals: { number: statistics.current_week_hospital_admissions_change_number } %>
            <span class="covid-statistics__data"><%= number_with_delimiter(statistics.current_week_hospital_admissions_change_number) %></span>
            (<%= number_to_percentage(statistics.current_week_hospital_admissions_change_percentage, precision: 1) %>)
          </span>
        </p>
        <p class="govuk-body covid-statistics__all-link">
          <%= link_to(
            topic_section.dig("admissions", "guidance_link", "label"),
            topic_section.dig("admissions", "guidance_link", "url"),
            class: 'govuk-link',
            data: {
              module: "gem-track-click",
              track_category: "pageElementInteraction",
              track_action: "Statistics",
              track_label: topic_section.dig("admissions", "guidance_link", "url"),
            },
          ) %>
          <br/>
          <span class="covid-statistics__latest">
            <%= topic_section.dig("updated_date") %> <%= statistics.hospital_admissions_date.strftime("%d %B %Y") %>
          </span>
        </p>
      </div>
    <% end %>

    <% if statistics.cumulative_first_dose_vaccinations %>
      <div class="govuk-grid-column-one-third">
        <%= render "govuk_publishing_components/components/heading", {
          text: topic_section.dig("vaccinations", "title"),
          margin_bottom: 4,
          font_size: "s",
          heading_level: 3
        } %>
        <p class="govuk-body">
          <span class="covid-statistics__label"><%= topic_section.dig("vaccinations", "first_dose", "heading") %></span>
          <span class="covid-statistics__data">
            <%= number_to_percentage(statistics.percentage_first_vaccine, precision: 1) %>
            (<%= number_with_delimiter(statistics.cumulative_first_dose_vaccinations) %> <%= topic_section.dig("vaccinations", "first_dose", "label") %>)
          </span>
        </p>
        <p class="govuk-body">
          <span class="covid-statistics__label"><%= topic_section.dig("vaccinations", "second_dose", "heading") %></span>
          <span class="covid-statistics__data">
            <%= number_to_percentage(statistics.percentage_second_vaccine, precision: 1) %>
            (<%= number_with_delimiter(statistics.cumulative_second_dose_vaccinations) %> <%= topic_section.dig("vaccinations", "second_dose", "label") %>)
          </span>
        </p>
        <p class="govuk-body covid-statistics__all-link">
          <%= link_to(
            topic_section.dig("vaccinations", "guidance_link", "label"),
            topic_section.dig("vaccinations", "guidance_link", "url"),
            class: 'govuk-link',
            data: {
              module: "gem-track-click",
              track_category: "pageElementInteraction",
              track_action: "Statistics",
              track_label: topic_section.dig("vaccinations", "guidance_link", "url"),
            },
          ) %>
          <br/>
          <span class="covid-statistics__latest">
            <%= topic_section.dig("updated_date") %> <%= statistics.cumulative_vaccinations_date.strftime("%d %B %Y") %>
          </span>
        </p>
      </div>
    <% end %>
  </div>
<% end %>

<ul class="govuk-list">
  <% topic_section["links"].each do | link | %>
    <li class="covid__topic-list-item">
      <%= link_to(
        link["label"].html_safe,
        link["url"],
        class: 'govuk-link',
        data: {
          module: "gem-track-click",
          track_category: "pageElementInteraction",
          track_action: "Statistics",
          track_label: link["url"],
        },
      ) %>
    </li>
  <% end %>
</ul>
