<section class="covid__topic-wrapper">
  <%= render "govuk_publishing_components/components/heading", {
    text: topic_section["header"],
    padding: true,
    border_top: 2,
    margin_bottom: 6
  } %>

  <% if statistics && statistics.cumulative_vaccinations %>
    <div>
      <%= render "govuk_publishing_components/components/heading", {
        text: "Total vaccinations"
      } %>

      <span class="govuk-heading-xl">
        <%= number_with_precision(statistics.cumulative_vaccinations / 1_000_000.0, precision: 1) %>
        million
      </span>

      <p class="govuk-body">people have received their first dose</p>

      <p class="govuk-body">
        Last updated <%= statistics.cumulative_vaccinations_date.strftime("%d %B %Y") %>
      </p>
    </div>
  <% end %>

  <% if statistics && statistics.hospital_admissions %>
    <div>
      <%= render "govuk_publishing_components/components/heading", {
        text: "Daily hospital admissions"
      } %>

      <span class="govuk-heading-xl">
        <%= number_with_delimiter(statistics.hospital_admissions) %>
      </span>

      <p class="govuk-body">new patients have been admitted to hospital</p>

      <p class="govuk-body">
        Last updated <%= statistics.hospital_admissions_date.strftime("%d %B %Y") %>
      </p>
    </div>
  <% end %>

  <% if statistics && statistics.new_positive_tests %>
    <div>
      <%= render "govuk_publishing_components/components/heading", {
        text: "Daily new cases"
      } %>

      <span class="govuk-heading-xl">
        <%= number_with_delimiter(statistics.new_positive_tests) %>
      </span>

      <p class="govuk-body">people tested positive with COVID-19</p>

      <p class="govuk-body">
        Last updated <%= statistics.new_positive_tests_date.strftime("%d %B %Y") %>
      </p>
    </div>
  <% end %>

  <ul class="govuk-list">
    <% topic_section["links"].each do | link | %>
      <li class="covid__topic-list-item">
        <%= link_to(
          link["label"].html_safe,
          link["url"],
          class: 'covid__topic-list-link govuk-link',
          data: {
            module: "gem-track-click",
            track_category: "pageElementInteraction",
            track_action: "Statistics",
            track_label: link["url"],
          },
        ) %>
      </li>
    <% end %>
  </ul>
</section>
