<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/heading", {
      text: topic_section["header"],
      margin_bottom: 6,
      font_size: "m"
    } %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if statistics %>
      <% if statistics.new_positive_tests %>
        <p><%= topic_section.dig("new_positive_tests", "title") %></p>
        <p>Daily</p>
        <p><%= number_with_delimiter(statistics.new_positive_tests) %></p>
        <p>All case data <%=topic_section.dig("new_positive_tests", "guidance_link") %> </p>
        <p>Latest data provided on <%= statistics.new_positive_tests_date %></p>
      <% end %>

      <% if statistics.hospital_admissions %>
        <p><%= topic_section.dig("hospital_admissions", "title") %></p>
        <p>Daily</p>
        <p><%= number_with_delimiter(statistics.hospital_admissions) %></p>
        <p>All healthcare data <%=topic_section.dig("hospital_admissions", "guidance_link") %> </p>
        <p>Latest data provided on <%= statistics.hospital_admissions_date %></p>
      <% end %>

      <% if statistics.cumulative_first_dose_vaccinations %>
        <p><%= topic_section.dig("cumulative_vaccinations", "title") %></p>
        <p>1st dose</p>
        <p><%= number_to_percentage(statistics.percentage_first_vaccine, precision: 1) %></p>
        <p><%= number_with_delimiter(statistics.cumulative_first_dose_vaccinations) %></p>
        <p>2nd dose</p>
        <p><%= number_with_delimiter(statistics.cumulative_second_dose_vaccinations) %></p>
        <p>All vaccination data <%=topic_section.dig("cumulative_vaccinations", "guidance_link") %> </p>
        <p>Latest data provided on <%= statistics.cumulative_vaccinations_date %></p>
      <% end %>
    <% end %>

    <ul class="govuk-list">
      <% topic_section["links"].each do | link | %>
        <li class="covid__topic-list-item">
          <%= link_to(
            link["label"].html_safe,
            link["url"],
            class: 'covid__topic-list-link govuk-link',
            data: {
              module: "gem-track-click",
              track_category: "pageElementInteraction",
              track_action: "Statistics",
              track_label: link["url"],
            },
          ) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
