<% if role.current_holder %>
  <div class="<%= direction_rtl_class %>" <%= t_direction %> <%= lang_attribute %>>
    <span <%= t_lang("roles.headings.current_holder") %>><%= t("roles.headings.current_holder") %></span>:
    <%= link_to role.current_holder["title"], role.current_holder["base_path"] %>
  </div>
<% end %>
