<header class="govuk-grid-row <%= direction_rtl_class %>" <%= dir_attribute %> <%= lang_attribute %>>
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      context: t("roles.ministerial"),
      context_locale: t_fallback("roles.ministerial"),
      title: role.title
    } %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/translation_nav", {
      translations: role.translations
    } %>
  </div>
</header>
