<% page_class "govuk-main-wrapper govuk-main-wrapper--auto-spacing" %>

<header class="govuk-grid-row translation-nav-header <%= direction_rtl_class %>" <%= dir_attribute %> <%= lang_attribute %>>
  <div class="govuk-grid-column-two-thirds translation-nav-header__child">
    <%= render "govuk_publishing_components/components/heading", {
      context: t("roles.ministerial"),
      context_locale: t_fallback("roles.ministerial"),
      text: role.title,
      heading_level: 1,
      margin_bottom: 0,
      font_size: "xl",
    } %>
  </div>

  <div class="govuk-grid-column-one-third translation-nav-header__child">
    <%= render "govuk_publishing_components/components/translation_nav", {
      translations: role.translations,
      no_margin_top: true,
      margin_bottom: 0
    } %>
  </div>
</header>
