<% if role.organisations %>
  <div class="organisations-list <%= direction_rtl_class %>" <%= dir_attribute %> <%= lang_attribute %>>
    <span lang="en"><%= t('roles.organisations') %></span>:
    <%= to_sentence(role.organisations.map { |organisation| link_to(organisation['title'], organisation['base_path'], class: "govuk-link") }) %>
  </div>
<% end %>
