<% content_for :title, role.title %>

<%= render partial: "header", locals: { role: role } %>

<%= render partial: "organisations", locals: { role: role } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Responsibilities",
      id: "responsibilities",
    } %>

    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <%= role.responsibilities.html_safe %>
    <% end %>
  </div>
</div>
