<% content_for :title, role.title %>

<%= render partial: "header", locals: { role: role } %>

<%= render partial: "organisations", locals: { role: role } %>

<%= render partial: "current_holder", locals: { role: role } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render partial: "contents", locals: { role: role } %>
  </div>

  <div class="govuk-grid-column-two-thirds" dir="<%= page_text_direction %>" lang="<%= role.locale %>">
    <%= render partial: "responsibilities", locals: { role: role } %>

    <%= render partial: "current_role_holder_with_biography", locals: { role: role } %>

    <%= render partial: "shared/announcements", locals: { announcements: role.announcements, locale: role.locale } %>
  </div>
</div>
