<% content_for :title, @content_item["title"] %>

<% page_class "historic-appointments-index govuk-width-container" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render "govuk_publishing_components/components/title", {
      context: "History",
      title: @content_item["title"],
    } %>
  </div>
</div>

<%= render partial: "featured_past_foreign_secretaries", locals: { past_foreign_secretaries_image: @selection_of_profiles } %>

<%= render partial: "shared/historical_figures_by_century", locals: { people: @twenty_first_century, heading: "21st century" } %>

<%= render partial: "shared/historical_figures_by_century", locals: { people: @twentieth_century, heading: "20th century" } %>

<%= render partial: "shared/historical_figures_by_century", locals: { people: @nineteenth_century, heading: "19th century" } %>

<%= render partial: "shared/historical_figures_by_century", locals: { people: @eightteenth_century, heading: "18th century" } %>
