<% content_for :title, content_item.title %>

<% content_for :meta_tags do %>
  <meta name="description" content="<%= content_item.description %>">
<% end %>

<% content_for :breadcrumbs do %>
  <%= render 'govuk_component/beta_label' %>
  <%= render 'govuk_component/breadcrumbs', tasklist[:links] %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'govuk_component/title',
        title: tasklist[:title],
        average_title_length: 'long',
        margin_bottom: 0 %>

    <div class="govuk-govspeak"><%= raw(tasklist[:description]) %></div>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= render "components/task_list", tasklist[:tasklist] %>
  </div>
</div>
