<% content_for :title, t("ministers.govuk_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/title", {
      title: t("ministers.title"),
    } %>

    <% unless @presented_ministers.is_during_reshuffle? %>
      <%= render "govuk_publishing_components/components/lead_paragraph", {
        text: sanitize(@presented_ministers.lead_paragraph)
      } %>
    <% end %>
  </div>
</div>

<% if @presented_ministers.is_during_reshuffle? %>
  <%= render "govuk_publishing_components/components/notice", {
    description_govspeak: sanitize(@presented_ministers.reshuffle_messaging),
  } %>
<% else %>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("ministers.cabinet"),
      id: "cabinet-ministers",
      margin_bottom: 4,
      padding: true,
    } %>
  </div>
</section>

<section class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("ministers.also_attends"),
      id: "also-attends-cabinet-ministers",
      margin_bottom: 4,
      padding: true,
    } %>
  </div>
</section>

<section class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("ministers.by_department"),
      id: "ministers-by-department",
      margin_bottom: 4,
      padding: true,
    } %>
  </div>
</section>

<section class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("ministers.whips"),
      id: "whips",
      margin_bottom: 4,
      padding: true,
    } %>
  </div>
</section>
<% end %>
