<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - GOV.UK</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :meta_tags %>
  <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>
  <%= stylesheet_link_tag "print.css", :media => "print", integrity: false %>
</head>

<body <% if content_for(:is_full_width_header) %>class="full-width"<% end %>>
  <div class="wrapper" id="wrapper">
    <%= yield :back_link %>
    <% unless (content_for(:is_full_width_header) || content_for(:back_link)) %>
      <% if content_for?(:breadcrumbs) %>
        <%= yield :breadcrumbs %>
      <% else %>
        <%= render 'breadcrumbs' %>
      <% end %>
    <% end %>
    <% if @content_item %>
      <main id="content" role="main" class="content <%= yield :page_class %>" <%= "lang=#{@content_item["locale"]}" unless !@content_item["locale"] || @content_item["locale"].eql?("en") %>>
    <% else %>
      <main id="content" role="main" class="content <%= yield :page_class %>" <%= "lang=#{params["locale"]}" if params["locale"] %>>
    <% end %>
    <%= yield %>
    </main>

    <% if content_for(:is_full_width_header) %>
      <div class="govuk-width-container">
        <%= render 'govuk_publishing_components/components/feedback' %>
      </div>
    <% else %>
      <%= render 'govuk_publishing_components/components/feedback' %>
    <% end %>
  </div>
</body>
</html>
